<ion-nav-view class="contact_Edit">

    <div class="saleList">
        <ion-header-bar align-title="center" class="head pub-head">
            <div class="row row-center">
                <a class="col col-15 text-left goBack" ng-click="goBack()"><i class="ion-chevron-left"></i></a>
                <div class="col col-70 text-center">联系人</div>
                <div class="col col-20 add" ng-click="contactKeepCreatevalue()" style="text-align: left">保存</div>
            </div>
        </ion-header-bar>
    </div>
    <ion-content>
        <div class="list" style="font-size: 16px;margin-top:5px">
            <label class="item item-input">姓名：
                <input type="text" placeholder="请输入姓名" class="contact_editinputsty" ng-model="contactcreat.name">
            </label>
            <label class="item item-input">称谓：
                <select style="margin-left:30px;border: none;padding-right:4px;color:#9B9B9B"  ng-model="contactcreat.contacteditename" ng-options="a.name as a.name for a in edittitleType" ng-change="">
                    <option value="">称谓</option>
                </select>
            </label>
            <label class="item item-input">客户：
                <div class="row" style="margin-top:4px">
                    <div class="col col-74" style="color:#9B9B9B">福州龙福汽车有限责任公司</div>
                    <div class="col col-20" style="text-align: right">
                        <img class="contact_edit_listfor" src="img/employee/Shape@2x.png"></img>
                    </div>
                </div>
            </label>
            <label class="item item-input">电话：
                <input type="number" placeholder="请输入电话号码" class="contact_editinputsty" ng-model="contactcreat.phonenumber">
            </label>
            <label class="item item-input">邮箱：
                <input type="email" placeholder="请输入电子邮箱" class="contact_editinputsty" ng-model="contactcreat.customermail">
            </label>
            <label class="item item-input">地址：
                <input type="text" placeholder="请输入地址" class="contact_editinputsty" ng-model="contactcreat.dizhiname">
            </label>
            <label class="item item-input">部门：
                <input type="text" placeholder="请输入部门名称" class="contact_editinputsty" ng-model="contactcreat.postion">
            </label>
            <label class="item item-input">职能：
                <input type="text" placeholder="请输入职能" class="contact_editinputsty" ng-model="contactcreat.atend">
            </label>
        </div>
    </ion-content>
</ion-nav-view>
