<ion-view class="Contacts_detail">
    <div class="Contacts_backtopb" style="padding-top:20px;height:219px">
        <div class="Contacts_detailtitle">
            <div style="width:40px;height:40px;position: absolute;top: 20px;left: 5px;" ng-click="ContactgoBack()">
                <i class="icon ion-ios-arrow-back publicheadtitlei" style="margin-top:0"></i>
            </div>
            <span class="Contactsdeatil_headtitlespan">联系人详细信息</span>
        </div>
        <div class="Contacts_detailcontent">
            <div class="Contacts_detailcontentname">
                <div class="Contacts_detailcontentcicle"></div><span ng-bind="contactdetails.NAME_LAST"></span>
            </div>
            <div class="Contacts_detailcontentkehu">
                客户:<span ng-bind="contactdetails.NAME_ORG1"></span>
            </div>
            <div class="Contacts_detailcontentphone" ng-click="contactshowphone(contactdetails.TEL_NUMBER)">
                <img src="img/contact/phone@2x.png" style="width:15px;height:15px" class="customerContacts_detailcontentphonei">
                <span>电话/分机</span>
                <span style="margin-left: 4px;" ng-bind="contactdetails.MOB_NUMBER"></span>/<span ng-bind="contactdetails.TEL_EXTENS"></span>
            </div>
            <div class="Contacts_detailcontentmobile" ng-click="contactshowphone(contactdetails.MOB_NUMBER)">
                <img src="img/contact/tel@2x.png" style="width:15px;height:15px" class="Contacts_detailcontentmobilei">
                <span style="margin-left: 4px;" ng-bind="contactdetails.TEL_NUMBER"></span>
            </div>
            <div class="Contacts_detailcontentaddress">
                地址:<span ng-bind="contactdetails.STREET"></span>
            </div>
            <div style="position: fixed;top: 190px;left: 24px;">
                <span>销售员工&nbsp;:</span>
                <span ng-bind="contactdetails.relationsalsname"></span>
            </div>
            <div class="Contacts_detailcontentenum">
                <span>No:</span><span ng-bind="contactdetails.PARTNER"></span>
            </div>
        </div>
    </div>
    <div class="item item-list-detail" style="padding: 0px 3px;border: none;margin-top: 10px;">
        <ion-scroll direction="x" scrollbar-x="false">
                    <span style="position: relative;margin-right:55px;" ng-repeat="lists in customer_detailstypes" ng-click="GocontactLists(lists)">
                        <img class="Contacts_detail_countentbu image-list-thumb" ng-src="{{lists.imgurl}}" alt=""/>
                        <span class="Contacts_detail_countentimgbase" ng-click="GocontactLists(lists)">
                            {{lists.typemane}}
                        </span>
                    </span>
        </ion-scroll>
    </div>
    <div class="Contacts_detail_countentbasic">
        <div class="Contacts_detail_countentbasicinfo">基本信息</div>
        <div class="Contacts_detail_countentbasicline"></div>
        <div class="Contacts_detail_countentbasicclok"></div>
    </div>
    <ion-content style="margin-top:300px">
        <div class="row row-center" style="padding:5px 5px">
            <div class="col col-15" col-center style="margin-left: 7px;">
                注释
            </div>
            <div class="col col-25"></div>
        </div>
        <textarea id="textarea" readonly placeholder="请输入备注" style="width: 100%; padding: 0px 15px 15px 20px;resize: none;min-height: 47px;max-height: 300px;overflow-y: hidden;background-color: white;" ng-bind="contactdetails.conatctdeatilnote"></textarea>
        <div class="employee_query_listline">
        </div>
        <div class="row" style="padding:5px 5px">
            <div class="col col-40" style="margin-left: 7px;">
                称谓
            </div>
            <div class="col col-60" style="color:#AEA3A3">
                <span ng-bind="contactdetails.TITLE_MEDI"></span>
            </div>
        </div>
        <div class="employee_query_listline">
        </div>
        <div class="row" style="padding:5px 5px" ng-click="employeeshowphone(userdetailval.phoneNumber)">
            <div class="col col-40">
                <img src="img/customer/customerchuanz2x.png" style="width:18px;height:15px;float: left;margin-top:2px;margin-left:8px;margin-right: 5px"/>
                传真/分机
            </div>
            <div class="col col-60" style="color:#AEA3A3;margin-left: 7px;">
                <span ng-bind="contactdetails.FAX_NUMBER"></span>/
                <span ng-bind="contactdetails.FAX_EXTENS"></span>
            </div>
        </div>
        <!--<div class="employee_query_listline">-->
        <!--</div>-->
        <!--<div class="row" style="padding:5px 5px" ng-click="employeeshowphone(userdetailval.phoneNumber)">-->
            <!--<div class="col col-40">-->
                <!--<img src="img/customer/customerchuanz2x.png" style="width:18px;height:15px;float: left;margin-top:2px;margin-left:8px;margin-right: 5px"/>-->
                <!--传真分机-->
            <!--</div>-->
            <!--<div class="col col-60" style="color:#AEA3A3;margin-left: 7px;">-->
                <!--<span ng-bind="contactdetails.FAX_EXTENS"></span>-->
            <!--</div>-->
        <!--</div>-->
        <div class="employee_query_listline">
        </div>
        <div class="row" style="padding:5px 5px">
            <div class="col col-40" style="margin-left: 7px;">
                部门
            </div>
            <div class="col col-60" style="color:#AEA3A3">
                <span ng-bind="contactdetails.DPRTMNT"></span>
            </div>
        </div>
        <div class="employee_query_listline">
        </div>
        <div class="row" style="padding:5px 5px">
            <div class="col col-40" style="margin-left: 7px;">
                职能
            </div>
            <div class="col col-60" style="color:#AEA3A3">
                <span ng-bind="contactdetails.FNCTN"></span>
            </div>
        </div>
        <div class="employee_query_listline">
        </div>
        <div class="row" style="padding:5px 5px">
            <div class="col col-40" style="margin-left: 7px;">
                国家
            </div>
            <div class="col col-60" style="color:#AEA3A3">
                <span ng-bind="contactdetails.LANDX"></span>
            </div>
        </div>
        <div class="employee_query_listline">
        </div>
        <div ng-show="showFlag">
            <div class="row" style="padding:5px 5px">
                <div class="col col-40" style="margin-left: 7px;">
                    省份
                </div>
                <div class="col col-60" style="color:#AEA3A3">
                    <span ng-bind="contactdetails.BEZEI"></span>
                </div>
            </div>
            <div class="employee_query_listline"></div>
        </div>
        <div ng-show="showFlag">
            <div class="row" style="padding:5px 5px" >
                <div class="col col-40" style="margin-left: 7px;">
                    城市
                </div>
                <div class="col col-60" style="color:#AEA3A3">
                    <span ng-bind="contactdetails.CITY1"></span>
                </div>
            </div>
            <div class="employee_query_listline"></div>
        </div>
        <div ng-show="showFlag">
            <div class="row" style="padding:5px 5px">
                <div class="col col-40" style="margin-left: 7px;">
                    邮编
                </div>
                <div class="col col-60" style="color:#AEA3A3">
                    <span ng-bind="contactdetails.POST_CODE1"></span>
                </div>
            </div>
            <div class="employee_query_listline">
            </div>
        </div>
        <div ng-show="showFlag">
            <div class="row" style="padding:5px 5px">
                <div class="col col-40" style="margin-left: 7px;">
                    门牌号
                </div>
                <div class="col col-60" style="color:#AEA3A3">
                    <span ng-bind="contactdetails.HOUSE_NUM1"></span>
                </div>
            </div>
            <div class="employee_query_listline">
            </div>
        </div>
        <div class="row" style="padding:5px 5px">
            <div class="col col-40" style="margin-left: 7px;">
                邮箱
            </div>
            <div class="col col-60" style="color:#AEA3A3" ng-click="mailcopyvalue(contactdetails.SMTP_ADDR)">
                <span ng-bind="contactdetails.SMTP_ADDR"></span>
            </div>
        </div>
        <div class="employee_query_listline">
        </div>

        <div class="row" style="padding:5px 5px">
            <div class="col col-40" style="margin-left: 7px;">
                出生日期
            </div>
            <div class="col col-60" style="color:#AEA3A3">
                <span ng-bind="contactdetails.BIRTHDT"></span>
            </div>
        </div>
        <div class="employee_query_listline">
        </div>
        <div class="row" style="padding:5px 5px">
            <div class="col col-40" style="margin-left: 7px;">
                语言
            </div>
            <div class="col col-60" style="color:#AEA3A3">
                <span ng-bind="contactdetails.SPTXT"></span>
            </div>
        </div>
        <div class="employee_query_listline">
        </div>
    </ion-content>
    <ion-footer-bar style="height:60px;background: transparent;">
        <div class="customercontentbutton" ng-click="contact_deatilgoedit()">
            编辑
        </div>
    </ion-footer-bar>
</ion-view>