.contact_query {
  .bar .title {
    position: absolute;
    right: 0;
    left: 0;
    z-index: 0;
    overflow: hidden;
    margin: 0 10px;
    min-width: 30px;
    height: 43px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 16px;
    //font-weight: 100;
    color: rgb(250, 250, 250);
  } 
  .bar.bar-header .button + .title {
    text-align: center;
    line-height: 55px;
  }
  .bar {
    border-bottom: none;
    background-color: $crm-header-bar-bgcolor;
    background-size: 0;
    box-shadow: none;
  }
  .bar-subheader {
    height: 37px;
    display: block;
    padding: 0 2% 8px 2%;
    .search1 {
      .placeholder-icon {
        color: #aaa;
        position: absolute;
        z-index: 2;
        top: .3em;
        left: 1em;
      }
      input {
        display: block;
        padding-left: 2em;
        color: black;
        vertical-align: middle;
        font-size: 14px;
        height: 28px;
        width: 96%;
        position: fixed;
        border-radius: 5px;
      }
    }
    .search2 {
      .placeholder-icon {
        color: #aaa;
        position: absolute;
        z-index: 2;
        top: .3em;
        left: 1em;
      }
      input {
        display: block;
        padding-left: 2em;
        color: black;
        vertical-align: middle;
        font-size: 14px;
        height: 28px;
        width: 80%;
        position: fixed;
        border-radius: 5px;
      }
      .ion-ios-close {
        position: absolute;
        top: 5px;
        right: 5em;
        z-index: 2;
        color: #aaa;
      }
      .button-clear {
        position: fixed;
        left: 86%;
        font-size: 16px;
        top: -2px;
        min-height: 30px;
        max-height: 30px;
      }
    }
  }
  .row + .row .row {
    padding-top: 0;
    height: 4em;
  }
  .Car_countentbasic {
    position: relative;
    font-size: 15px;
    color: $crm-header-bar-bgcolor;
    padding-bottom:1.5em;
    .Car_countentbasicinfo {
      position: absolute;
      top: 0px;
      left: 20px;
    }
    .Car_countentbasicline {
      position: absolute;
      top: 10px;
      left: 95px;
      width: 100%;
      height: 1px;
      background-color: $crm-header-bar-bgcolor;
    }
    .Car_countentbasicclok {
      position: absolute;
      top: 15px;
      margin-top: 2px;
      left: 0px;
      width: 55px;
      height: 15px;
      border: 1px solid #406FB3;
      border-top: none;
      border-left: none;
    }
  }
  .shapeImg {
    position: relative;
    height: 16px;
    top: .2em;
    left: 0.5em;
  }
  .contentType {
    .row {
      .col {
        padding: 0;
      }
    }
    position: relative;
    top: 1em;
    border-bottom: 1px solid rgba(43, 43, 43, 0.17);
  }
  .rowType {
    position: relative;
    left: 4%;
    padding: 1.2em 0;
    .pointImg {
      height: 0.7em;
    }
    .colType {
      padding-left: 0;
      span {
        font-size: 16px;
      }
    }
  }
  .search {
    .his-title {
      color: #BFBFBF;
    }
    .ion-android-time {
      margin-right: 5px;
    }
    .hisText {
      white-space: nowrap;
    }
    .horizon-line {
      background: #D8D8D8;
      width: 100%;
      height: 1px;
      margin-left: 5px;
    }
    ion-item {
      border-bottom: 1px solid #D8D8D8;
      min-height: 0;
      font-size: 14px;
      padding: 10px 16px;
    }
  }
  .content {
    .item {
      position: relative;
      display: block;
      margin: -1px;
      font-size: 14px;
      padding: 0;
      border-bottom: 1px solid rgba(0, 0, 0, 0.16);
    }
  }



  .Car_countentbasicline{
    width: inherit !important;
    right: 3.5rem;
  }
  .clear-common-datas-btn{
      position: absolute;
      right: 0px;
      width: 3.5rem;
      text-align: center;
  }

}




//联系人详细信息界面
//customerdeatil
.Contacts_detail{
  .absolute{
    position: absolute;
    z-index: 9;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }
  .conttent1{
    margin-top: 280px;
  }
  .content2{
    margin-top: 230px;
  }
  .Contacts_backtopa{
    background: url("../../img/contact/contactbga@2x.png") no-repeat;
    background-size: 100% 100%;
    width:100%;
  }
  .Contacts_backtopb{
    background: url("../../img/contact/contactbgb@2x.png") no-repeat;
    background-size: 100% 100%;
    width:100%;
  }
  .Contacts_detailtitle{
    height:44px;
    line-height:44px;
    text-align: center;
    .Contactsdeatil_headtitlei{
      font-size: 35px;
      color: #C5D2E1;
      display: block;
      float: left;
      margin-left:15px;
    }
    .Contactsdeatil_headtitlespan{
      font-size:18px;
      color: white;
    }
  }

  .Contacts_detailtitleview{
    height:44px;
    line-height:44px;
    text-align: center;
    .Contactsdeatil_headtitleiview{
      font-size: 40px;
      color: #C5D2E1;
      display: block;
      float: left;
      margin-left: 15px;
      margin-top: 6px;
    }
    .Contactsdeatil_headtitlespanview{
      font-size:18px;
      color: white;
    }
  }

  .Contacts_detailname{
    position: absolute;
    top: 30px;
    font-size:12px;
    width: 80%;
    margin-left: 13%;
    color: white;
    text-align: center;
  }

  .Contacts_detailcontent {
    position: relative;
    height: 140px;
    font-size: 16px;
    color: white;
    .Contacts_detailcontentname {
      position: absolute;
      top: 3px;
      left: 25px;
      .Contacts_detailcontentcicle {
        width: 14px;
        height: 14px;
        float: left;
        margin-top: 3px;
        margin-right: 5px;
        display: inline-block;
        border-radius: 50%;
        border: 2px solid #9EC92A;
      }
    }
    .Contacts_detailcontentkehu{
      position: absolute;
      top:27px;
      left:25px;
    }
    .Contacts_detailcontentaddress{
      position: absolute;
      top:100px;
      left:25px;
    }
    .Contacts_detailcontentemploy{
      position: absolute;
      top:85px;
      left:25px;
    }
    .Contacts_detailcontentenum{
      position: absolute;
      top:85px;
      right: 20px;
    }
    .Contacts_detailcontentphone{
      position: absolute;
      top:30px;
      left:25px;
      .Contacts_detailcontentphonei{
        float: left;
        margin-top:-3px;
        font-size:25px;
      }
    }
    .Contacts_detailcontentmobile{
      position: absolute;
      top:54px;
      left:25px;
      .Contacts_detailcontentmobilei{
        float: left;
        margin-top:3px;
        font-size:25px;
      }
    }
  };

  .Contacts_detail_countentbu{
    width:33px;
    height:33px;
    z-index: 100;
  }
  .Contacts_detail_countentimgbase{
    text-align: center;
    width:75px;
    height:32px;
    font-size:14px;
    padding-left:10px;
    line-height:32px;
    position: absolute;
    left:11px;
    background-color: #E8E7E7;
    border-radius: 30px;
    z-index: -1;
  }
  .Contacts_detail_countentbasic{
    position: relative;
    margin-top: 5px;
    font-size:16px;
    color:#406FB3;
    .Contacts_detail_countentbasicinfo{
      position: absolute;
      top:0px;
      left: 25px;
    }
    .Contacts_detail_countentbasicline{
      position: absolute;
      top:10px;
      left: 90px;
      width: 100%;
      height:1px;
      background-color: #406FB3;
    }
    .Contacts_detail_countentbasicclok{
      position: absolute;
      top:15px;
      margin-top: 2px;
      left:0px;
      width:57px;
      height:15px;
      border: 1px solid #406FB3;
      border-top: none;
      border-left: none;
    }
  }
  .Contacts_detail_countentlist{
    margin-top:35px;;
    font-size:16px;
  }
  .Contactscontentbutton{
    width:55%;
    height:40px;
    margin-left:22%;
    margin-top:30px;
    margin-bottom:30px;
    background-color: #9EC92A;
    color: white;
    font-size:16px;
    line-height:40px;
    text-align: center;
    border-radius:10px;
  }
}

//联系人edit+create + 客户编辑界面+客户联系人新建界面
.contact_Edit {
  .list {
    .contacteditlocation{
      border: none;
      color:#9B9B9B;
      padding-left:7px;
      //-webkit-appearance:none;
      background:white
    }
    .item {
      font-size:16px;
      border: 1px solid #dddddd;
      border-top-style: none;
      border-right-style: none;
      border-left-style: none;
      min-height: 48px;
      text-align: center;
      }
      .item-input {
        padding: 2px 0 2px 16px;
        input[type=text]{
          font-size:16px;
        }
        .contact_edit_listfor {
          width: 16px;
          height: 16px;
          margin-top:4px;

        }
        .contact_edittextareasty {
          padding-left: 35px;
          padding-top: 10px;
          height: 3em;
          width: 95%;
          font-size:16px;
          color: #9B9B9B
        }
        .contact_editinputsty {
          padding-left: 32px;
          color: #9B9B9B
        }
        .contacts_editlistimg {
          width: 20px;
          height: 20px;
          margin-top: 1px;
          margin-right: 15px
        }
      }
  }
  .customeredittwo{
    padding-left: 65px;
    color:#9B9B9B
  }
  .customereditthree{
    padding-left: 20px;
    color:#9B9B9B
  }
  .selectC {
    border: solid 0 white;
    width: 100%;
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
    background-color: white;
    background: url("../../img/worksheetReported/sanjiao.png") no-repeat scroll right center transparent;
    position:relative;left:0px;top:-2px;font-size:15px;line-height:24px;border:0px;color:#909993;
    padding-right: 14px;
  }
}