<ion-nav-view class="contact_query">
    <div class="saleList">
        <ion-header-bar align-title="center" class="head pub-head">
            <div class="row row-center">
                <a class="col col-15 text-left goBack" ng-click=""></a>
                <div class="col col-70 text-center">联系人</div>
                <div class="col col-20 add" style="text-align: center" ng-click="Contactsopenpopv()">
                    <img src="img/employee/increase@2x.png"/>
                </div>
            </div>
        </ion-header-bar>
        <form ng-submit="employeecustomerQuery()">
            <div class="pub-subhead bar bar-subheader">
                <div class="employeequery_headquery">
                    <i class="ion-ios-search employeequery_headqueryimg"></i>
                    <input type="search" id="contactinputvalueid" ng-model="contact.contactfiledvalue"  class="employeequery_headqueryinput" placeholder="请输入联系人姓名、编号、电话、手机"/>
                    <i id="contactqueryinput" class="icon ion-ios-close-empty contactqueryinputdelete" ng-click="contactiputDeletevalue('note')"></i>
                </div>
            </div>
        </form>
    </div>
    <ion-content style="margin-top:44px" class="has-footer">
        <!--搜索历史-->
        <div ng-if="!contacts_userqueryflag" class="employee_query_historys">
            <div class="employee_query_historysspan">
                搜索历史
            </div>
            <div class="employee_query_historylist" ng-repeat="list in contact_query_historylists" ng-click="ContactHisGetvalue(list)">
                {{list.name}}
            </div>
            <div class="employee_query_historyclear" ng-click="ContactsClearhis()">
                清楚历史记录
            </div>
        </div>

        <div ng-if="contacts_userqueryflag" class="contact_query_list" ng-repeat="lists in contact_query_list">
            <div class="row row-center" style="padding:5px 5px">
                <div class="col col-6" style="margin-left:5px">
                    <div class="contact_query_listcicle" ng-class="{contact_query_listcicleA: !$odd, contact_query_listcicleB: !$even}"></div>
                </div>
                <div class="col col-24" style="text-align: left">
                    <span style="vertical-align: middle" ng-bind="lists.NAME_LAST"></span>
                </div>
                <div class="col col-50" style="text-align: center;color:#D2D2D2" ng-click="conatct_querynumber(lists)">
                    <span style="vertical-align: middle" ng-bind="lists.TEL_NUMBER"></span>
                </div>
                <div class="col col-20" style="text-align:center;padding-left:25px" ng-click="Contacts_godetails(lists)">
                    <img class="contact_query_listfor" src="img/employee/Shape@2x.png"></img>
                </div>
            </div>
            <div class="contact_query_listline">
            </div>
        </div>
        <ion-infinite-scroll on-infinite="contactLoadmore()" ng-if="contactisshow"></ion-infinite-scroll>
    </ion-content>
</ion-nav-view>


