<ion-nav-view class="contact_Edit">

    <div class="saleList">
        <ion-header-bar align-title="center" class="head pub-head">
            <div class="row row-center">
                <a class="col col-20 text-left goBack" ng-click="EditCancel()">取消</a>
                <div class="col col-65 text-center">编辑联系人</div>
                <div class="col col-20 add" ng-click="contactKeepEditvalue()" style="text-align: left">保存</div>
            </div>
        </ion-header-bar>
    </div>
    <ion-content>
        <div class="list" style="font-size: 18px;margin-top:5px">
            <!--title-->
               <span class="item item-input">注释：
                <input type="text" id="contnotename" class="contact_editinputsty" placeholder="请输入注释" ng-model="contactedit.conatctdeatilnote">
                <img id="contnotenameimg" class="contacts_editlistimg" src="img/contact/delete@2x.png" ng-click="contactDeletevalue('conatctdeatilnote')"/>
            </span>
              <span class="item item-input">部门：
                <input type="text" id="contpartment" placeholder="请输入部门" class="contact_editinputsty" ng-model="contactedit.DPRTMNT">
                <img id="contpartmentimg" class="contacts_editlistimg" src="img/contact/delete@2x.png" ng-click="contactDeletevalue('DPRTMNT')"/>
            </span>
            <span class="item item-input">职能：
                <input type="text" id="contatend" placeholder="请输入职能" class="contact_editinputsty" ng-model="contactedit.FNCTN">
                <img id="contatendimg" class="contacts_editlistimg" src="img/contact/delete@2x.png" ng-click="contactDeletevalue('FNCTN')"/>
            </span>
              <span class="item item-input">称谓：
                <select style="width: 40%;margin-left:33px;border: none;padding-right:4px;color:#9B9B9B;-webkit-appearance:none;background:white"  ng-model="config.currentTitile" ng-options="a as a.name for a in contactlistTitle" ng-change="chang1()">
                    <option value="">请选择称谓</option>
                </select>
            </span>
               <span class="item item-input">姓名：
                <input type="text" id="contname" class="contact_editinputsty" placeholder="请输入姓名" ng-model="contactedit.NAME_LAST">
                <img id="contnameimg" class="contacts_editlistimg" src="img/contact/delete@2x.png" ng-click="contactDeletevalue('NAME_LAST')"/>
              </span>
              <span class="item item-input">手机：
                <input type="text" id="contmobilenumber" class="contact_editinputsty" placeholder="请输入手机号码" ng-model="contactedit.MOB_NUMBER">
                <img id="contmobilenumberimg" class="contacts_editlistimg" src="img/contact/delete@2x.png" ng-click="contactDeletevalue('MOB_NUMBER')"/>
            </span>
             <span class="item item-input">电话：
                <input type="text" id="contphonenumber" class="contact_editinputsty" placeholder="请输入电话号码" ng-model="contactedit.TEL_NUMBER">
                <img id="contphonenumberimg" class="contacts_editlistimg" src="img/contact/delete@2x.png" ng-click="contactDeletevalue('TEL_NUMBER')"/>
            </span>
             <span class="item item-input">电话分机：
                <input type="text" id="contphonenumber1" class="contact_editinputsty" placeholder="请输入电话分机" ng-model="contactedit.TEL_EXTENS">
                <img id="contphonenumberimg" class="contacts_editlistimg" src="img/contact/delete@2x.png" ng-click="contactDeletevalue('TEL_EXTENS')"/>
            </span>
            <span class="item item-input">传真：
                <input type="text" id="contfax" placeholder="请输入传真" class="contact_editinputsty" ng-model="contactedit.FAX_NUMBER">
                <img id="contfaximg" class="contacts_editlistimg" src="img/contact/delete@2x.png" ng-click="contactDeletevalue('FAX_NUMBER')"/>
            </span>
              <span class="item item-input">传真分机：
                <input type="text" id="contfaxexit" placeholder="请输入传真分机" class="contact_editinputsty" ng-model="contactedit.FAX_EXTENS">
                <img id="contfaxexitimg" class="contacts_editlistimg" src="img/contact/delete@2x.png" ng-click="contactDeletevalue('FAX_EXTENS')"/>
            </span>
             <span class="item item-input">邮编：
                <input type="text" id="contpostm" placeholder="请输入部门邮编" class="contact_editinputsty"  ng-model="contactedit.POST_CODE1">
                <img id="contpostmimg" class="contacts_editlistimg" src="img/contact/delete@2x.png" ng-click="contactDeletevalue('POST_CODE1')"/>
            </span>
            <span class="item item-input">出生日期：
                <input type="date" class="contact_editinputsty"   ng-model="contactedit.BIRTHDT" ng-click="selectCreateTime()" style="background-color:white">
            </span>
             <span class="item item-input">语言：
                <select style="width: 40%;margin-left:33px;border: none;padding-right:4px;color:#9B9B9B"  ng-model="config.currentLanguage" ng-options="a.name as a.name for a in contactlistvaluesel" ng-change="chang1()">
                    <option value="">语言</option>
                </select>
            </span>
             <span class="item item-input">地址：
                <input type="text" id="contaddressname" class="contact_editinputsty" placeholder="请输入地址" ng-model="contactedit.STREET">
                <img id="contaddressnameimg" class="contacts_editlistimg" src="img/contact/delete@2x.png" ng-click="contactDeletevalue('STREET')"/>
            </span>
            <div class="row">
                <div class="col col-20" style="font-size: 14px;padding-left: 9px;color:#9B9B9B;">
                    位置:
                </div>
                <div class="col col-80">
                    <div class="row" style="padding: 5px;">
                        <select style="border:none;color:#9B9B9B;padding: 5px -webkit-appearance:none;background:white;width: 40%;" ng-model="config.currentCountry" ng-options="a as a.COUNTRY_NAME for a in country" ng-change="changCountry()">
                           <option value="">国家</option>
                        </select>
                    </div>
                    <div class="row" style="padding: 5px;">
                        <select style="border:none;color:#9B9B9B;padding: 5px -webkit-appearance:none;background:white;width: 40%" ng-model="config.currentProvence" ng-options="b as b.REGION_NAME for b in provence" ng-change="changProvence()">
                           <option value="">省份</option>
                        </select>
                    </div>
                    <div class="row" style="padding: 5px;">
                        <select style="border:none;color:#9B9B9B;padding: 5px; -webkit-appearance:none;background:white;width: 40%"   ng-model="config.currentCity" ng-options="c as c.CITY_NAME for c in city">
                           <option value="">城市</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-nav-view>


