<ion-nav-view class="contact_Edit">
    <div class="saleList">
        <ion-header-bar align-title="center" class="head pub-head">
            <div class="row row-center">
                <a class="col col-20 text-left goBack" ng-click="Createancel()">取消</a>
                <div class="col col-65 text-center">创建联系人</div>
                <div class="col col-20 add" ng-click="contactCreatevalue()" style="text-align: left">保存</div>
            </div>
        </ion-header-bar>
    </div>
    <ion-content>
        <div class="list" style="font-size: 16px;margin-top:5px">
            <!--title-->
               <span class="item item-input">注释：
                <textarea rows="1" id="contcreanotename" class="contact_editinputsty" placeholder="请输入注释" ng-model="contactcreat.conatctdeatilnote"></textarea>
                <img id="contcreanotenameimg" class="contacts_editlistimg" src="img/contact/delete@2x.png" ng-click="contactCreateDeletevalue('conatctdeatilnote')"/>
            </span>
             <span class="item item-input">客户：
                <div class="row" ng-click="openSelectCustomer()">
                    <div class="col col-74 col-center" style="color:#9B9B9B" ng-bind="contactcreat.PARTNER2VALUE"></div>
                    <div class="col col-26 col-center" style="text-align: right;padding-right:12px;">
                        <img class="contact_edit_listfor" src="img/employee/Shape@2x.png">
                    </div>
                </div>
            </span>
              <span class="item item-input">部门：
                <input type="text" id="contcreapartment" placeholder="请输入部门" class="contact_editinputsty" ng-model="contactcreat.DPRTMNT">
                <img id="contcreapartmentimg" class="contacts_editlistimg" src="img/contact/delete@2x.png" ng-click="contactCreateDeletevalue('DPRTMNT')"/>
            </span>
                <span class="item item-input">职能：
                <input type="text" id="contcreaatend" placeholder="请输入职能" class="contact_editinputsty" ng-model="contactcreat.FNCTN">
                <img id="contcreaatendimg" class="contacts_editlistimg" src="img/contact/delete@2x.png" ng-click="contactCreateDeletevalue('FNCTN')"/>
            </span>
              <span class="item item-input">称谓：
                <select style="height:40px;width: 40%;margin-left:33px;border: none;padding-right:4px;color:#9B9B9B; -webkit-appearance:none;background:white"  ng-model="config.currentTitle" ng-options="a as a.name for a in contactlistTitle">
                    <option value="">称谓</option>
                </select>
            </span>
               <span class="item item-input">姓名：
                <input type="text" id="concreatename" class="contact_editinputsty" placeholder="请输入姓名" ng-model="contactcreat.NAME_LAST">
                <img id="contcreatenameimg" class="contacts_editlistimg" src="img/contact/delete@2x.png" ng-click="contactCreateDeletevalue('NAME_LAST')"/>
              </span>
              <span class="item item-input">手机：
                <input type="number" id="contcreatemobilenumber" class="contact_editinputsty" placeholder="请输入手机号码" ng-model="contactcreat.MOB_NUMBER">
                <img id="contcreatemobilenumberimg" class="contacts_editlistimg" src="img/contact/delete@2x.png" ng-click="contactCreateDeletevalue('MOB_NUMBER')"/>
            </span>
             <span class="item item-input">电话：
                <input type="number" id="contcreatephonenumber" class="contact_editinputsty" placeholder="请输入电话号码" ng-model="contactcreat.TEL_NUMBER">
                <img id="concreatetphonenumberimg" class="contacts_editlistimg" src="img/contact/delete@2x.png" ng-click="contactCreateDeletevalue('TEL_NUMBER')"/>
            </span>
            <span class="item item-input">电话分机：
                <input type="number" id="contcreatephonenumber１" class="contact_editinputsty" placeholder="请输入电话分机号码" ng-model="contactcreat.TEL_EXTENS">
                <img id="concreatetphonenumberimg１" class="contacts_editlistimg" src="img/contact/delete@2x.png" ng-click="contactCreateDeletevalue('TEL_EXTENS')"/>
            </span>
             <span class="item item-input">传真：
                <input type="text" id="contcreatefax" placeholder="请输入传真" class="contact_editinputsty" ng-model="contactcreat.FAX_NUMBER">
                <img id="contcreafaximg" class="contacts_editlistimg" src="img/contact/delete@2x.png" ng-click="contactCreateDeletevalue('FAX_NUMBER')"/>
            </span>
              <span class="item item-input">传真分机：
                <input type="text" id="contcreafaxexit" placeholder="请输入传真分机" class="contact_editinputsty" ng-model="contactcreat.FAX_EXTENS">
                <img id="contcreafaxexitimg" class="contacts_editlistimg" src="img/contact/delete@2x.png" ng-click="contactCreateDeletevalue('FAX_EXTENS')"/>
            </span>
             <span class="item item-input">邮编：
                <input type="text" id="contcreapostm" placeholder="请输入部门邮编" class="contact_editinputsty"  ng-model="contactcreat.POST_CODE1">
                <img id="contcreapostmimg" class="contacts_editlistimg" src="img/contact/delete@2x.png" ng-click="contactCreateDeletevalue('POST_CODE1')"/>
            </span>
            <span class="item item-input">出生日期：
                <input type="date" placeholder="请输入生日" class="contact_editinputsty"  ng-model="contactcreat.BIRTHDT"  style="background-color:white">
            </span>
             <span class="item item-input">语言：
                <select style="height:40px; width: 40%;margin-left:33px;border: none;padding-right:4px;-webkit-appearance:none;background:white"  ng-model="config.currentLanguage" ng-options="a.name as a.name for a in contactlistvaluesel">
                    <option value="">语言</option>
                </select>
            </span>
             <span class="item item-input">地址：
                <input type="text" id="contcreateaddressname" class="contact_editinputsty" placeholder="请输入地址" ng-model="contactcreat.STREET">
                <img id="contcreaaddressnameimg" class="contacts_editlistimg" src="img/contact/delete@2x.png" ng-click="contactCreateDeletevalue('STREET')"/>
            </span>
            <div class="row">
                <div class="col col-20" style="font-size: 14px;padding-left: 9px;color:#9B9B9B;">
                    位置:
                </div>
                <div class="col col-80">
                    <div class="row" style="padding: 5px;">
                        <select style="border:none;height:40px;width: 40%;color:#9B9B9B;padding: 5px -webkit-appearance:none;background:white"  ng-model="config.currentCountry" ng-options="a as a.COUNTRY_NAME for a in country" ng-change="changCountry()">
                            <option value="" >国家</option>
                        </select>
                    </div>
                    <div class="row" style="padding: 5px;"ng-class="{true:'',false:'display:none'}[showFlag]" >
                        <select style="border:none;height:40px;width: 40%;color:#9B9B9B;padding: 5px -webkit-appearance:none;background:white" ng-model="config.currentProvence" ng-options="b as b.REGION_NAME for b in provence" ng-change="changProvence()">
                            <option value="">省份</option>
                        </select>
                    </div>
                    <div class="row" style="padding: 5px;" ng-class="{true:'',false:'display:none'}[showFlag]">
                        <select style="border:none;height:40px;width: 40%;color:#9B9B9B;padding: 5px; -webkit-appearance:none;background:white"   ng-model="config.currentCity" ng-options="c as c.CITY_NAME for c in city">
                            <option value="" >城市</option>
                        </select>
                    </div>

                </div>
            </div>
        </div>
    </ion-content>
</ion-nav-view>
