.contact_query{
  .contact_head {
    width: 100%;
    height:88px;
    z-index: 0;
    background-color: #406FB3;
    .contact_headtitle {
      height: 44px;
      line-height:44px;
      text-align: center;
      .contact_headtitlei {
        font-size: 35px;
        color: #C4D2E7;
        display: block;
        float: left;
        margin-left: 15px;
      }
      .contact_headtitlespan {
        font-size: 18px;
        color: white;
      }
      .contact_headtitleimg{
        width:25px;
        height: 25px;
        float: right;
        margin-top:13px;
        margin-right:15px;
      }
    }
    .contact_headquery {
      height: 50px;
      //margin-top: 15px;
      position: relative;
      .employeequery_headqueryimg {
        font-size: 20px;
        color: #A8A8A8;
        position: absolute;
        top: 8px;
        left: 15px;
        z-index: 10;
      }
      .contact_headqueryinput {
        height: 35px;
        width: 96%;
        border-radius: 5px;
        padding-left: 30px;
        background-color: white;
        position: absolute;
        top: 0;
        left: 2%;
        z-index: 1;
      }
    }
  }
  .contact_query_list{
    font-size: 16px;
    color: #4A4A4A;
    .contact_query_listcicle{
      width:14px;
      height:14px;
      vertical-align: middle;
      display: inline-block;
      border-radius:50%;
    }
    .contact_query_listcicleA{
      border: 2px solid #9EC92A;
    }
    .contact_query_listcicleB{
      border: 2px solid #008CCF;
    }
    .contact_query_listfor{
      width:16px;
      height:16px;
      vertical-align: middle;
    }
    .contact_query_listline{
      width: 100%;
      height: 1px;
      background-color: #D2D2D2;
    }
  }
}
//联系人详细信息界面
//customerdeatil
.Contacts_detail{
  .absolute{
    position: absolute;
    z-index: 9;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }
  .Contacts_backtopa{
    background: url("../../img/contact/contactbga@2x.png") no-repeat;
    background-size: 100% 100%;
    width:100%;
  }
  .Contacts_backtopb{
    background: url("../../img/contact/contactbgb@2x.png") no-repeat;
    background-size: 100% 100%;
    width:100%;
  }
  .Contacts_detailtitle{
    height:44px;
    line-height:44px;
    text-align: center;
    .Contactsdeatil_headtitlei{
      font-size: 35px;
      color: #C5D2E1;
      display: block;
      float: left;
      margin-left:15px;
    }
    .Contactsdeatil_headtitlespan{
      font-size:18px;
      color: white;
    }
  }

  .Contacts_detailtitleview{
    height:44px;
    line-height:44px;
    text-align: center;
    .Contactsdeatil_headtitleiview{
      font-size: 40px;
      color: #C5D2E1;
      display: block;
      float: left;
      margin-left: 15px;
      margin-top: 6px;
    }
    .Contactsdeatil_headtitlespanview{
      font-size:18px;
      color: white;
    }
  }

  .Contacts_detailname{
    position: absolute;
    top: 30px;
    font-size:12px;
    width: 80%;
    margin-left: 13%;
    color: white;
    text-align: center;
  }

  .Contacts_detailcontent {
    position: relative;
    height: 140px;
    font-size: 16px;
    color: white;
    .Contacts_detailcontentname {
      position: absolute;
      top: 3px;
      left: 25px;
      .Contacts_detailcontentcicle {
        width: 14px;
        height: 14px;
        float: left;
        margin-top: 3px;
        margin-right: 5px;
        display: inline-block;
        border-radius: 50%;
        border: 2px solid #9EC92A;
      }
    }
    .Contacts_detailcontentkehu{
      position: absolute;
      top:27px;
      left:25px;
    }
    .Contacts_detailcontentaddress{
      position: absolute;
      top:50px;
      left:25px;
    }
    .Contacts_detailcontentemploy{
      position: absolute;
      top:73px;
      left:25px;
    }
    .Contacts_detailcontentphone{
      position: absolute;
      top:100px;
      left:25px;
      .Contacts_detailcontentphonei{
        float: left;
        margin-top:-3px;
        font-size:25px;
      }
    }
    .Contacts_detailcontentmobile{
      position: absolute;
      top:124px;
      left:25px;
      .Contacts_detailcontentmobilei{
        float: left;
        margin-top:3px;
        font-size:25px;
      }
    }
  };

  .Contacts_detail_countentbu{
    width:33px;
    height:33px;
    z-index: 100;
  }
  .Contacts_detail_countentimgbase{
    text-align: center;
    width:75px;
    height:32px;
    font-size:14px;
    padding-left:10px;
    line-height:32px;
    position: absolute;
    left:11px;
    background-color: #E8E7E7;
    border-radius: 30px;
    z-index: -1;
  }
  .Contacts_detail_countentbasic{
    position: relative;
    margin-top: 5px;
    font-size:16px;
    color:#406FB3;
    .Contacts_detail_countentbasicinfo{
      position: absolute;
      top:0px;
      left: 25px;
    }
    .Contacts_detail_countentbasicline{
      position: absolute;
      top:10px;
      left: 90px;
      width: 100%;
      height:1px;
      background-color: #406FB3;
    }
    .Contacts_detail_countentbasicclok{
      position: absolute;
      top:15px;
      margin-top: 2px;
      left:0px;
      width:57px;
      height:15px;
      border: 1px solid #406FB3;
      border-top: none;
      border-left: none;
    }
  }
  .Contacts_detail_countentlist{
    margin-top:35px;;
    font-size:16px;
  }
  .Contactscontentbutton{
    width:55%;
    height:40px;
    margin-left:22%;
    margin-top:30px;
    margin-bottom:30px;
    background-color: #9EC92A;
    color: white;
    font-size:16px;
    line-height:40px;
    text-align: center;
    border-radius:10px;
  }
}

//联系人edit+create + 客户编辑界面+客户联系人新建界面
.contact_Edit {
  .contact_Edit_head {
    width: 100%;
    height:50px;
    font-size: 18px;
    color: white;
    z-index: 0;
    background-color: #406FB3;
    .contact_Edit_headtitle {
      height: 44px;
      line-height: 50px;
      text-align: center;
      .contact_Edit_headtitlei {
        font-size: 35px;
        display: block;
        float: left;
        margin-left: 15px;
      }
      .contact_Edit_headtitlespantitle {

      }
      .contact_Edit_headtitlespanedit{
       float: right;
        margin-right: 15px;
      }
    }
  }
  .list .item {
    border: 1px solid #dddddd;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    min-height: 48px;
    text-align: center;
  }
  .contact_edit_listfor{
    width:20px;
    height:20px;
  }
  .item-input {
    padding: 2px 0 5px 16px;
  }
  .contact_editinputsty{
    padding-left: 35px;
    color:#9B9B9B
  }
  .customeredittwo{
    padding-left: 65px;
    color:#9B9B9B
  }
  .customereditthree{
    padding-left: 20px;
    color:#9B9B9B
  }
}