<ion-view  class="worksheetReportedInfolist"  align-title="center">
    <ion-header-bar align-title="center" class="bar  bar-header disable-user-behavior" >
        <div class="row row-center title rowTitle">
            <div class="col col-15 text-left fontColor" ng-click="$ionicGoBack();">取消</div>
            <div class="col col-62 text-center fontColor">报工单信息列表
            </div>
            <div class="col col-23 text-right fontColor" ng-click="goMaintain();">重新维护</div>
        </div>
    </ion-header-bar>
    <ion-content>
        <div class="rowList" ng-repeat="info  in listInfos">
            <div class="row row-center">
                <div class="col col-7 col-center">
                    <div class="pic"></div>
                </div>
                <div class="col col-center">
                    {{info.name}}
                </div>
            </div>
            <div class="row row-center">
                <div class="col col-50 col-center detailColor">
                    产品编码：{{info.code}}
                </div>
                <div class="col col-50 col-center detailColor">
                    数量：{{info.num}}
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>