<ion-view class="employee_customer">
    <div class="saleList">
        <ion-header-bar align-title="center" class="head pub-head">
            <div class="row row-center">
                <a class="col col-15 text-left goBack" ng-click="goBack()"><i class="ion-chevron-left"></i></a>
                <div class="col col-70 text-center">客户列表</div>
                <div class="col col-15 add"><img src="img/employee/increase@2x.png"></div>
            </div>
        </ion-header-bar>
        <form ng-submit="employeecustomerQuery()">
            <div class="pub-subhead bar bar-subheader">
                <div class="employeequery_headquery">
                    <i class="ion-ios-search employeequery_headqueryimg"></i>
                    <input class="employeequery_headqueryinput" ng-model="employeefiledvalue" ng-change="changev()" placeholder="请输入客户公司名称" type="text"/>
                </div>
            </div>
        </form>
    </div>
    <ion-content style="margin-top:44px">
       <ion-list>
        <ion-item class="employee_customerlist" style="border-bottom: 1px solid #ddd;margin-top:1px" ng-repeat="x in employcustomerlist track by $index">
            <div class="row">
                <div class="col col-6" style="text-align: left;margin-top:1px">
                    <div class="employee_customerlistcicle"></div>
                </div>
                <div class="col col-84" style="text-align: left;padding-left: 15px;">
                    <span style="vertical-align: middle">{{x}}</span>
                </div>
                <div class="col col-10">
                    <img class="employee_customerlist_listfor" src="img/employee/Shape@2x.png"></img>
                </div>
            </div>
            <ion-option-button style="width:30px;height:46px;text-align: center" class="button-assertive">
                <i class="icon ion-ios-trash-outline" style="font-size: 50px;"></i>
            </ion-option-button>
            <!--<div class="employee_query_listline">-->
            <!--</div>-->
        </ion-item>
       </ion-list>
    </ion-content>
</ion-view>


