<ion-nav-view class="employee_query">
    <div class="saleList">
    <ion-header-bar align-title="center" class="head pub-head">
        <div class="row row-center">
            <a class="col col-15 text-left goBack" ng-click="goBack()"><i class="ion-chevron-left"></i></a>
            <div class="col col-70 text-center">员工列表</div>
        </div>
    </ion-header-bar>

        <div class="pub-subhead bar bar-subheader">
            <div class="employeequery_headquery">
                <i class="ion-ios-search employeequery_headqueryimg"></i>
                <input type="search" id="employeeinputvalueid" class="employeequery_headqueryinput" ng-model="employ.employeefiledvalue" ng-change="changev()" placeholder="请输入员工姓名"/>
                <i id="employeequeryinput" class="icon ion-ios-close-empty contactqueryinputdelete" ng-click="employeeiputDeletevalue()"></i>
            </div>
        </div>
</div>
    <ion-content style="margin-top:44px">
        <div ng-if="!employee_userqueryflag" class="employee_query_list" ng-repeat="lists in usuaemployee_query_list">
            <div class="row row-center" style="padding:5px 5px">
                <div class="col col-6" style="margin-left:5px">
                    <div class="employee_query_listcicle" ng-class="{employee_query_listcicleA: !$odd, employee_query_listcicleB: !$even}"></div>
                </div>
                <div class="col col-24" style="text-align: left">
                    <span style="vertical-align: middle">{{lists.NAME_LAST}}{{lists.NAME_FIRST}}</span>
                </div>
                <div class="col col-60" style="text-align: center" ng-click="employeequeryphone(lists.TEL_NUMBER)">
                    <span style="vertical-align: middle">{{lists.TEL_NUMBER}}</span>
                </div>
                <div class="col col-10" ng-click="employee_govalue(lists,$index)">
                    <img class="employee_query_listfor" src="img/employee/Shape@2x.png"></img>
                </div>
            </div>
            <div class="employee_query_listline">
            </div>
        </div>

        <div ng-if="!employee_userqueryflag" class="employee_query_historys">
            <div class="employee_query_historysspan">
                搜索历史
            </div>
            <div class="employee_query_historylist" ng-repeat="list in employee_query_historylists" ng-click="EmployHisGetvalue(list)">
               {{list.name}}
            </div>
            <div class="employee_query_historyclear" ng-click="employee_userClearhis()">
                清楚历史记录
            </div>
        </div>
        <div ng-if="employee_userqueryflag" class="employee_query_list" ng-repeat="lists in employee_query_list">
            <div class="row row-center" style="padding:5px 5px">
                <div class="col col-6" style="margin-left:5px">
                    <div class="employee_query_listcicle" ng-class="{employee_query_listcicleA: !$odd, employee_query_listcicleB: !$even}"></div>
                </div>
                <div class="col col-24" style="text-align: left">
                   <span style="vertical-align: middle">{{lists.NAME_LAST}}{{lists.NAME_FIRST}}</span>
                </div>
                <div class="col col-60" style="text-align: center" ng-click="employeequeryphone(lists.TEL_NUMBER)">
                    <span style="vertical-align: middle">{{lists.TEL_NUMBER}}</span>
                </div>
                <div class="col col-10" ng-click="employee_govalue(lists,$index)">
                    <img class="employee_query_listfor" src="img/employee/Shape@2x.png"></img>
                </div>
            </div>
            <div class="employee_query_listline">
            </div>
        </div>
        <ion-infinite-scroll on-infinite="employLoadmore()" ng-if="employisshow"></ion-infinite-scroll>
    </ion-content>
</ion-nav-view>


