<ion-view class="employee_detail">
    <div class="employee_backtop" style="padding-top:10px">
        <div class="employee_detailtitle">
            <div style="width:40px;height:40px;position: absolute;top: 5px;left: 5px;" ng-click="employgoBack()">
                <i class="icon ion-ios-arrow-back publicheadtitlei"></i>
            </div>
            <span class="employeedeatil_headtitlespan">员工详细信息</span>
        </div>
        <div class="employee_detailcontent">
            <div class="employee_detailcontentname">
                <div class="employee_detailcontentcicle" ></div><span style="margin-left: 5px;" class="employee_detailcontentspan" ng-bind="userdetailval.NAME_LAST"></span>
            </div>
            <div style="position: relative;top: 25px;">
                <span class="employee_detailcontentspan" ng-bind="userdetailval.NAME_FIRST" style="padding-left: 44px;font-size: 14px;"></span>
                <span style="font-size: 14px;">-销售人员</span>
            </div>
            <div class="employee_detailcontentphone" ng-click="employeeshowphone1(userdetailval.TELEPHONE)">
                <i class="icon ion-ios-telephone-outline employee_detailcontentphonei"></i>
                <span style="margin-left: 4px;" ng-bind="userdetailval.TELEPHONE"></span>
            </div>
        </div>
    </div>

    <ion-content has-bouncing="false" style="position: fixed;margin-top: 125px;" >
        <div class="employee_detail_countentbu" ng-click="gocustomerList()" ng-show="showFlag">
            <img style="width:40px;height:40px" src="img/employee/employee_cus@2x1.png" alt=""/>
            <div class="employee_detail_countentimgbase">
                负责客户
            </div>
        </div>
        <div class="employee_detail_countentbasic" ng-class="showFlag?'':'hideCustomer'">
            <div class="employee_detail_countentbasicinfo">基本信息</div>
            <div class="employee_detail_countentbasicline"></div>
            <div class="employee_detail_countentbasicclok"></div>
        </div>
        <div class="employee_detail_countentlist">
            <div class="row" style="padding:5px 5px">
                <div class="col col-40" style="margin-left: 7px;">
                    员工标识
                </div>
                <div class="col col-60" style="color:#AEA3A3;">
                    <span ng-bind="userdetailval.PARTNER"></span>
                </div>
            </div>
            <div class="employee_query_listline">
            </div>
            <div class="row" style="padding:5px 5px">
                <div class="col col-40" style="margin-left: 7px;">
                    姓名
                </div>
                <div class="col col-60" style="color:#AEA3A3">
                    <span ng-bind="userdetailval.NAME_LAST"></span><span ng-bind="userdetailval.NAME_FIRST"></span>
                </div>
            </div>
            <div class="employee_query_listline">
            </div>
            <!--<div class="row" style="padding:5px 5px" >-->
                <!--<div class="col col-40" style="margin-left: 7px;">-->
                    <!--称谓-->
                <!--</div>-->
                <!--<div class="col col-60" style="color:#AEA3A3">-->
                    <!--<span ng-bind="userdetailval.TITLE_KEY"></span>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="employee_query_listline">-->
            </div>
            <div class="row" style="padding:5px 5px" ng-click="employeeshowphone1(userdetailval.TEL_NUMBER)">
                <div class="col col-40">
                    <img src="img/employee/ephone@2x.png" style="width:18px;height:15px;float: left;margin-top:2px;margin-left:8px;margin-right: 5px"/>
                    电话/分机
                </div>
                <div class="col col-60" style="color:#4A90E2;margin-left: 7px;">
                    <span ng-bind="userdetailval.TEL_NUMBER"></span>-<span ng-bind="userdetailval.TEL_EXTENS"></span>
                </div>
            </div>
            <div class="employee_query_listline">
            </div>
            <div class="row" style="padding:5px 5px" ng-click="mailcopyvalue(userdetailval.SMTP_ADDR)">
                <div class="col col-25">
                    <img src="img/employee/eemail@2x.png" style="width:18px;height:15px;float: left;margin-top:2px;margin-left:8px;margin-right: 5px"/>
                    邮箱
                </div>
                <div class="col col-75" style="color:#4A90E2;margin-left: 7px;">
                    <span ng-bind="userdetailval.SMTP_ADDR"></span>

                </div>
            </div>
            <div class="employee_query_listline">
            </div>
        </div>
    </ion-content>
</ion-view>