<ion-popover-view class="saleDetailPop own-animated slideInUp" style="animation-duration:.4s">
    <div class="myHeader">
        <div class="headerText">请选择</div>
    </div>
    <ion-content has-bouncing="false" scroll="false">
        <div class="row row-center">
            <div class="col">销售阶段</div>
            <div class="col">
                <select ng-model="pop.stage" ng-options="x as x.value for x in saleStages">{{pop.stage}}</select>
            </div>
        </div>
        <div class="row row-center">
            <div class="col col-50">信心指数</div>
            <div class="col"><input type="text" ng-model="pop.feel" placeholder="请输入"></div>
        </div>
        <div class="row row-center">
            <div class="col col-50">销售编号</div>
            <div class="col"><input type="text" ng-model="pop.proNum" placeholder="请输入"></div>
        </div>
        <button ng-click="savePop()" class="save">完成</button>
        <div>
            <button ng-click="closePop()" class="cancel">取消</button>
        </div>
    </ion-content>
</ion-popover-view>