/**
 * Created by admin on 16/5/1.
 */
<ion-view>
    <ion-header-bar align-title="center" class="head pub-head ">
        <div class="col-15 col-center" ng-click="goBack()">返回</div>
    </ion-header-bar>
    <ion-content>
        <div class="row row-center">
            <div class="col col-center" ng-click="">{{activityDetail.TOURNUMBER}}</div>
        </div>
        <div class="row row-center">
            <div class="col col-center" ng-click="">{{activityDetail.TOURDESCRIPTION}}</div>
        </div>
        <div class="row row-center">
            <div class="col col-center" ng-click="">{{activityDetail.VALIDFROM}}</div>
        </div>
        <div class="row row-center">
            <div class="col col-center" ng-click="">{{activityDetail.VALIDTO}}</div>
        </div>
        <div class="row row-center">
            <div class="col col-center" ng-click="">{{activityDetail.TOUROWNER_NAME}}</div>
        </div>
    </ion-content>
</ion-view>