
<ion-view>
    <ion-header-bar align-title="center" class="head pub-head ">
        <div class="col-15 col-center" ng-click="goBack()">返回</div>
    </ion-header-bar>
    <ion-content>
        <div class="row row-center">
            <div class="col-50 col-center"></div><div class="col-50 col-center" ng-click="">{{dataDetail.customer}}</div>
        </div>
        <div class="row row-center">
            <div class="col-50 col-center"></div><div class="col-50 col-center" ng-click="">{{dataDetail.contact}}</div>
        </div>
        <div class="row row-center">
            <div class="col-50 col-center"></div><div class="col-50 col-center" ng-click="">{{dataDetail.business}}</div>
        </div>
        <div class="row row-center">
            <div class="col-50 col-center"></div><div class="col-50 col-center" ng-click="">{{dataDetail.acttype}}</div>
        </div>
        <div class="row row-center">
            <div class="col-50 col-center"></div><div class="col-50 col-center" ng-click="">{{dataDetail.instart}}</div>
        </div>
        <div class="row row-center">
            <div class="col-50 col-center"></div><div class="col-50 col-center" ng-click="">{{dataDetail.desc}}</div>
        </div>
    </ion-content>
</ion-view>