<ion-view class="customerVehicle_Query">
        <div class="employeecustomer_head">
            <div class="employeecustomer_headtitle">
                <div style="width:40px;height:40px;position: absolute;top: 5px;left: 5px;" ng-click="goBack()">
                    <i class="icon ion-ios-arrow-back publicheadtitlei"></i>
                </div>
                <span class="employeecustomer_headtitlespan">客户车辆信息</span>
            </div>
            <form ng-submit="employeecustomerQuery()">
                <div class="employeecustomer_headquery">
                    <input class="employeecustomer_headqueryinput" placeholder="请输入车辆描述(车牌号+车工号/电池系统Barcode)" type="text"/>
                    <i class="ion-ios-search employeecustomer_headqueryimg"></i>
                </div>
            </form>
        </div>
    <ion-content style="margin-top:110px">
        <div class="customerVehicle_query_list" ng-repeat="lists in customerVehiclelists track by $index">
            <div class="row" style="padding:5px 5px">
                <div class="col col-6" style="margin-left:5px">
                    <div class="customerVehicle_query_listcicle"></div>
                </div>
                <div class="col col-94" style="text-align: left">
                    <span style="vertical-align: middle">贵GU-1233I3MSKJJEJEJJ*JDJJDJDJD12344DDD</span>
                </div>
            </div>
            <div class="row">
                <div class="col col-100" style="text-align: right">
                    <img class="customerVehicle_query_listfor" src="img/employee/Shape@2x.png"></img>
                </div>
            </div>
            <div class="employee_query_listline">
            </div>
        </div>
    </ion-content>
</ion-view>


