<div ng-class="moreflag?'own-backDrop-on':'own-backDrop-off'" ng-click="moreflag=false"></div>
<div class="main" id="mainTopId">
    <div class="top-back">
        <div class="dayView">
            <div id="yearMonthId" class="row months">
                <div class="text-right year" ng-click="returnToday()" on-hold="onHold()">{{year}}</div>
                <div class="month" ng-click="returnToday()" on-hold="onHold()">{{month<10?('0'+month):month}}</div>
            </div>
        </div>
        <!--周视图-->
        <div id="dayViewId" class="dayView">
            <div on-swipe-down="changeView()" ng-if="viewFlag">
                <div class="row day">
                    <div class="col text-center" ng-repeat="x in weeks" ng-class="x.class">
                        <div class="today" ng-if="x.flag">今</div>
                        <div class="today" ng-if="!x.flag">&nbsp;</div>
                        <div>{{x.value}}</div>
                    </div>
                </div>
                <ion-slide-box does-continue="true" on-slide-changed="slideHasChanged($index)"
                               delegate-handle="dayView-handle">
                    <ion-slide ng-repeat="x in days">
                        <div class="row day">
                            <div class="col text-center no-padding myDay" ng-repeat="y in x.arr"
                                 ng-class="{'edgeDay':(x.arr.indexOf(y)==0||x.arr.indexOf(y)==6),'checked':y.checked}"
                                 ng-click="selectDay(x.arr,y)">{{y.value}}<br>
                                <div class="dot" ng-show="y.toDo"></div>
                            </div>
                        </div>
                    </ion-slide>
                </ion-slide-box>
            </div>
        </div>
        <!--月视图-->
        <div id="monthViewId" on-swipe-up="changeView()" on-swipe-down="changeView()" ng-show="!viewFlag"
             class="monthView">
            <div class="row week">
                <div class="col text-center" ng-repeat="x in weeks">
                    <div>{{x.value}}</div>
                </div>
            </div>
            <ion-slide-box id="monthScrollId" does-continue="true" on-slide-changed="monthHasChanged($index)"
                           delegate-handle="monthView-handle" ng-style="monthHeight">
                <ion-slide ng-repeat="x in monthView track by $index">
                    <div class="row row-wrap">
                        <div class="col col-14" ng-repeat="y in x.arr track by $index"
                             ng-class="(year+'/'+month+'/'+y.value)==myTodayDate?'today_text':''"
                             ng-click="selectDay(x.arr,y)">
                            <div ng-class="{'checked':y.checked,'back-today':y.isToday}">{{y.value}}</div>
                            <div class="dot" ng-show="y.toDo"></div>
                        </div>
                    </div>
                </ion-slide>
            </ion-slide-box>
        </div>
    </div>
    <!--bar-->
    <div class="mainBar">
        <div class="row">
            <div class="col-10">
                <div class="dot"></div>
            </div>
            <div class="col-25">{{selectModeText}}
                <!--<div class="col-25" ng-click="changeShowPop()">{{selectModeText}}-->
                <!--<i ng-class="{'ion-ios-arrow-down-selected':showPop}" class="icon ion-ios-arrow-down"></i>-->
            </div>
            <div class="col-20">
                <div class="num">{{contentArr.length}}</div>
                {{selectModeText.substring(0,2)}}
            </div>
        </div>
        <div class="selections" id="mainSelectionsId" ng-class="showPop?'own-animated fadeIn':''" ng-if="showPop">
            <div class="pop-arrow"></div>
            <div ng-repeat="x in selectArr" class="text" ng-class="{'selected':x.text==selectModeText}"
                 ng-click="changePop(x)">{{x.text}}
            </div>
        </div>
        <div class="own-animated more-off" ng-class="{'more-on fadeIn':moreflag}">
            <div ng-if="role!='APP_SERVICE'">
                <img src="img/main/activity.png" ng-click="openCreatePop()" ng-class="moreflag?'activity':'hide'">
                <!--<img src="img/main/clue.png" ng-class="{clue:moreflag}" ng-show="moreflag">-->
                <!--<img src="img/main/price.png" ng-class="{price:moreflag}" ng-show="moreflag">-->
                <img src="img/main/opportunity.png" ng-click="openCreateChancePop()" ng-class="moreflag?'opportunity':'hide'"
                     ng-show="moreflag">
                <img src="img/main/contacts.png" ng-click="createContact()" ng-class="moreflag?'contacts':'hide'"
                     ng-show="moreflag">
            </div>
            <div ng-if="role=='APP_SERVICE'">
                <img src="img/main/visit.png" ng-click="openCreateVisit()" ng-class="moreflag?'visit':'hide'"
                     ng-show="moreflag">
                <img src="img/main/check.png" ng-click="openCreateCheck()" ng-class="moreflag?'check':'hide'"
                     ng-show="moreflag">
                <img src="img/main/contacts.png" ng-click="createContact()" ng-class="moreflag?'contacts':'hide'"
                     ng-show="moreflag">
            </div>
            <button id="app-funcs" class="button button-fab button-fab-top-right button-energized-900 flap ink"
                    ng-click="moreflag=!moreflag;moreApps()" ng-class="{'darkColor':moreflag}">
                <div class="own-animated" ng-class="moreflag?'rotateIn':'rotateLeave'"><i
                        class="icon ion-ios-plus-empty"></i></div>
            </button>
        </div>
    </div>
</div>
<ion-content id="mainContentId" class="main has-footer" has-bouncing="false"
             ng-class="{expanded:isExpanded}"
             ng-style="topHeight" scroll="false">
    <ion-scroll class="fill-parent" delegate-handle="mainScroll-handle">
        <div class="content">
            <div class="line-vertical"></div>
            <div class="main-content">
                <div class="await-apl">待处理</div>
                <div class="obj item flipInX {{x.class}}" ng-class="isAndroid?'':'animated'" ng-hide="contenHideFlag" ng-repeat="x in contentArr"
                     ng-style="x.style" ng-click="goDetail(x)">
                    <div class="circleNum" style="{{'border-color:'+x.mark}}">{{$index+1}}</div>
                    <div class="row row-center apl-content no-padding">
                        <div class="col col-80">
                            <div class="text">{{x.title}}</div>
                            <div class="row time">
                                <div>{{x.date | date:'yyyy MM dd'}}</div>
                                <!--<div class="paddingLeft">{{(x.month+'').length==1?('0'+x.month):x.month}}</div>-->
                                <!--<div class="paddingLeft">{{(x.day+'').length==1?('0'+x.day):x.day}}</div>-->
                                <div class="paddingLeft">{{x.startTime}}<span ng-if="x.startTime&&x.endTime">—</span>{{x.endTime}}
                                </div>
                                <div ng-if="role=='APP_SALE'" class="status" ng-class="{'main-accomplish':(x.STATUS_ID=='E0002'||x.STATUS_ID=='E0003'),
                                            'main-unPunish':(x.STATUS_ID=='E0001')||x.STATUS_ID=='E0004'}">
                                    {{x.STATUS_TXT}}
                                </div>
                                <div ng-if="role!='APP_SALE'" class="status" ng-class="{'stat-new':(x.STAT=='E0001'),
                                            'stat-sendedworker':(x.STAT=='E0002'),
                                            'stat-refused':(x.STAT=='E0003'),
                                            'stat-handing':(x.STAT=='E0004')}">{{x.STAT_T}}
                                </div>
                            </div>
                        </div>
                        <div class="col col-20 text-center"><i class="ion-ios-arrow-right"
                                                               style="{{'color:'+ x.mark}}"></i>
                        </div>
                        <!--<div class="col col-10 text-center" ng-click="showMarks(x,$event)"><img-->
                        <!--src="img/main/dash.png" class="more"></div>-->
                    </div>
                    <div class="border-bottom"></div>
                    <!--<div class="row row-center mark" ng-if="x.showMarks">-->
                    <!--<img src="img/main/mark.png" class="markImg">-->
                    <!--<div class="markText">标记:</div>-->
                    <!--<div class="col-48 markSelect">-->
                    <!--<div class="row">-->
                    <!--<div class="col own-animated fadeInRight" ng-repeat="color in marks">-->
                    <!--<button class="button button-fab" style="{{'background:'+color}}"-->
                    <!--ng-click="chooseMark(x,color)"></button>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--<img src="img/main/delete.png" class="deleteImg" ng-click="delete(x)">-->
                    <!--<div class="markText" ng-click="delete(x)">删除</div>-->
                    <!--</div>-->
                </div>
            </div>
        </div>
        <div class="noData" ng-if="contentArr.length==0&&!loadMoreHasData">
            <img src="img/noData.png">

            <div>没有数据</div>
        </div>
        <div class="addRelationsModal">
            <div class="loadMore" ng-if="contentArr.length==0&&loadMoreHasData">
                <ion-spinner icon="ios"></ion-spinner>
            </div>
        </div>
        <ion-infinite-scroll id="mainInfiniteId" immediate-check="false" on-infinite="getList()" distance="1%"
                             ng-if="loadMoreFlag&&contentArr.length!=0"></ion-infinite-scroll>
        <button class="button button-positive" ng-click="toMap();">进入百度</button>
    </ion-scroll>

</ion-content>