

$main-backColor: #2b60ab;
$mian-dayColor: rgba(255, 255, 255, 0.5);
$main-edgeColor: rgba(255, 255, 255, 0.25);
$main-dotColor:#9ec92a;
$main-lineColor:#d2d2d2;
/*公共样式 end*/

/*首页*/
.main {
  .top-back {
    background: $main-backColor;
    width: 100%;
    min-height: 125px;
    .dayView {
      .months {
        padding-top: 35px;
        font-size: 15px;
        color: white;
        padding-bottom: 0;
        .year {
          padding-left: 3%;
        }
        .month {
          padding-left: 8px;
        }
      }
      .day {
        color: $mian-dayColor;
        font-size: 15px;
        padding-top: 0;
        padding-bottom: 0;
        position: relative;
        top: -4px;
        .col {
          padding: 0 5px;
          .dot {
            background: $main-dotColor;
            width: 4px;
            height: 4px;
            border-radius: 50%;
            margin-left: 47.5%;
          }
        }
        .myDay {
          height: 29px;
        }
        .checked {
          background: url('../../img/main/Rectangle2x.png') no-repeat center;
          background-size: contain;
          color: white;
        }
      }
      .today {
        font-size: 8px;
        color: white;
        -webkit-transform: scale(0.7, 0.7);
      }
      .edgeDay {
        color: $main-edgeColor;
      }
      .slider {
        height: 30px;
        .slider-slide {
          padding-top: 5px;
        }
      }
    }
    .monthView {
      color: $mian-dayColor;
      background: $main-backColor;
      .week {
        font-size: 12px;
        .col {
          padding: 0 5px;
        }
      }
      .row {
        padding: 0 0 3px 0;
      }
      .col-14 {
        text-align: center;
        max-width: 15%;
        min-width: 14.28%;
        padding: 0 3px 6px 3px;
        .checked{
          width: 20px;
          height: 20px;
          background: #7794B7;
          border-radius: 50%;
          position: relative;
          margin: auto;
          color: white;
        }
        .back-today{
          background: $main-dotColor;
        }
      }

      .today_text {
        color: $main-dotColor;
      }
    }
  }
  .mainBar{
    height:73px;
    background: url("../../img/main/bar3x.png") no-repeat;
    background-size: 100% 100%;
    .row{
      padding:0;
      .col-10{
        padding-top: 20px;
        padding-left: 7%;
        .dot{
          background: $main-dotColor;
          width: 8px;
          height: 8px;
          border-radius: 50%;
        }
      }
      .col-25{
        padding-top: 15px;
        color: white;
        font-size: 15px;
        padding-left: 5px;
        .icon{
          padding-left: 5px;
        }
      }
      .col-20{
        text-align: center;
        margin-left: 45%;
        padding-top: 2%;
        color:white;
        font-size: 12px;
        .num{
          font-size: 20px;
        }
      }
    }
    .button-fab-top-right{
      background: #e24976;
      position: absolute;
      right:3.2%;
      top:auto;
      width: 52px;
      height: 52px;
      .icon::before{
        font-size: 36px!important;
      }
    }
  }
  .content{
    height: 70%;
    .line-vertical{
      height: 103.3%;
      width: 1px;
      background: $main-lineColor;
      margin-left: 8.2%;
      position: relative;
      top:-3.3%;
    }
  }
}

/*首页 end*/