@charset "UTF-8";
/*公共样式 end*/
/*首页*/
.main .top-back {
  background: #2b60ab;
  width: 100%;
  min-height: 125px; }
  .main .top-back .dayView .months {
    padding-top: 35px;
    font-size: 15px;
    color: white;
    padding-bottom: 0; }
    .main .top-back .dayView .months .year {
      padding-left: 3%; }
    .main .top-back .dayView .months .month {
      padding-left: 8px; }
  .main .top-back .dayView .day {
    color: rgba(255, 255, 255, 0.5);
    font-size: 15px;
    padding-top: 0;
    padding-bottom: 0;
    position: relative;
    top: -4px; }
    .main .top-back .dayView .day .col {
      padding: 0 5px; }
      .main .top-back .dayView .day .col .dot {
        background: #9ec92a;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        margin-left: 47.5%; }
    .main .top-back .dayView .day .myDay {
      height: 29px; }
    .main .top-back .dayView .day .checked {
      background: url("../../img/main/Rectangle2x.png") no-repeat center;
      background-size: contain; }
  .main .top-back .dayView .today {
    font-size: 8px;
    color: white;
    -webkit-transform: scale(0.7, 0.7); }
  .main .top-back .dayView .edgeDay {
    color: rgba(255, 255, 255, 0.25); }
  .main .top-back .dayView .slider {
    height: 30px; }
    .main .top-back .dayView .slider .slider-slide {
      padding-top: 5px; }
  .main .top-back .monthView {
    color: rgba(255, 255, 255, 0.5);
    background: #2b60ab; }
    .main .top-back .monthView .week {
      font-size: 12px; }
      .main .top-back .monthView .week .col {
        padding: 0 5px; }
    .main .top-back .monthView .row {
      padding: 0 0 3px 0; }
    .main .top-back .monthView .col-14 {
      text-align: center;
      max-width: 15%;
      min-width: 14.28%;
      padding: 0 3px 6px 3px; }
    .main .top-back .monthView .today_text {
      color: #9ec92a; }
.main .mainBar {
  height: 73px;
  background: url("../../img/main/bar3x.png") no-repeat;
  background-size: 100% 100%; }
  .main .mainBar .row {
    padding: 0; }
    .main .mainBar .row .col-10 {
      padding-top: 20px;
      padding-left: 7%; }
      .main .mainBar .row .col-10 .dot {
        background: #9ec92a;
        width: 8px;
        height: 8px;
        border-radius: 50%; }
    .main .mainBar .row .col-25 {
      padding-top: 15px;
      color: white;
      font-size: 15px;
      padding-left: 5px; }
      .main .mainBar .row .col-25 .icon {
        padding-left: 5px; }
    .main .mainBar .row .col-20 {
      text-align: center;
      margin-left: 45%;
      padding-top: 2%;
      color: white;
      font-size: 12px; }
      .main .mainBar .row .col-20 .num {
        font-size: 20px; }
  .main .mainBar .button-fab-top-right {
    background: #e24976;
    position: absolute;
    right: 3.2%;
    top: auto;
    width: 52px;
    height: 52px; }
    .main .mainBar .button-fab-top-right .icon::before {
      font-size: 36px !important; }
.main .content {
  height: 70%; }
  .main .content .line-vertical {
    height: 103.3%;
    width: 1px;
    background: #d2d2d2;
    margin-left: 8.2%;
    position: relative;
    top: -3.3%; }

/*首页 end*/

/*# sourceMappingURL=main.css.map */
