$main-backColor: #2b60ab;
$mian-dayColor: rgba(255, 255, 255, 0.5);
$main-edgeColor: rgba(255, 255, 255, 0.25);
$main-dotColor: #9ec92a;
$main-lineColor: #d2d2d2;
/*公共样式 end*/

/*首页*/
.own-backDrop-on {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 12;
  visibility: visible;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, .4);
  opacity: 1;
  pointer-events: auto;
  @include transition(background-color .2s linear 0s);
}

.own-backDrop-off {
  pointer-events: none!important;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 12;
  visibility: visible;
  background-color: rgba(255, 255, 255, 0);
  width: 100%;
  height: 100%;
  @include transition(background-color .2s linear 0s);
}

.main {
  .hide{

  }
  .noData{
    text-align: center;
    padding: 10%;
    img{
      width: 50%;
    }
  }
  .top-back {
    background: $main-backColor;
    width: 100%;
    min-height: 125px;
    .dayView {
      .months {
        padding-top: 35px;
        font-size: 18px;
        color: white;
        padding-bottom: 0;
        .year {
          padding-left: 3%;
        }
        .month {
          padding-left: 8px;
        }
      }
      .day {
        color: $mian-dayColor;
        font-size: 15px;
        padding-top: 0;
        padding-bottom: 0;
        position: relative;
        top: -4px;
        .col {
          padding: 0 5px;
          font-size:16px;
          .dot {
            background: $main-dotColor;
            width: 4px;
            height: 4px;
            border-radius: 50%;
            margin-left: 47.5%;
          }
        }
        .myDay {
          height: 29px;
          padding-top: 1px!important;
          position: relative;
          top: 1px;
          font-size: 20px;
        }
        .checked {
          background: url('../../img/main/Rectangle2x.png') no-repeat center;
          background-size: contain;
          color: white;
        }
      }
      .today {
        font-size: 12px;
        color: white;
        -webkit-transform: scale(0.7, 0.7);
      }
      .edgeDay {
        color: $main-edgeColor;
      }
      .slider {
        height: 30px;
        .slider-slide {
          padding-top: 5px;
        }
      }
    }
    .monthView {
      color: $mian-dayColor;
      .week {
        font-size: 16px;
        padding-top: 8px!important;
        .col {
          padding: 0 5px;
        }
      }
      .row {
        padding: 4px 0 3px 0;
      }
      .col-14 {
        text-align: center;
        max-width: 15%;
        min-width: 14.28%;
        padding: 0 3px 10px 3px;
        font-size: 18px;
        height: 30px;
        .checked {
          width: 28px;
          height: 28px;
          line-height: 28px;
          background: #7794B7;
          border-radius: 50%;
          position: absolute;
          margin-left: 3%;
          margin-top: -4px;
          color: white;
        }
        .back-today {
          background: $main-dotColor;
        }
      }

      .today_text {
        color: $main-dotColor;
      }
    }
  }
  .mainBar {
    height: 73px;
    background: url("../../img/main/bar3x.png") no-repeat;
    background-size: 100% 100%;
    .ion-ios-arrow-down{
      &:before{
        @include transition(transform 0.4s ease-out 0.0s);
      }
    }
    .ion-ios-arrow-down-selected:before{
      @include rotate(180deg);
    }
    .row {
      padding: 0;
      .col-10 {
        padding-top: 20px;
        padding-left: 7%;
        .dot {
          background: $main-dotColor;
          width: 8px;
          height: 8px;
          border-radius: 50%;
        }
      }
      .col-25 {
        padding-top: 15px;
        color: white;
        font-size: 15px;
        padding-left: 5px;
        .icon {
          padding-left: 5px;
        }
      }
      .col-20 {
        text-align: center;
        margin-left: 45%;
        padding-top: 2%;
        color: white;
        font-size: 12px;
        .num {
          font-size: 20px;
        }
      }
    }
    .selections{
      background: rgba(74, 74, 74, 0.7);
      height: 120px;
      width: 100px;
      border-radius: 10px;
      z-index: 12;
      left: 7%;
      position: fixed;
      margin-top: -8px;
      padding: 15px;
      color: white;
      text-align: center;
      //@include transition-transform(0.2s linear);
      //@include translate(0px, -100%);
      .pop-arrow{
        position: absolute;
        top: -4px;
        left: 48px;
        width: 8px;
        height: 8px;
        overflow: hidden;
        background: rgba(109, 109, 109, 0.7);
        content: '';
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
      }
      .text{
        padding-top: 10px;
      }
      .selected{
        color: $crm-subject-green!important;
      }
    }
    //.selections-show{
    //  @include transition-transform(.2s linear 0s);
    //  @include translate(0%, 0px);
    //}
    //.selections-close{
    //  @include transition-transform(.2s linear 0s);
    //  @include translate( 0px,-100%);
    //}
    @mixin more($width) {
      position: absolute;
      width: $width+px;
      height: $width+px;
      border-radius: 50%;
      right: 0;
      margin-right: -30px;
      margin-top: -45px;
      z-index: 99;
    }
    .more-off {
      @include more(52)
    }
    .more-on {
      @include more(150);
      background: #e24976;
      .activity {
        width: 45px;
        position: absolute;
        top: 60px;
        left: 3px;
      }
      .visit {
        width: 48px;
        position: absolute;
        top: 65px;
        left: 3px;
      }
      .clue {
        width: 22px;
        position: absolute;
        top: 11px;
        right: 48px;
      }
      .price {
        height: 18px;
        position: absolute;
        top: 25px;
        left: 25px;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        transform: rotate(45deg);
      }
      .opportunity {
        position: absolute;
        top: 9px;
        height: 35px;
        left: 66px;
      }
      .check {
        position: absolute;
        top: 9px;
        height: 32px;
        left: 65px;
      }
      .contacts {
        position: absolute;
        width: 33px;
        bottom: 9px;
        right: 55px;
      }
    }
    .lightColor {
      background: #e24976;
    }
    .darkColor {
      background: #ba3a5f !important;
    }
    .button-fab-top-right {
      background: #e24976;
      position: absolute;
      margin-top: 48px;
      margin-right: 30px;
      top: auto;
      width: 52px;
      height: 52px;
      z-index: 999;
      .icon::before {
        font-size: 36px !important;
      }
    }
  }

  $main-marginLeft: 16%;
  $main-textColor: #9B9B9B;
  .content {
    height: 100%;
    .row {
      padding: 0;
    }
    .col {
      padding: 0;
    }
    .line-vertical {
      position: absolute;
      height: 100%;
      width: 1px;
      background: $main-lineColor;
      margin-left: 8.2%;
      top: -3.3%;
    }
    .main-content {
      padding-left: $main-marginLeft;
      .obj {
        margin-bottom: 4%;
      }
      .item {
        border: none;
        padding: 0;
        overflow: visible;
      }
      .await-apl {
        padding: 2% 0 12px 0;
        font-size: 18px;
        color: $main-textColor;
      }
      .circleNum {
        background: white;
        margin-left: -9%;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 1px solid #9ec92a;
        position: absolute;
        text-align: center;
        padding-top: 8px;
        left: -20px;
        margin-top: 1px;
      }
      .apl-content {
        font-size: 17px;
        color: black;
        .text {
          padding-bottom: 3px;
          @include single-line-ellipsis();
        }
        .time {
          font-size: 13px;
          color: $main-textColor;
          text-align: center;
          .status{
            position: fixed;
            right:20%;
          }
          .paddingLeft {
            padding-left: 3px;
          }
        }
        .more {
          height: 20px;
          width: 5px;
        }
        .ion-ios-arrow-right {
          font-size: 25px;
          color: $main-lineColor;
        }
      }
      .border-bottom {
        height: 1px;
        background-color: #d2d2d2;
        width: 96%;
        margin-top: 2px;
      }
      .mark {
        padding: 5px 0;
        border-bottom: 1px solid $main-lineColor;
        .markImg {
          width: 25px;
        }
        .markText {
          color: $main-textColor;
          padding-left: 5px;
          position: relative;
          top: -1px;
        }
        .markSelect {
          padding-left: 10px;
          .col {
            text-align: right;
          }
          button {
            border: 1px solid #B7A9A9;
            width: 16px;
            height: 16px;
            min-width: 0px;
            min-height: 0px;
            box-shadow: none;
            position: relative;
            top: -2px;
            margin-right: 5px;
          }
        }
        .deleteImg {
          width: 25px;
          margin-left: 3%;
        }

      }
    }
  }
  @keyframes rotateIn {
    from {
      -webkit-transform-origin: center;
      transform-origin: center;
      -webkit-transform: rotate3d(0, 0, 1, 135deg);
      transform: rotate3d(0, 0, 1, 135deg);
      opacity: 0;
    }

    to {
      -webkit-transform-origin: center;
      transform-origin: center;
      -webkit-transform: rotate3d(0, 0, 1, 45deg);
      transform: rotate3d(0, 0, 1, 45deg);
      opacity: 1;
    }
  }

  .rotateIn {
    -webkit-animation-name: rotateIn;
    animation-name: rotateIn;
  }
  @keyframes rotateLeave {
    from {
      -webkit-transform-origin: center;
      transform-origin: center;
      -webkit-transform: rotate3d(0, 0, 1, -90deg);
      transform: rotate3d(0, 0, 1, -90deg);
      opacity: 0;
    }
    to {
      -webkit-transform-origin: center;
      transform-origin: center;
      -webkit-transform: rotate3d(0, 0, 1, 0deg);
      transform: rotate3d(0, 0, 1, 0deg);
      opacity: 1;
    }
  }

  .rotateLeave {
    -webkit-animation-name: rotateLeave;
    animation-name: rotateLeave;
  }

}

/*首页 end*/