<ion-view class="About">
    <div class="saleList">
        <ion-header-bar align-title="center" class="head pub-head ">
            <div class="row row-center">
                <a class="col col-20 text-left goBack button button-clear" ng-click="goBack()"><i class="ion-chevron-left"></i></a>
                <div class="col col-60 text-center">关于</div>
            </div>
        </ion-header-bar>
    </div>
    <ion-content scroll="false">
        <div class="img-wrapper" style="text-align: center;margin-top:3rem;">
            <img src="img/setting/er_wei_ma_download.png" style="width:156px;height:156px;" alt="">
        </div>
        <div class="btn-wrapper" style="text-align:center;margin-top: 2rem;">
            <div class="button button-clear" ng-click="openInBrowser();">点击下载最新版本</div>
        </div>
    </ion-content>
</ion-view>