<ion-view class="About">
    <div class="saleList">
        <ion-header-bar align-title="center" class="head pub-head ">
            <div class="row row-center">
                <a class="col col-20 text-left goBack button button-clear" ng-click="goBack()"><i class="ion-chevron-left"></i></a>
                <div class="col col-60 text-center">功能介绍</div>
            </div>
        </ion-header-bar>
    </div>
    <ion-content>
        <div ng-repeat="about in aboutCont">
            <div class="row" style="width: 96%;margin: 5px 2%;">
                <span style="font-size: 14px; text-indent: 2em;color: rebeccapurple">{{about.describe}}</span>
            </div>
            <img ng-src="{{about.url}}" style="position: relative;width: 90%;left: 5%;height: 10%;box-shadow: 5px 5px rgba(128, 128, 128, 0.22);">
        </div>
    </ion-content>
</ion-view>