.customer_Query{
  .customer_Query_headspan{
    color: white;
    float: right;
    margin-right:15px;
  }
  .customer_Querylisthead{
    color:#d4d4d4;
    font-size:16px;
    padding: 0 0px 0 5px;
    margin-top:4px;
    .customer_Querylistheadimg{
      width:20px;
      height: 20px;
    }
    .customer_Querylistheadline{
      height: 1px;
      width: 130%;
      background-color: #d4d4d4;
      margin-top: 8px;
    }
  }
  .androidcustomertop{
    margin-top:96px;
  }
  .customer_Querylists{
    padding:10px 13px 10px 13px;
    border: none;
    .customer_Querylistsimg{
      width: 16px;
      height: 16px;
      float: right;
    }
  };
};
.platform-ios .iostop{
  margin-top:116px;
}

//customerdeatil
.customer_detail{
  .absolute{
    position: absolute;
    z-index: 9;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }
  .customer_backtopa{
   background: url("../../img/customer/customerbackga@2x.png") no-repeat;
    background-size: 100% 100%;
    width:100%;
  }
  .customer_backtopb{
    background: url("../../img/customer/customerbackg@2x.png") no-repeat;
    background-size: 100% 100%;
    width:100%;
  }
  .customer_detailtitle{
    height:44px;
    line-height:44px;
    text-align: center;
    .customerdeatil_headtitlei{
      font-size: 35px;
      color: #C5D2E1;
      display: block;
      float: left;
      margin-left:15px;
    }
    .customerdeatil_headtitlespan{
      font-size:18px;
      color: white;
    }
  }

  .customer_detailtitleview{
    height:44px;
    //line-height:44px;
    text-align: center;
    .customerdeatil_headtitleiview{
      font-size: 40px;
      color: #C5D2E1;
      display: block;
      float: left;
      margin-left: 15px;
      margin-top: 6px;
    }
    .customerdeatil_headtitlespanview{
      font-size:18px;
      color: white;
    }
  }

  .customer_detailname{
    position: absolute;
    top:37px;
    font-size:14px;
    width: 80%;
    margin-left: 10%;
    color: white;
    text-align: center;
  }

  .customer_detailcontent {
    position: relative;
    height: 85px;
    font-size: 16px;
    color: white;
    .customer_detailcontentname {
      position: absolute;
      top: 10px;
      left: 25px;
      .customer_detailcontentcicle {
        width: 14px;
        height: 14px;
        float: left;
        margin-top: 3px;
        margin-right: 5px;
        display: inline-block;
        border-radius: 50%;
        border: 2px solid #9EC92A;
      }
    }
    .customer_detailcontentaddress{
      position: absolute;
      top:35px;
      left:25px;
    }
    .customer_detailcontentphone{
      position: absolute;
      top:60px;
      left:25px;
      .customer_detailcontentphonei{
        float: left;
        margin-top:-3px;
        font-size:25px;
      }
    }
  };

  .customer_detail_countentbu{
    width:33px;
    height:33px;
    z-index: 100;
  }
  .customer_detail_countentimgbase{
    text-align: center;
    width:75px;
    height:32px;
    font-size:14px;
    padding-left:10px;
    line-height:32px;
    position: absolute;
    left:11px;
    background-color: #E8E7E7;
    border-radius: 30px;
    z-index: -1;
  }
  .customer_detail_countentbasic{
    position: relative;
    margin-top: 5px;
    font-size:16px;
    color:#406FB3;
    .customer_detail_countentbasicinfo{
      position: absolute;
      top:0px;
      left: 25px;
    }
    .customer_detail_countentbasicline{
      position: absolute;
      top:10px;
      left: 90px;
      width: 100%;
      height:1px;
      background-color: #406FB3;
    }
    .customer_detail_countentbasicclok{
      position: absolute;
      top:15px;
      margin-top: 2px;
      left:0px;
      width:57px;
      height:15px;
      border: 1px solid #406FB3;
      border-top: none;
      border-left: none;
    }
  }

  .customer_detail_countentlist{
    font-size:16px;
    .customer_detail_countentlistimg {
      width: 16px;
      height: 16px;
      float: left;
      margin-top: 2px;
      margin-left: 8px;
      margin-right: 5px
    }
  }
  //.customercontentbutton{
  //  width:55%;
  //  height:40px;
  //  margin-left:22%;
  //  margin-top:10px;
  //  background-color: #9EC92A;
  //  color: white;
  //  font-size:16px;
  //  line-height:40px;
  //  text-align: center;
  //  border-radius:10px;
  //};
}
.customercontentbutton{
  width:55%;
  height:40px;
  margin-left:22%;
  margin-top:10px;
  background-color: #9EC92A;
  color: white;
  font-size:16px;
  line-height:40px;
  text-align: center;
  border-radius:10px;
};