.customerkey_Query{
  .customerkeyheadtitlespan{
    float: right;
    color:white;
    margin-right:10px;
  }
  .customerkey_contentbg{
    background-color: #ECF0F1;
    .customerkey_contentheadbu{
      width: 100px;
      height: 30px;
      text-align: center;
      line-height: 30px;
      color: #406FB3;
      border-radius: 10px;
      border: 1px solid #406FB3;
    }
    .customerkey_contentheadbusty{
      position:relative;
      width: 100px;
      height: 30px;
      text-align: center;
      line-height: 30px;
      color: white;
      background-color: #406FB3;
      border-radius: 10px;
      margin-left: 20px;
      .customerkey_contentheaddel{
        position: absolute;
        right: 0;
        top: -3px;
        width: 15px;
        height: 15px;
        right: -2px;
      }
    }
  }
  .customerkey_query_listcicle{
    width:14px;
    height:14px;
    vertical-align: middle;
    display: inline-block;
    border-radius:50%;
    border: 2px solid #9EC92A;
  }

}