#worksheet-takepicture-view{
	/*.back-left{
		font-size: 2rem;
		@include display-flex;
		@include align-items(center);
		@include justify-content(center);
    	width: 1.8rem;
	}*/
	.selected-images{
		width: 100%;
		padding: .8rem 2vmin;
		.selected-image{
			//border: 1px solid green;
		    height: 48vmin;
		    width: 48vmin;
		    float: left;
		    .img-wrapper{
		    	@include display-flex;
			    @include justify-content(center); 
			    @include align-items(center);
			    padding: .4rem;
		    }
		    img{
				max-height: 100%;
				max-width: 100%;
		    }
		    &.selected-btn{
		    	border: 1px dashed  $crm-header-bar-bgcolor;
		    	font-size: 4.5rem;
		    	color: $crm-header-bar-bgcolor;
		    	@include display-flex;
		    	@include align-items(center);
		    	@include justify-content(center);
		    }
		    .img-handler-wrapper{
		    	position: relative;
			    top: -2rem;
			    height: 2rem;
			    background: rgba(6, 6, 6, 0.53);
			    color: white;
			    width: 96%;
    			margin-left: 1%;
			    @include display-flex;
			    span{
			    	flex: 1;
				    text-align: center;
				    height: 2rem;
				    line-height: 2rem;
			    }
		    }
		}
	}
}
.image-take-actionsheet{
	.action-sheet-options{
		button{
			background-color: inherit !important;
		}
		button:nth-child(2){
			box-shadow: 0 1px 0px 0 rgba(0,0,0,.16),0 0px 1px 0 rgba(0,0,0,.12);
			&:activated{
				box-shadow: 0 1px 0px 0 rgba(0,0,0,.16),0 0px 1px 0 rgba(0,0,0,.12);
			}
		}
	}
}
.modal-wrapper{
	width: 100%;
	height: 100%;
}
.takePicture-image-modal-wrapper{
	@include transition(background-color .15s linear 0s);
	text-align: center;
	width: 100%;
	height: 100%;
	@include display-flex;
	@include flex-direction(column);
	@include justify-content(center);
	@include align-items(center);	
	//background-color: rgba(4, 4, 4, 0.49);
	background-color: transparent;
	.close-div{
		position: absolute;
		width: 100%;
		height: 2rem;
		background-color: rgba(0,0,0,.1);
		top: 0px;
		//z-index: 12;
    	//pointer-events: auto;
    	display: none;
		span{
			height: 2rem;
			display: block;
			text-align: left;
			line-height: 2rem;
			padding-left: 1.5rem;
			font-size: 1rem;
    		color: white;
		}
	}
	/*&.animated{  fadeIn
	    -webkit-animation-duration: .4s;
	    animation-duration: .4s;
	}*/
	.modal-img-wrapper{
    	@include flex(1);
	    @include display-flex;
		@include justify-content(center);
		@include align-items(center);
    }
	img {
		max-height: 100%;
		max-width: 100%;
		@include transition-transform(0.2s linear);
		@include scale(0);
		//@include transition(opacity);
		//opacity: 0;
		&.inited{
			//opacity: 1;
			@include scale(1);
		}
	}
	.images-buttons{
		height: 2rem;
		width: 100%;
		z-index: 10;
		pointer-events: auto;
		.button{
			min-height: 1rem;
			height: 2rem;
			line-height: 2rem;
			width: 50%;
		}
		.button:nth-child(1){
			color: red;
		}
		.button: nth-child(2){
			color: white;
		}
	}
}

.takepicture-content{
	.gallery-view{
		.image-container{
			border: 1px solid #DCD8D8;
		}
		.selected-btn{
			width: 48%;
    		display: inline-block;
    		height: 48vmin;
    		@include display-flex;
    		@include align-items(center);
    		@include justify-content(center);
    		i{
    			padding: 1rem;
			    width: 20vmin;
			    height: 20vmin !important;
    		}
		}
	}
}
.modal-wrapper{
	.imageView {
		.image-subtitle{
			width: 100% ;
		    height: 3rem;
		    line-height: 3rem;
		    left: 0px;
		    .buttons{
		    	border-top: 1px solid #313030;
		    	@include display-flex;
		    	.button{
		    		//width: 40%;
		    		@include flex(1);
		    		padding: 0px;
		    	}
		    	.button:nth-child(1), .button:nth-child(2){
		    		border-right: 1px solid #313030;
		    	}
		    	.button:nth-child(1){
		    		color: red;
		    	}
		    	.button-return{
					//width: 6%;
					//min-width: 6%;
		    	}
		    }
		}
	}
}






