#worksheet-takepicture-view{
	.selected-images{
		width: 100%;
		padding: .8rem 2vmin;
		.selected-image{
			//border: 1px solid green;
		    height: 48vmin;
		    width: 48vmin;
		    float: left;
		    @include display-flex;
		    @include justify-content(center);
		    @include align-items(center);
		    padding: .4rem;
		    img{
				max-height: 100%;
				max-width: 100%;
		    }
		    &.selected-btn{
		    	border: 1px dashed  $crm-header-bar-bgcolor;
		    	font-size: 6rem;
		    	color: $crm-header-bar-bgcolor;
		    }
		}
	}
}
.image-take-actionsheet{
	.action-sheet-options{
		button{
			background-color: inherit !important;
		}
		button:nth-child(2){
			box-shadow: 0 1px 0px 0 rgba(0,0,0,.16),0 0px 1px 0 rgba(0,0,0,.12);
			&:activated{
				box-shadow: 0 1px 0px 0 rgba(0,0,0,.16),0 0px 1px 0 rgba(0,0,0,.12);
			}
		}
	}
}
.modal-wrapper{
	width: 100%;
	height: 100%;
}
.takePicture-image-modal-wrapper{
	text-align: center;
	width: 100%;
	height: 100%;
	@include display-flex;
	@include justify-content(center);
	@include align-items(center);
	background-color: rgba(4, 4, 4, 0.49);
	.close-div{
		position: absolute;
		width: 100%;
		height: 2rem;
		background-color: rgba(0,0,0,.1);
		top: 0px;
		//z-index: 12;
    	//pointer-events: auto;
    	display: none;
		span{
			height: 2rem;
			display: block;
			text-align: left;
			line-height: 2rem;
			padding-left: 1.5rem;
			font-size: 1rem;
    		color: white;
		}
	}
	img {
		max-height: 100%;
		max-width: 100%;
		@include transition-transform(0.2s linear);
		//@include scale(0,0);
		&.inited{
			//@include scale(0,0);
		}
	}
}