<ion-view id="worksheet-takepicture-view" class="worksheet-view-public {{config.PROCESS_TYPE}} {{config.STATUS_CODE}}" align-title="center">
    
    <div class="saleList">
        <ion-header-bar align-title="center" class="head pub-head">
            <div class="row row-center" style="padding:5px;">
                <a class="col col-15 text-left goBack" ng-click="goBackForPicture()"><i class="ion-chevron-left"></i></a>
                <div class="col col-70 text-center" >服务拍照</div>
                <div class="col col-15 add"><!--img src="img/saleList/add.png"--></div>
            </div>
        </ion-header-bar>
    </div>
    
    <ion-content id="takepicture-content" scroll="true" has-bouncing="false">
        
        <!--ion-refresher ng-if="canReLoadData()" pulling-text="下拉刷新" on-refresh="reloadData();"></ion-refresher>
            
            <div class="is-loading xbr-tip-text-oneline" ng-if="config.isLoading && config.isReloading" style="margin-top:2rem;">
                <ion-spinner icon="" class="spinner spinner-ios"></ion-spinner>
            </div>
            
            <div class="selected-images">
                <div class="selected-image" ng-repeat="item in datas.imageDatas">
                    <div class="img-wrapper fill-parent">
                        <img ng-src="{{item.src}}" ng-click="showImage($event,item, index);">
                    </div>
                    <div class="img-handler-wrapper" ng-if="!item.isServerHolder">
                        <!-span ng-click="deleteImage(item, $index);">删除</span->
                        <span ng-click="uploadImage(item);" ng-if="!item.uploadError && !item.isDeleting && !item.isNetworking">上传</span>
                        <span ng-bind="item.networkTip" ng-if="item.uploadError || item.isDeleting || item.isNetworking"></span>
                    </div>
                </div>
                <div class="selected-btn selected-image" style="font-size:3.5rem;border:0px;" ng-click="takePicture();" ng-if="!config.isLoading">
                    <div class="img-wrapper">
                        <i class="ion-ios-plus-empty" style="border:1px dashed #2B60AB;width:6rem;height:6rem;text-align: center;line-height: 6rem;"></i>
                    </div>
                </div>
            </div>
            
            
            
            <div class="loaind-tip-wrapper" style="display:none;">
                <div class="images-click-for-moredatas xbr-tip-text-oneline" ng-click="loadMoreData();" ng-if="!config.isLoading && config.hasMoreData && (config.loadingErrorMsg ==null || config.loadingErrorMsg=='')">
                    点击加载更多
                </div>
                
                <div class="is-loading xbr-tip-text-oneline" ng-if="config.isLoading && !config.isReloading" style="margin-top:2rem;">
                    <ion-spinner icon="" class="spinner spinner-ios"></ion-spinner>
                </div>
                
                <div class="images-no-more-datas xbr-tip-text-oneline" ng-if="!config.hasMoreData">
                    暂无更多数据
                </div>
        </div-->
        
        <ion-gallery ion-gallery-items="datas.imageDatas" ion-gallery-row="2" ion-gallery-toggle="true" ion-item-callback="ionGalleryClickCallback(item);"></ion-gallery>
        
        <div class="" ng-if="datas.imageDatas==null || datas.imageDatas.length<1" style="line-height: 4rem;height: 4rem;text-align: center;width: 100%;color: #A7A3A3;">
            该工单暂无服务拍照信息!
        </div>

    </ion-content>
</ion-view>


<!--div class="selected-images">
                <div class="selected-image" ng-repeat="item in datas.imageDatas">
                    <div class="img-wrapper">
                        <img ng-src="{{item.displaySrc}}">
                    </div>
                    
                    <div class="img-handler-wrapper" ng-if="item.isServerHolder && !item.isNetworking">
                        <span ng-click="deleteImage(item, $index);">删除</span>  <span ng-click="saveImage(item);">保存到本地</span>
                    </div>
                    <div class="img-handler-wrapper" ng-if="!item.isServerHolder && !item.isNetworking">
                        <span ng-click="deleteImage(item, $index);">删除</span>
                        <span ng-click="uploadImage(item);">上传</span>
                    </div>
                        <span ng-bind="item.networkTip"></span>
                    </div->
                    
                    <div class="img-handler-wrapper" ng-click="networkClickHandler();" ng-if="item.isNetworking">
                        <span ng-bind="item.networkTip"></span>
                    </div>
                </div>
                <div class="selected-btn selected-image" style="font-size:3.5rem;border:0px;" ng-click="takePicture();" ng-if="!config.isLoading">
                    <div class="img-wrapper">
                        <i class="ion-ios-plus-empty" style="border:1px dashed #2B60AB;width:6rem;height:6rem;text-align: center;line-height: 6rem;"></i>
                    </div>
                </div>
            </div-->

<!--ion-scroll class="fill-parent" has-bouncing="false">
            
            <ion-refresher ng-if="canReLoadData()" pulling-text="下拉刷新" on-refresh="reloadData();"></ion-refresher>
            
            <div class="is-loading xbr-tip-text-oneline" ng-if="config.isLoading && config.isReloading" style="margin-top:2rem;">
                <ion-spinner icon="" class="spinner spinner-ios"></ion-spinner>
            </div>
            
            <div class="selected-images">
                <div class="selected-image" ng-repeat="item in datas.imageDatas">
                    <div class="img-wrapper">
                        <img ng-src="{{item.displaySrc}}"> <!- ng-click="showImage($event,item);" ->
                    </div>
                    
                    <div class="img-handler-wrapper" ng-if="item.isServerHolder && !item.isNetworking">
                        <span ng-click="deleteImage(item, $index);">删除</span>  <span ng-click="saveImage(item);">保存到本地</span>
                    </div>
                    <div class="img-handler-wrapper" ng-if="!item.isServerHolder && !item.isNetworking">
                        <span ng-click="deleteImage(item, $index);">删除</span>  <span ng-click="uploadImage(item);">上传</span>
                    </div>
                    <!- 正在上传中...请稍候 ng-if="item.uploading" ->
                    <!-div class="img-handler-wrapper" ng-if="item.isNetworking">
                        <span ng-bind="item.networkTip"></span>
                    </div->
                    
                    <div class="img-handler-wrapper" ng-click="networkClickHandler();" ng-if="item.isNetworking">
                        <!- 正在删除中...请稍候 ng-if="item.isDeleting" ->
                        <span ng-bind="item.networkTip"></span>
                    </div>
                    
                </div>
                <div class="selected-btn selected-image" style="font-size:3.5rem;border:0px;" ng-click="takePicture();" ng-if="!config.isLoading">
                    <div class="img-wrapper">
                        <i class="ion-ios-plus-empty" style="border:1px dashed #2B60AB;width:6rem;height:6rem;text-align: center;line-height: 6rem;"></i>
                    </div>
                </div>
            </div>
            
            <style>
                #takepicture-content .scroll{
                    display: flex;
                    flex-direction: column;
                }
                #takepicture-content .selected-images{
                    flex: 1;
                    padding-bottom: 0px;
                }
                #takepicture-content .loaind-tip-wrapper{
                    height: 2rem;
                    margin-top: .5rem;
                }
                .xbr-tip-text-oneline{
                    height: 2rem;
                    width: 100%;
                    text-align: center;
                    line-height: 2rem;
                    color: #9A9A9A;
                }
            </style>
            <div class="loaind-tip-wrapper">
                <div class="images-click-for-moredatas xbr-tip-text-oneline" ng-click="loadMoreData();" ng-if="!config.isLoading && config.hasMoreData && (config.loadingErrorMsg ==null || config.loadingErrorMsg=='')">
                    点击加载更多
                </div>
                
                <!-div class="images-is-loading xbr-tip-text-oneline" ng-if="config.isLoading">
                    <ion-spinner icon="" class="spinner spinner-ios"></ion-spinner>
                </div->
                <div class="is-loading xbr-tip-text-oneline" ng-if="config.isLoading && !config.isReloading" style="margin-top:2rem;">
                    <ion-spinner icon="" class="spinner spinner-ios"></ion-spinner>
                </div>
                
                <div class="images-no-more-datas xbr-tip-text-oneline" ng-if="!config.hasMoreData">
                    暂无更多数据
                </div>
                
                <!-div class="images-load-occur-error xbr-tip-text-oneline" ng-bind="config.loadingErrorMsg"></div->
            </div>
            
        </ion-scroll-->