<ion-view id="worksheet-takepicture-view" class="worksheet-view-public" align-title="center">
	<!--ion-header-bar id="xbr-test-header" align-title="center" class="bar-positive" ng-class="{'query-mode':config.isQueryMode}">
		<div class="left-back" ng-click="$ionicGoBack();">
			<i class="ion-ios-arrow-back"></i>
		</div>
		<div class="title"></div>
        <div class="buttons right"></div>
	</ion-header-bar-->
    <div class="saleList">
        <ion-header-bar align-title="center" class="head pub-head">
            <div class="row row-center">
                <a class="col col-15 text-left goBack" ng-click="goBack()"><i class="ion-chevron-left"></i></a>
                <div class="col col-70 text-center">服务拍照</div>
                <!--div class="col col-15 add"><img src="img/saleList/add.png"></div-->
            </div>
        </ion-header-bar>
        <!--div class="pub-subhead bar bar-subheader">
            <div class="row row-center no-padding" ng-click="changeSearch()">
                <i class="ion-ios-search"></i>请输入活动关键字
            </div>
        </div-->
    </div>
    <ion-content scroll="true" has-bouncing="false">
        <div class="selected-images">
            <div class="selected-image" ng-repeat="item in datas.selectedImages">
                <img src="{{item.base64Str}}" ng-click="showImage($event,item);">
            </div>
            <div class="selected-btn selected-image" style="font-size: 3.5rem;" ng-click="takePicture();">
                <i class="ion-ios-plus-empty"></i>
            </div> 
        </div>
        <div class="test">
            <div class="div-1">  div-1fdsfafdfs</div>
            <div class="div-2">  div-2fdsfkjdlfjlsjdf</div>
            <div class="div-3">  div-3kjfdsjlfjladjfkajsdlf</div>
        </div>
        <style>
            .test{
                margin-top: 50px;
                width: 100%;
                display: none;
            }
        </style>
    </ion-content>
</ion-view>