<ion-view  id="worksheet_carMileage"  align-title="center">
    <ion-header-bar align-title="center" class="bar bar-positive bar-header disable-user-behavior" >
        <div class="row row-center title rowTitle">
            <div class="col col-15 text-left" ng-click="$ionicGoBack();">取消</div>
            <div class="col col-70 text-center">车辆里程
            </div>
            <div class="col col-15 text-right" ng-click="keep()">保存</div>
        </div>
    </ion-header-bar>
    <ion-content>
        <div class="Car_countentbasic">
            <div class="Car_countentbasicinfo">车辆里程</div>
            <div class="Car_countentbasicline"></div>
            <div class="Car_countentbasicclok"></div>
        </div>
        <div class="contentAll">
            <div class="row itemContent row-center">
                <div class="col-42 col-center">计数器：</div>
                <div class="col-58 col-center"  style="color:#A8A49F">{{carMile.MILEAGE_COUNTER}}</div>
            </div>
            <div class="row itemContent row-center">
                <div class="col-42 col-center">上一值：</div>
                <div class="col-58 fontColor col-center">{{carMile.MILEAGE_LAST}}</div>
            </div>

            <div class="row row-center itemContent">
                <div class="col-42 col-center">最后读取日期：</div>
                <div class="col-58 fontColor col-center">{{carMile.MILEAGE_LDATE}}</div>
            </div>

            <div class="row itemContent row-center">
                <div class="col-42 col-center">读取日期：</div>
                <div class="col-58 col-center">
                    <input type="text" placeholder="" ng-medol="readDate">
                </div>
            </div>
            <div class="row itemContent row-center">
                <div class="col-42 col-center">值：</div>
                <div class="col-58 col-center">
                    <input type="text"placeholder="请输入值" ng-model="readValue">
                </div>
            </div>

            <div class="row itemContent row-center">
                <div class="col-42 col-center">读取描述：</div>
                <div class="col-58 col-center">
                <input type="text"placeholder="请输入读取描述" ng-model="readDescription">
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>