<ion-view  id="worksheet_carMileage"  align-title="center">
    <ion-header-bar align-title="center" class="bar bar-positive bar-header disable-user-behavior" >
        <div class="row row-center title rowTitle">
            <div class="col col-15 text-left" ng-click="goAlert()">取消</div>
            <div class="col col-70 text-center">车辆读数维护
            </div>
            <div class="col col-15 text-right" ng-click="keep()">保存</div>
        </div>
    </ion-header-bar>
    <ion-content>
        <div class="Car_countentbasic">
            <div class="Car_countentbasicinfo">车辆读数</div>
            <div class="Car_countentbasicline"></div>
            <div class="Car_countentbasicclok"></div>
        </div>
        <div class="contentAll">
            <div class="row row-center itemContent">
                <div class="col col-center" style="font-size: 20px" >{{carMile.MILEAGE_COUNTER}}</div>
            </div>
            <div class="row row-center itemContent">
                <div class="col-3 col-center"></div>
                <div class="col-42 col-center">上次记录日期：</div>
                <div class="col-55 fontColor col-center">{{carMile.MILEAGE_LDATE}}</div>
            </div>

            <div class="row itemContent row-center">
                <div class="col-3 col-center"></div>
                <div class="col-42 col-center">上次记录读数：</div>
                <div class="col-55 fontColor col-center">{{carMile.MILEAGE_LAST}}</div>
            </div>

            <div class="row itemContent row-center">
                <div class="col-3 col-center"><span style="color: red">*</span></div>
                <div class="col-42 col-center">本次记录日期：</div>
                <div class="col-55 col-center">
                    <input type="text" placeholder="日期" ng-model="update.readDate"  readonly style="font-size: 16px" class="fontColor" ng-click="selectCreateTime('读取日期')" >
                </div>
            </div>
            <div class="row itemContent row-center">
                <div class="col-3 col-center"><span style="color: red">*</span></div>
                <div class="col-42 col-center">本次记录读数：</div>
                <div class="col-55 col-center">
                    <input type="text" placeholder="请输入值" ng-model="update.readValue" value="" style="font-size: 16px" class="fontColor" ng-change="inputchange(update.readValue)">
                </div>
            </div>

            <div class="row itemContentS row-center">
                <div class="col-3 col-center"></div>
                <div class="col-42 col-center">备注：</div>
            </div>

            <div class="row itemContentT row-center">
                <div class="col col-center">
                    <textarea type="text"placeholder="请输入描述" maxlength="40" ng-model="update.readDescription" class="textareaCss"  style="background-color: white;color: #A0A09F" ng-change="numMore(update.readDescription)"></textarea>
                </div>
            </div>
            <!--<div class="textarea" contenteditable="true" style="border-bottom: 1px solid #D6D3CE;padding: 5px 15px 5px 15px;word-spacing:8px; letter-spacing: 1px;color: #A0A09F">{{update.readDescription}}<br/></div>-->
        </div>
    </ion-content>
</ion-view>