<ion-view class="projectDetailCss" align-title="center">
    <ion-header-bar>
        <div class="row row-center title rowTitle">
            <div class="col col-15 text-left"  ng-click="goBack()"><i class="ion-chevron-left" style="font-size:1.8rem;position: relative;top:5px;color: white"></i></div>
            <div class="col col-70 text-center" style="color: white">项目
            </div>
        </div>
    </ion-header-bar>
    <ion-content class="contentDetail">
        <div class="item" style="padding: 10px 3px;border: none;margin-top: 5px;">
            <div class="row row-center" style="padding: 0">
                <div class="col col-90 col-center" style="padding: 0">
                    <ion-scroll direction="x" scrollbar-x="false" >
                    <span style="position: relative;margin:0 7px 0 7px;font-size: 17px;" ng-class="{'selectColor' : lists.colorFlag}" ng-repeat="lists in projectLists"  ng-click="showContent(lists)">
                        {{lists.name}}
                    </span>
                    </ion-scroll>
                </div>
                <div class="col col-10 col-center text-right"><i class="ion-chevron-up" style="font-size: 18px;color:#276DAC "></i></div>
            </div>
            <div style=" background-image:linear-gradient(to right, #2B60AB, #9EC92A);height: 1px;margin-top: 7px"></div>
        </div>
        <div ng-if="config.project">
            <div class="row row-center itemContentColor">
                <div class="col col-center selectColor">9sa是否就爱看的拉动你看了</div>
            </div>
            <div class="row row-center itemContent">
                <div class="col col-40 col-center">产品标识：</div>
                <div class="col col-center fontColor"></div>
            </div>
            <div class="row row-center itemContent">
                <div class="col col-40 col-center">数值：</div>
                <div class="col col-center fontColor"></div>
            </div>
            <div class="row row-center itemContent">
                <div class="col col-40 col-center">各单位净值：</div>
                <div class="col col-center fontColor"></div>
            </div>
            <div class="row row-center itemContent">
                <div class="col col-center col-40">净值：</div>
                <div class="col col-center fontColor"></div>
            </div>
            <div class="row row-center itemContent">
                <div class="col col-center col-40">税：</div>
                <div class="col col-center fontColor"></div>
            </div>
            <div class="row row-center itemContent">
                <div class="col col-center col-40">总额：</div>
                <div class="col col-center fontColor"></div>
            </div>
            <div class="row row-center itemContent">
                <div class="col col-center selectColor">报价</div>
            </div>
            <div class="row row-center itemContent">
                <div class="col col-center col-40">建议价格：</div>
                <div class="col col-center fontColor"></div>
            </div>
            <div class="row row-center itemContent">
                <div class="col col-center col-40">核价单号：</div>
                <div class="col col-center fontColor"></div>
            </div>
        </div>
        <div ng-if="config.customer">
            <div class="row row-center itemContent">
                <div class="col col-center col-45" style="padding: 0">
                    <div class="row row-center" >行业：</div>
                    <div class="row row-center"></div>
                </div>
                <div class="col col-center">

                </div>
            </div>
            <div class="row row-center itemContent">
                <div class="col col-center col-45">
                    <div class="row row-center">终端客户：</div>
                    <div class="row row-center"></div>
                </div>
                <div class="col col-center">
                </div>
            </div>
            <div class="row row-center itemContent">
                <div class="col col-center col-45">
                    <div class="row row-center">终端产品：</div>
                    <div class="row row-center"></div>
                </div>
                <div class="col col-center">

                </div>
            </div>
            <div class="row row-center itemContent">
                <div class="col col-40 col-center">客户物料编码1：</div>
                <div class="col col-center fontColor"></div>
            </div>
            <div class="row row-center itemContent">
                <div class="col col-40 col-center">客户物料编码2：</div>
                <div class="col col-center fontColor"></div>
            </div>
        </div>
        <div ng-if="config.materials">
            <div class="row row-center itemContent">
                <div class="col col-center col-45" style="padding: 0">
                    <div class="row row-center" >Model号：</div>
                    <div class="row row-center"></div>
                </div>
                <div class="col col-center">

                </div>
            </div>
            <div class="row row-center itemContent">
                <div class="col col-center col-45">
                    <div class="row row-center">最小容量：</div>
                    <div class="row row-center"></div>
                </div>
                <div class="col col-center">
                </div>
            </div>
            <div class="row row-center itemContent">
                <div class="col col-center col-45">
                    <div class="row row-center">盛产工艺：</div>
                    <div class="row row-center"></div>
                </div>
                <div class="col col-center">

                </div>
            </div>
            <div class="row row-center itemContent">
                <div class="col col-center col-45" style="padding: 0">
                    <div class="row row-center" >满充电压：</div>
                    <div class="row row-center"></div>
                </div>
                <div class="col col-center">

                </div>
            </div>
            <div class="row row-center itemContent">
                <div class="col col-center col-45">
                    <div class="row row-center">标准电压：</div>
                    <div class="row row-center"></div>
                </div>
                <div class="col col-center">
                </div>
            </div>
        </div>
        <div ng-if="config.others">
            <div class="row row-center itemContent">
                <div class="col col-center col-45">
                    <div class="row row-center">WBS元素 ：</div>
                    <div class="row row-center"></div>
                </div>
                <div class="col col-center">
                </div>
            </div>
            <div class="row row-center itemContent">
                <div class="col col-center col-45">
                    <div class="row row-center">客户项目代码：</div>
                    <div class="row row-center"></div>
                </div>
                <div class="col col-center">
                </div>
            </div>
            <div class="row row-center itemContent">
                <div class="col col-center col-45">
                    <div class="row row-center">内部项目代码：</div>
                    <div class="row row-center"></div>
                </div>
                <div class="col col-center">
                </div>
            </div>
            <div class="row row-center itemContent">
                <div class="col col-center col-45">
                    <div class="row row-center">单元数量：</div>
                    <div class="row row-center"></div>
                </div>
                <div class="col col-center">
                </div>
            </div>
            <div class="row row-center itemContent">
                <div class="col col-center col-45">
                    <div class="row row-center">最小订单数量：</div>
                    <div class="row row-center"></div>
                </div>
                <div class="col col-center">
                </div>
            </div>
            <div class="row row-center itemContent">
                <div class="col col-center col-45">
                    <div class="row row-center">产品结构：</div>
                    <div class="row row-center"></div>
                </div>
                <div class="col col-center">
                </div>
            </div>
            <div class="row row-center itemContent">
                <div class="col col-center col-45">
                    <div class="row row-center">提前期：</div>
                    <div class="row row-center"></div>
                </div>
                <div class="col col-center">
                </div>
            </div>
            <div class="row row-center itemContent">
                <div class="col col-center col-45">
                    <div class="row row-center">交货工厂：</div>
                    <div class="row row-center"></div>
                </div>
                <div class="col col-center">
                </div>
            </div>
        </div>
        <div ng-if="config.price">
            <div class="row row-center">
                <div class="col col-center text-center">价格元素</div>
                <div class="col col-center text-center">价格</div>
                <div class="col col-center text-center">单位</div>
                <div class="col col-center text-center">价格单位</div>
                <div class="col col-center text-center">计量单位</div>
            </div>
            <div align="center"><hr color="#276DAC" class="line" size="2"></div>
        </div>
    </ion-content>
</ion-view>