<ion-view class="projectCss" align-title="center">
    <ion-header-bar>
        <div class="row row-center title rowTitle">
            <div class="col col-15 text-left"  ng-click="goBack()"><i class="ion-chevron-left" style="font-size:1.8rem;position: relative;top:5px;color: white"></i></div>
            <div class="col col-70 text-center" style="color: white">相关方
            </div>
        </div>
    </ion-header-bar>
    <ion-content has-bouncing="false"  delegate-handle="projectList">
        <div class="row row-center" style="border-bottom: 1px solid #D6D3CE;margin: 0;padding: 5px" ng-repeat="i in relatedInfos" ng-click="goProjectDetail(i)">
            <div class="col col-center col-6"><img ng-src="img/car/Oval.png" class="pointImg"></div>
            <div class="col col-center col-94">
                <div class="row row-center rowstyle">
                    <div class="col col-center" style="font-size: 17px">{{i.NAME_LAST}}</div>
                </div>
                <div class="row row-center rowstyle">
                    <div class="col col-center fontColor" style="font-size: 17px">{{i.DESCRIPTION}}</div>
                    <div class="col col-35 col-center fontColor" style="padding: 0">{{i.PARTNER_FCT}}</div>
                </div>
            </div>
            <!--<div class="col col-9 col-center" style="padding: 0"><img ng-src="img/car/Shape.png" class="shapeImg"></div>-->
        </div>
        <!--<ion-infinite-scroll on-infinite="" ng-if=""></ion-infinite-scroll>-->
    </ion-content>
</ion-view>