.saleChanDetail{
  .top-back2{
    background:url("../../img/saleDetail/chan_bg2.png") no-repeat!important;
    background-size:100% 100%!important;
    height: 115px!important;
  }
  .top-back {
    background: url("../../img/saleDetail/chan_bg1.png") no-repeat;
    background-size: 100% 100%;
    height: 230px;
    color: white;
    font-size: 16px;
  }
  .no-padding-right{
    padding-right: 0;
  }
  .money{
    color: #1d63ae;
  }
  .time-icon{
    padding-left: 6px;
  }
  .chanSubTitle{
    min-width: 77px;
  }
  .chan_submit{
    button{
      width: 54%;
      margin: 10% 23%;
      height: 40px;
      border-radius: 10px;
      background: #9ec92a;
      border: none;
      color: white;
      font-size: 16px;
    }
  }
  .editText{
    width: 100%;
    border-bottom: 1px solid white;
    height: 28px;
    padding-top: 4px;
    .right-arrow{
      color: white!important;
      font-size: 20px!important;
      position: fixed;
      right: 33%;
    }
  }
  .top-back .mainInfo .row {
    padding-bottom: 6px;
    padding-right: 26%;
  }
  .top-back .selector {
    margin-top: 5px;
  }
  .title_oval{
    width: 12px;
    position: relative;
    top: 2.5px;
    margin-right: 5px;
  }
  .feel{
    background: url("../../img/saleDetail/feel.png") no-repeat;
    width: 60px;
    height: 50px;
    background-size: 100% 100%;
    position: fixed;
    right: 5%;
    padding-top: 12px;
    text-align: center;
  }
  .saleChanInput{
    padding: 0;
    height: auto;
    color:#9B9B9B;
  }
  .saleChanPreInput{
    width: 80px;
    height: auto;
    color:#9B9B9B;
  }
}
.saleDetailPop{
  margin-top: 44%;
  font-size: 14px;
  height: 274px;
  .row{
    padding: 8px 0 4px 0;
    border-bottom: 1px solid #E0DBD7;
    .col{
      padding:0;
    }
  }
  .myHeader{
    box-shadow: none;
    border-bottom: 1px dashed #CBCBCE;
    background-image: none;
    width: 70%;
    margin-left: 15%;
    height: 43px;
    text-align: center;;
    .headerText{
      padding-top: 12px;
      font-size: 14px;
    }
  }
  ion-content{
    padding: 2% 15% 0 15%;
    margin-top:43px!important;
    input{
      height: 30px;
      width: 100%;
    }
    select{
      background: none;
      border: none;
      position: relative;
      left: -6px;
    }
    .save{
      width: 80%;
      margin: 10%;
      height: 33px;
      border-radius: 20px;
      border: none;
      background: #406eb3;
      color: white;
    }
    .cancel{
      width: 80%;
      margin: 0 10%;
      height: 33px;
      border-radius: 20px;
      border: 1px solid #406eb3;
      background: none;
      color: #406eb3;
    }
  }
  .popover{
    width: 230px;
    left: 49%;
  }
}
.moneyTypesModal{
  .content{
    .selectItem{
      padding: 0 16px;
      font-size: 16px;
      .row{
        border-bottom: 1px solid $lineColor;
        padding: 8px 5px;
      }
    }
    .selected{
      color: $crm-subject-blue;
    }
  }
}