<ion-view class="saleActDetail saleChanDetail">
    <div class="top-back absolute animated fadeIn" style="height: 75px;background: none"
         ng-class="!TitleFlag?'fadeOut':''" ng-show="TitleFlag">
        <div class="row row-center title">
            <div class="col col-15" ng-click="goBack()"><i class="ion-chevron-left"></i></div>
            <div class="col col-70 text-center">机会详情
                <div style="font-size: 10px">郑州金龙客车(福州)客户拜访</div>
            </div>
            <div class="col col-15 text-right" ng-click="openFollow()">后续</div>
        </div>
    </div>
    <div class="top-back absolute top-back2" ng-show="showTitleStatus">
        <div class="row row-center title" style="padding-bottom: 0">
            <div class="col col-15" ng-click="goBack()"><i class="ion-chevron-left"></i></div>
            <div class="col col-70 text-center">机会详情
                <div style="font-size: 10px">{{chanceDetails.title}}</div>
            </div>
            <div class="col col-15 text-right" ng-click="openFollow()">后续</div>
        </div>
        <div class="selector">
            <div class="detail" ng-class="{checked:select}" ng-click="changeStatus(true)">详细信息</div>
            <div class="relative" ng-class="{checked:!select}" ng-click="changeStatus(false)">相关方</div>
        </div>
    </div>
    <ion-content has-bouncing="false" on-scroll="onScroll()" scrollbar-y="false">
        <div id="saleTopBackId" class="top-back">
            <div class="row row-center title" ng-class="TitleFlag?'animated fadeOut':'animated fadeIn'">
                <div class="col col-15" ng-click="goBack()"><i class="ion-chevron-left"></i></div>
                <div class="col col-70 text-center">机会详情</div>
                <div class="col col-15 text-right" ng-click="openFollow()">后续</div>
            </div>
            <div class="mainInfo">
                <div class="row row-center" ng-class="TitleFlag?'animated fadeOut':'animated fadeIn'">
                    <img class="title_oval" src="img/saleDetail/title_oval.png">
                    <input type="text" ng-model="chanceDetails.title" ng-readonly="!isEdit"
                           ng-class="{'border-bottom-white':isEdit}">
                </div>
                <div class="row row-center" ng-class="customerFlag?'animated fadeOut':'animated fadeIn'">
                    <div class="chanSubTitle">潜在客户:</div>
                    <div class="editText" ng-if="isEdit">BYD<i class="ion-arrow-right-c right-arrow"></i></div>
                    <input type="text" ng-model="chanceDetails.hideCustomer" ng-if="!isEdit" readonly>

                    <div class="feel">{{chanceDetails.feelNum+'%'}}</div>
                </div>
                <div class="row row-center" ng-class="placeFlag?'animated fadeOut':'animated fadeIn'">
                    <div class="chanSubTitle">销售阶段:</div>
                    <div class="editText" ng-click="openPopover()" ng-if="isEdit">{{chanceDetails.saleStage}}<i
                            class="ion-arrow-right-c right-arrow"></i></div>
                    <input type="text" ng-model="chanceDetails.saleStage" ng-if="!isEdit" readonly>
                </div>
                <div class="row row-center" ng-class="statusFlag?'animated fadeOut':'animated fadeIn'">
                    <div>状态:</div>
                    <select ng-model="mySelect.status" ng-disabled="!isEdit"
                            ng-options="x as x.value for x in statusArr" style="{{'color:'+mySelect.status.color}}">{{mySelect.status}}</select>

                    <div class="num">{{'NO.'+chanceDetails.saleNum}}</div>
                    <div class="edit" ng-click="edit()"><img ng-show="!isEdit" src="img/saleDetail/edit.png">{{editText}}
                    </div>
                </div>
            </div>
            <div class="selector">
                <div class="detail" ng-class="{checked:select}" ng-click="changeStatus(true)">详细信息</div>
                <div class="relative" ng-class="{checked:!select}" ng-click="changeStatus(false)">相关方</div>
            </div>
        </div>

        <div class="content" id="saleContentId">
            <!--详细信息-->
            <div ng-show="select">
                <div class="row">
                    <div class="col-15">注释:</div>
                    <textarea rows="3" ng-readonly="!isEdit">In the tumultuous business of cutting-in and attending to a whale, there is much running backwards and forwards among</textarea>
                </div>
                <div class="row no-padding-right">
                    <div class="row row-center">
                        <div class="col" ng-disabled="!isEdit">
                            <div class="row">
                                <div class="col-30 text-left">开始时间:</div>
                                <div class="text col-70 startTime" ng-click="selectTime('start')">{{chanceDetails.startTime}}<i
                                        class="ion-arrow-down-b time-icon"></i></div>
                            </div>
                            <div class="row endTime">
                                <div class="col-30 text-left">结束时间:</div>
                                <div class="text col-70" ng-click="selectTime('end')">{{chanceDetails.endTime}}<i
                                        class="ion-arrow-down-b time-icon"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row no-padding-right">
                    <div class="row row-center">
                        <div class="col col-30 text-left">项目编号:</div>
                        <div class="col text col-70">9999001</div>
                    </div>
                </div>
                <div class="row no-padding-right">
                    <div class="row row-center">
                        <div class="col col-30 text-left">预期销售量:</div>
                        <div class="text">0.00</div>
                        <div class="col col-30 text-left money">-CNY-</div>
                    </div>
                </div>
                <div class="row no-padding-right">
                    <div class="row row-center">
                        <div class="col col-30 text-left">预期销售额:</div>
                        <div class="text">0.00</div>
                        <div class="col col-30 text-left money">-AH-</div>
                    </div>
                </div>
                <div class="chan_submit">
                    <button>提交</button>
                </div>
            </div>
            <!--相关方-->
            <div id="relativeId" class="relative" ng-show="!select">
                <div class="row">
                    <div class="col">王紫薇&nbsp;&nbsp;女士</div>
                    <div class="col text-center position">CATL销售</div>
                </div>
                <div class="row">
                    <div class="col">王紫薇&nbsp;&nbsp;女士</div>
                    <div class="col text-center position">CATL销售</div>
                </div>
                <div class="row">
                    <div class="col">王紫薇&nbsp;&nbsp;女士</div>
                    <div class="col text-center position">CATL销售</div>
                </div>
                <div class="row row-center add">
                    <div class="col"><i class="ion-ios-plus-outline"></i>添加相关方</div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
<script id="saleDetailSelect-popover.html" type="text/ng-template">
    <ion-popover-view class="saleDetailPop own-animated slideInUp" style="animation-duration:.4s">
        <div class="myHeader">
            <div class="headerText">请选择</div>
        </div>
        <ion-content has-bouncing="false" scroll="false">
            <div class="row row-center">
                <div class="col">销售阶段</div>
                <div class="col">
                    <select ng-model="pop.stage" ng-options="x as x.value for x in saleStages">{{pop.stage}}</select>
                </div>
            </div>
            <div class="row row-center">
                <div class="col col-50">信心指数</div>
                <div class="col"><input type="text" ng-model="pop.feel" placeholder="请输入"></div>
            </div>
            <div class="row row-center">
                <div class="col col-50">销售编号</div>
                <div class="col"><input type="text" ng-model="pop.saleNum" placeholder="请输入"></div>
            </div>
            <button ng-click="savePop()" class="save">完成</button>
            <div>
                <button ng-click="closePop()" class="cancel">取消</button>
            </div>
        </ion-content>
    </ion-popover-view>
</script>