<ion-view class="saleActDetail saleChanDetail">
    <!--<div class="top-back absolute animated fadeIn" style="height: 75px;background: none"-->
         <!--ng-class="!TitleFlag?'fadeOut':''" ng-show="TitleFlag">-->
        <!--<div class="row row-center title">-->
            <!--<div class="col col-15" ng-click="goBack()"><i class="ion-chevron-left"></i></div>-->
            <!--<div class="col col-70 text-center">机会详情-->
                <!--<div style="font-size: 10px">{{chanceDetails.DESCRIPTION}}</div>-->
            <!--</div>-->
            <!--<div class="col col-15 text-right">后续</div>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="top-back absolute top-back2" ng-show="showTitleStatus">-->
        <!--<div class="row row-center title" style="padding-bottom: 0">-->
            <!--<div class="col col-15" ng-click="goBack()"><i class="ion-chevron-left"></i></div>-->
            <!--<div class="col col-70 text-center">机会详情-->
                <!--<div style="font-size: 10px">{{chanceDetails.DESCRIPTION}}</div>-->
            <!--</div>-->
            <!--<div class="col col-15 text-right">后续</div>-->
        <!--</div>-->
        <!--<div class="selector">-->
            <!--<div class="detail" ng-class="{checked:select}" ng-click="changeStatus(true)">详细信息</div>-->
            <!--<div class="relative" ng-class="{checked:!select}" ng-click="changeStatus(false)">相关方</div>-->
        <!--</div>-->
    <!--</div>-->
    <ion-content style="height: 100%;">
        <div id="saleTopBackId" class="top-back">
            <div class="row row-center title">
                <div class="col col-15" ng-click="goBack()"><i class="ion-chevron-left"></i></div>
                <div class="col col-70 text-center">机会详情</div>
                <div class="col col-15 text-right"></div>
            </div>
            <div class="mainInfo">
                <div class="row row-center">
                    <img class="title_oval" src="img/saleDetail/title_oval.png">
                    <input type="text" ng-model="chanceDetails.DESCRIPTION" ng-readonly="!isEdit"
                           ng-class="{'border-bottom-white':isEdit}">
                </div>
                <div class="row row-center">
                    <div class="chanSubTitle">潜在客户:</div>
                    <div class="editText" ng-if="isEdit" ng-click="openSelectCustomer()">{{chanceDetails.PARTNER_TXT}}<i class="ion-arrow-right-c right-arrow"></i></div>
                    <input type="text" ng-model="chanceDetails.PARTNER_TXT" ng-if="!isEdit" readonly>
                    <div class="feel">{{chanceDetails.PROBABILITY+'%'}}</div>
                </div>
                <div class="row row-center">
                    <div class="chanSubTitle">销售阶段:</div>
                    <div class="editText" ng-click="openPopover()" ng-if="isEdit">{{chanceDetails.PHASE.text}}<i
                            class="ion-arrow-right-c right-arrow"></i></div>
                    <input type="text" ng-model="chanceDetails.PHASE.text" ng-if="!isEdit" readonly>
                </div>
                <div class="row row-center">
                    <div style="min-width: 37px;">状态:</div>
                    <select ng-model="mySelect.status" ng-disabled="!isEdit"
                            ng-options="x as x.text for x in statusArr" style="{{'color:'+mySelect.status.color}}">{{mySelect.status}}</select>
                    <div class="chanObjNum">{{'NO.'+chanceDetails.OBJECT_ID}}</div>
                    <div class="edit chanEdit" ng-show="chanceDetails.EDIT_FLAG=='X'" ng-click="edit()"><img ng-show="!isEdit" src="img/saleDetail/edit.png">{{editText}}
                    </div>
                </div>
            </div>
            <div class="selector" style="margin-top: 2px;">
                <div class="detail" ng-class="{checked:select}" ng-click="changeStatus(true)">详细信息</div>
                <div class="relative" ng-class="{checked:!select}" ng-click="changeStatus(false)">相关方</div>
            </div>
        </div>

        <div class="content" id="saleContentId">
            <!--详细信息-->
            <div ng-if="select">
                <div class="row">
                    <div class="col-15">注释:</div>
                    <textarea rows="3" ng-readonly="!isEdit" ng-model="chanceDetails.CRM_ORDERH_T"></textarea>
                </div>
                <div class="row no-padding-right">
                    <div class="row row-center">
                        <div class="col">
                            <div class="row">
                                <div class="col-30 text-left">开始时间:</div>
                                <div class="text col-70 startTime" ng-click="selectTime('start')">
                                    {{chanceDetails.STARTDATE}}<i
                                        class="ion-arrow-down-b time-icon"></i></div>
                            </div>
                            <div class="row endTime">
                                <div class="col-30 text-left">结束时间:</div>
                                <div class="text col-70" ng-click="selectTime('end')">{{chanceDetails.EXPECT_END}}<i
                                        class="ion-arrow-down-b time-icon"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row no-padding-right">
                    <div class="row row-center">
                        <div class="col col-30 text-left">项目编号:</div>
                        <div class="col text col-70">
                            <input type="text" ng-readonly="!isEdit" class="saleChanInput"
                                   ng-model="chanceDetails.ZZXMBH"></div>
                    </div>
                </div>
                <div class="row no-padding-right">
                    <div class="row row-center">
                        <div class="col col-30 text-left">预期销售额:</div>
                        <div class="text"><input type="text" ng-blur="returnScroll()" class="saleChanPreInput"
                                                 ng-readonly="!isEdit" ng-model="chanceDetails.EXP_REVENUE"></div>
                        <div class="col col-30 text-left money" ng-click="openMoneyModal('money')">
                            -{{chanceDetails.CURRENCY?chanceDetails.CURRENCY:'币种'}}-
                        </div>
                    </div>
                </div>
                <div class="row no-padding-right">
                    <div class="row row-center">
                        <div class="col col-30 text-left">预期销售量:</div>
                        <div class="text"><input type="text" class="saleChanPreInput" ng-readonly="!isEdit"
                                                 ng-model="chanceDetails.ZZXSYXL"></div>
                        <div class="col col-30 text-left money" ng-click="openMoneyModal('unit')">
                            -{{chanceDetails.ZZYQXSLDW?chanceDetails.ZZYQXSLDW:'单位'}}-</div>
                    </div>
                </div>
                <div class="row no-padding-right" ng-show="isATL">
                    <div class="row row-center">
                        <div class="col col-30 text-left">目标发货量:</div>
                        <div class="text"><input type="text" class="saleChanPreInput" ng-readonly="!isEdit"
                                                 ng-model="chanceDetails.ZZMBCP"></div>
                        <div class="col col-30 text-left money" ng-click="openMoneyModal('unit2')">
                            -{{chanceDetails.ZZFLD00002E?chanceDetails.ZZFLD00002E:'单位'}}-</div>
                    </div>
                </div>
            </div>
            <!--相关方-->
            <div id="relativeId" class="relative" ng-if="!select">
                <div class="row" ng-repeat="x in relationArr" ng-if="x.position" ng-click="goRelationDetail(x)" on-hold="showActionSheet(x)">
                    <div class="col col-60">{{x.NAME}}</div>
                    <div class="col col-40 text-center position col-center">{{x.position}}</div>
                </div>
                <div class="row row-center add" ng-if="isEdit">
                    <div class="col" ng-click="openRelations()"><i class="ion-ios-plus-outline"></i>添加相关方</div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>