<ion-view class="saleList saleChanList">
    <div ng-if="!searchFlag">
        <ion-header-bar align-title="center" class="head pub-head">
            <div class="row row-center">
                <a class="col col-20 text-left goBack button button-clear" ng-click="goBack()"><i
                        class="ion-chevron-left"></i></a>
                <div class="col col-60 text-center">{{saleTitleText}}</div>
                <div class="col col-20 add button-clear button preVentScrollTop" ng-disabled="!isCanCreate" ng-click="openCreateChancePop()">
                    <img src="img/saleList/add.png" ng-if="!creaeSpinnerFlag&&isCanCreate">
                    <ion-spinner class="mySpinner" icon="ios" ng-if="creaeSpinnerFlag"></ion-spinner>
                </div>
            </div>
        </ion-header-bar>
        <div class="pub-subhead bar bar-subheader">
            <div class="row row-center no-padding" ng-click="changeSearch()">
                <i class="ion-ios-search"></i>{{input.list?input.list:'请输入机会关键字'}}
            </div>
        </div>
    </div>
    <div class="referModal" ng-if="searchFlag">
        <ion-header-bar class="head" no-tap-scroll="true">
            <div class="row row-center">
                <div class="text-center selections" ng-click="changeFilterFlag($event)">
                    筛选<img class="chanceImg" src="img/saleList/oval.png">
                </div>
                <div class="col input">
                    <form ng-submit="getList('search')">
                        <div class="row row-center no-padding">
                            <i class="ion-ios-search"></i>
                            <input id="saleChanListSearchId" focus-me type="search" ng-change="getList('search')"
                                   ng-model="input.list" placeholder="请输入关键字">
                            <i class="ion-ios-close" ng-if="input.list" ng-click="initListSearch()"></i>
                        </div>
                    </form>
                </div>
                <div class="col col-15 text-center cancel" ng-click="changeSearch()">取消</div>
            </div>
        </ion-header-bar>
    </div>
    <ion-content class="has-subheader content" ng-show="!searchFlag">
        <ion-refresher pulling-text="下拉刷新..." on-refresh="getList('refresh')"></ion-refresher>
        <div class="list">
            <a ng-click="goDetail(x,$event)" class="item animated flipInX" ng-repeat="x in saleListArr">
                <div class="row row-center">
                    <img class="title_oval" src="img/saleDetail/title_oval.png">

                    <div class="title" ng-bind-html="x.DESCRIPTION"></div>
                </div>
                <div class="row row-center sub-title">
                    <div class="col no-padding">潜在客户:&nbsp;&nbsp;{{x.PARTNER_TXT}}</div>
                </div>
                <div class="row row-center sub-title" style="padding-top: 2px">
                    <div class="no-padding">销售阶段:&nbsp;&nbsp;{{x.PHASE}}</div>
                    <div class="col chanStatus">状态:&nbsp;&nbsp;
                        <span style="color:{{x.status.color}}">{{x.status.text}}</span></div>
                </div>
            </a>
        </div>
        <ion-infinite-scroll id="saleActListSpinnerId" on-infinite="getList()" distance="1%"
                             ng-if="loadMoreFlag&&!searchFlag"></ion-infinite-scroll>
        <!--<div class="noMoreInfo" ng-if="saleListNoMoreInfoFLag&&!(loadMoreFlag&&!searchFlag&&saleListArr.length!=0)">没有更多数据了</div>-->
    </ion-content>
    <ion-content ng-cloak class="has-header search" ng-show="searchFlag"
                 ng-click="changeSearch($event)" scroll="false">
        <div ng-class="filterFlag?'own-backDrop-on':'own-backDrop-off'"
             ng-click="changeFilterFlag($event)"></div>
        <div id="saleActListFilterId" class="listFilter selectionsDown pushDown-animated refer-selectionsDown"
             ng-class="{'slideOutUp':!filterFlag,'fadeInDown':filterFlag}"
             ng-click="filterPrevent($event)">
            <div class="type">类型</div>
            <div class="row typeRow row-wrap">
                <div class="typeSelections" ng-class="{'selected':x.flag}" ng-if="sysName==x.sysName"
                     ng-click="filterSelect(x,'type')"
                     ng-repeat="x in filters.types">{{x.text}}
                </div>
            </div>
            <div class="status">状态</div>
            <div class="row statusRow row-wrap">
                <div class="typeSelections" ng-class="{'selected':x.flag}" ng-click="filterSelect(x,'status')"
                     ng-repeat="x in filters.statusFirst">{{x.text}}
                </div>
            </div>
            <div class="row row-wrap statusSecond">
                <div class="typeSelections" ng-class="{'selected':x.flag}" ng-click="filterSelect(x,'status')"
                     ng-repeat="x in filters.statusSecond">{{x.text}}
                </div>
            </div>
            <div class="bottomButton row">
                <div class="reset" ng-click="filterReset()">重置</div>
                <div class="sure" ng-click="filterSure()">确定</div>
            </div>
        </div>
        <ion-scroll class="fill-parent">
            <div class="row row-center his-title" ng-if="!input.list&&!serachButton">
                <i class="ion-android-time"></i>

                <div class="hisText">历史记录</div>
                <div class="horizon-line"></div>
            </div>
            <ion-list ng-if="!input.list&&!serachButton">
                <ion-item ng-click="search(x,$event)" ng-repeat="x in hisArr">{{x.text}}</ion-item>
            </ion-list>
            <div class="content">
                <div class="list" ng-if="input.list||serachButton">
                    <a ng-click="goDetail(x,$event)" class="item" ng-repeat="x in saleListArr">
                        <div class="row row-center">
                            <img class="title_oval" src="img/saleDetail/title_oval.png">
                            <div class="title" ng-bind-html="x.DESCRIPTION | highlight:input.list"></div>
                        </div>
                        <div class="row row-center sub-title">
                            <div class="no-padding">潜在客户:&nbsp;&nbsp;</div>
                            <div ng-bind-html="x.PARTNER_TXT"></div>
                        </div>
                        <div class="row row-center sub-title" style="padding-top: 2px">
                            <div class="no-padding">销售阶段:&nbsp;&nbsp;</div>
                            <div ng-bind-html="x.PHASE"></div>
                            <div class="col chanStatus">状态:&nbsp;&nbsp;</div>
                            <div style="color:{{x.status.color}}" ng-bind-html="x.status.text"></div>
                        </div>
                    </a>
                </div>
            </div>
            <ion-infinite-scroll id="saleActListSearchPageId" on-infinite="getList('searchPage')" distance="1%"
                                 ng-if="(loadMoreFlag&&input.list)||(!input.list&&serachButton&&loadMoreFlag)"></ion-infinite-scroll>
            <!--<div class="noMoreInfo" ng-if="saleListNoMoreInfoFLag&&!(loadMoreFlag&&input.list)">没有更多数据了</div>-->
        </ion-scroll>
    </ion-content>
</ion-view>