<ion-view canClickEnterListMode id="worksheetlist-view" class="worksheet-view-public" ng-class="{'is-from-customer':(config.isFromCustomer),'is-from-cardetail':(config.isFromCarDetail)}"  align-title="center">
    <div class="saleList">
        <ion-header-bar align-title="center" class="head pub-head">
            <div class="row row-center" style="padding-left: 0px;padding-right: 0px;">
                <a class="col col-15 text-left goBack" ng-click="goBack()"><i class="ion-chevron-left"></i></a>
                <div class="col col-70 text-center" ng-bind="config.titleText"></div>
                <div class="col col-15"><span></span></div>
            </div>
        </ion-header-bar>
    </div> 
    <ion-content id="xbr-worksheet-list-content"  class="has-header" style="" scroll="false" has-bouncing="false">
    	<div  class="search-box-wrapper fill-width" canClickEnterListMode ng-click="clickEnterListMode($event);"  ng-class="{'isSearchingMode':(config.queryModeNew)}">
    		
            <div class="search-box" style="margin-left: .4rem;">
	            <i class="icon ion-ios-search-strong left"></i>
                    <form> 
                     <input type="search" ng-model="config.searchText" style="font-size: 12px;padding-top:0px; padding-bottom:0px;" ng-change="onSearchTextChange($event);" ng-keyup="searchInputOnKeyup($event);" ng-click="clickSearchInput();" placeholder="{{config.searchPlaceholder}}">
                     </form>
                <i ng-if="config.searchInputHasText" class="ion-ios-close right" ng-click="clearSearchText();"></i>
	        </div>
            <div class="cancle-button button button-clear" ng-click="cancleQueryMode();">取消</div>
    	</div>
        <div class="search-history" ng-class="{'isSearchingMode':(config.queryModeNew),'no-show-search-box':(!config.showHistoryLog)}">
            <div class="row history-title">
                <i class="ion-android-time"></i>
                <span class="text">历史记录</span>
                <span class="line"></span>
                <span class="text" style="margin-left:.4rem;" ng-click="clearSearchHistorys();">清空记录</span>
            </div>
            <ion-scroll>
                <div class="list">
                    <div class="item"  ng-repeat="item in config.historyStrs track by $index">
                        <span ng-bind="item.text" ng-click="selectOldSearch(item.text)"></span>
                        <i class="ion-ios-close" ng-click="deleteThisSearchHistory(item);"></i>
                    </div>
                </div>
            </ion-scroll>
        </div>
        
    	<div ng-if="!config.queryModeNew" class="tab-buttons-line">
    		<div class="tab-button-block" ng-class="{'selected':config.isSorteMode}" ng-click="enterSorteMode();">
    			<span>排 序</span>
    			<i class="icon ion-arrow-down-b"></i>
    		</div>
    		<div class="tab-button-block" ng-class="{'selected':config.isFilterMode}" ng-click="enterFilterMode();">
    			<span>筛 选</span>
    			<i class="icon ion-arrow-down-b"></i>
    		</div>
    	</div>
        <div class="tab-buttons-line-border" ng-class="{'right-filter':config.isFilterMode,'left-sort':config.isSorteMode}" ></div>
        <div ng-if="!config.queryModeNew" class="tab-buttons-line-border2" ng-class="{'noShowColor':(!config.isFilterMode&&!config.isSorteMode),'right-filter':config.isFilterMode,'left-sort':config.isSorteMode}">
            <div class="left"></div>
            <div class="center"></div>
            <div class="right"></div>
        </div>
        
        <!-- 'sort-model-show':config.isSorteMode,'filter-model-show':config.isFilterMode, -->
        <!--div class="divs-wrapper animate-fade-slide-in" ng-class="{'show-model':showXbrModel(),'sort-to-filter-ing':config.filterModeFromingSortMode,'filter-to-sort-ing':config.sortModeFromingFilterMode}" -->
        <!-- animate-fade-slide-in -->
        <div class="divs-wrapper" ng-class="{
            'show-model':showXbrModel(),
            'platform-ios': isIosPlatform(),
            'platform-android': isAndroidPlatform(),
            'sort-from-click ':(config.isSorteMode&& config.sortModeFromClick),
            'sort-from-filter':(config.isSorteMode&&config.sortModeFromFilterMode),
            'filter-from-sort':(config.isFilterMode&&config.filterModeFromSortMode),
            'filter-from-click':(config.isFilterMode&&config.filterModeFromClick),
            'filter-click-gone':(config.filterGoneByClick),
            'sort-click-gone':(config.sorteGoneByClick),
            'filter-gone-bymodelclick':(config.filterGoneByModelClick),
            'sorte-gone-bymodelclick':(config.sorteGoneByModelClick)}">
                
                <div canClickEnterListMode class="tab-sort-content tab-sort-content-inner" ng-click="clickEnterListMode($event);" >
                        <div canNotClickEnterListMode class="time-desc sort-type-item" ng-class="{'selected':config.sortedTypeTimeDesc}"  ng-click="sorteTimeDesc();">
                            <span>开始时间倒序</span>
                        </div>
                        <div canNotClickEnterListMode class="time-asc sort-type-item" ng-class="{'selected':config.sortedTypeTimeAes}" ng-click="sorteTimeAes();">
                            <span>开始时间顺序</span>
                        </div>
                        <div canNotClickEnterListMode class="impact-desc sort-type-item" ng-class="{'selected':config.sortedTypeCompactDesc}" ng-click="sorteCompactDesc();">
                            <span>影响程序由高到低</span>
                        </div>
                        <!--div canNotClickEnterListMode class="none sort-type-item" ng-click="sorteNone();">
                            <span>取消</span>
                        </div-->
                        <!--ionic-datepicker date="currentDate" min="minDate" max="maxDate" callback="datePickerCallback">
                            <button class="button button-block button-positive"> {{ currentDate | date:'MMMM/dd/yyyy' }} </button>
                        </ionic-datepicker-->
                </div>
                
                <div canClickEnterListMode class="tab-filter-content" ng-click="clickEnterListMode($event);">
                    <ion-scroll canNotClickEnterListMode scrollbar-y="false" has-bouncing="false" class="tab-filter-content-inner">
                        <div canNotClickEnterListMode class="filter-time">
                            <div class="filter-time-title filter-title">日期区间</div>
                            <div class="filter-times-start-end">
                                <div class="filter-start-time" ng-click="selectCreateTime('start', '选择日期', 'date');" ng-bind="config.timeStart"></div>
                                <div class="filter-time-center-line">-</div>
                                <div class="filter-end-time" ng-click="selectCreateTime('end','选择日期', 'date');" ng-bind="config.timeEnd"></div>
                            </div>
                        </div>
                        
                        <div canNotClickEnterListMode class="filter-time fuwudaqu">
                            <div class="filter-time-title filter-title">服务大区</div>
                            <div class="filter-times-start-end">
                                <select ng-model="config.currentFWDQ" ng-options="gzch as gzch.STEXT for gzch in config.FWDQ"></select>
                            </div>
                        </div>
                        <div canNotClickEnterListMode class="filter-worksheet-type">
                            <div class="filter-worksheet-type-title filter-title">工单类型</div>
                            <div class="filter-types">
                                <div class="filter-type newcar-online" ng-click="selectFilterType('newcarOnline');" ng-class="{'selected':config.filterNewCarOnline}">新车档案收集工单</div>
                                <div class="filter-type newcar-online-fws" ng-click="selectFilterType('newcarOnlineFWS');" ng-class="{'selected':config.filterNewCarOnlineFWS}">新车档案收集工单(服务商)</div>
                                
                                <div class="filter-type local-service" ng-click="selectFilterType('localService');" ng-class="{'selected':config.filterLocalService}">现场维修工单</div>
                                <div class="filter-type local-service-fws" ng-click="selectFilterType('localServiceFWS');" ng-class="{'selected':config.filterLocalServiceFWS}">现场维修工单(服务商)</div>

                                <div class="filter-type batch-update" ng-click="selectFilterType('batchUpdate');" ng-class="{'selected':config.filterBatchUpdate}">批量改进工单</div>
                                <div class="filter-type batch-update-fws" ng-click="selectFilterType('batchUpdateFWS');" ng-class="{'selected':config.filterBatchUpdateFWS}">批量改进工单(服务商)</div>                                
                            </div>
                        </div>
                        <div canNotClickEnterListMode class="filter-impact" style="display:none;">
                            <div class="filter-impact-title filter-title">影响</div>
                            <div class="filter-impacts">
                                <div class="filter-impact damage" ng-class="{'selected':config.filterImpactDamage}" ng-click="selectFilterImpact('damage');">灾难</div>
                                <div class="filter-impact hight" ng-class="{'selected':config.filterImpactHeight}" ng-click="selectFilterImpact('height');">高</div>
                                <div class="filter-impact middle" ng-class="{'selected':config.filterImpactMiddle}" ng-click="selectFilterImpact('middle');">中</div>
                                <div class="filter-impact low" ng-class="{'selected':config.filterImpactLow}" ng-click="selectFilterImpact('low');">低</div>
                                <div class="filter-impact none" ng-class="{'selected':config.filterImpactNone}" ng-click="selectFilterImpact('none');">无</div>
                            </div>
                        </div>
                        
                        <div canNotClickEnterListMode class="filter-status-wrapper">
                            <div class="filter-title filter-status-title">状态</div>
                            <div class="filter-status">
                                <div class="filter-statu" ng-class="{'selected':config.filterStatusNew}" ng-click="selectFilterStatus('filterStatusNew')">新建</div>
                                <div class="filter-statu" ng-class="{'selected':config.filterStatusSendedWorker}" ng-click="selectFilterStatus('filterStatusSendedWorker')">已派工</div>
                                <div class="filter-statu" ng-class="{'selected':config.filterStatusRefused}" ng-click="selectFilterStatus('filterStatusRefused')">已拒绝</div>
                                <div class="filter-statu" ng-class="{'selected':config.filterStatusHandling}" style="min-width:5rem;" ng-click="selectFilterStatus('filterStatusHandling')">
                                    正在处理
                                </div>
                                <div class="filter-statu" ng-class="{'selected':config.filterStatusReported}" ng-click="selectFilterStatus('filterStatusReported')">
                                    已报工
                                </div>
                                <div class="filter-statu" ng-class="{'selected':config.filterStatusFinished}" ng-click="selectFilterStatus('filterStatusFinished')">已完工</div>
                                <div class="filter-statu" ng-class="{'selected':config.filterStatusRevisited}" ng-click="selectFilterStatus('filterStatusRevisited')">已回访</div>
                                <div class="filter-statu" ng-class="{'selected':config.filterStatusAudited}" ng-click="selectFilterStatus('filterStatusAudited')" style="min-width: 6rem;">内部已审核</div>
                                <div class="filter-statu" ng-class="{'selected':config.filterStatusAuditedOut}" ng-click="selectFilterStatus('filterStatusAuditedOut')" style="min-width: 6rem;">外服已审核</div>
                                <div class="filter-statu" ng-class="{'selected':config.filterStatusReturned}" ng-click="selectFilterStatus('filterStatusReturned')">已打回</div>
                                <div class="filter-statu" ng-class="{'selected':config.filterStatusCancled}" ng-click="selectFilterStatus('filterStatusCancled')">已取消</div>
                            </div>
                        </div>
                        <div canNotClickEnterListMode class="filter-action-buttons">
                            <div class="filter-action-button reset" ng-click="resetFilters();">重置</div>
                            <div canClickEnterListMode class="filter-action-button confirm" ng-click="filterConfirm();">确认</div>
                        </div>
                    </ion-scroll>
                </div>

                <div class="worksheet-query-result fill-parent"><!-- ng-show="config.isSorteMode" -->
                    <ion-scroll class="fill-parent"  on-refresh="" delegate-handle="worksheetListResult" has-bouncing="false">
                        <ion-refresher ng-show="canReLoadData()" pulling-text="下拉刷新" on-refresh="reloadData();"></ion-refresher>
                        <div class="is-loading" ng-if="config.isLoading && config.isReloading" style="text-align:center;margin-top:1rem;">
                            <ion-spinner icon="" class="spinner spinner-ios"></ion-spinner>
                        </div>
                        <div class="list">
                            <!-- animated flipInX     ng-class="{'flipInX':(config.showListItemAnimate)}"-->
                            <a class="item "  ng-click="goDetailState(item, $index);" ng-repeat="item in datas.serviceListDatas track by $index">
                                <div class="left single-line-ellipsis">
                                    <div class="row item-line">
                                        <div class="col-28 name">工单描述:</div>
                                        <div class="col-72 value" ng-bind="item.DESCRIPTION"></div>
                                    </div>  
                                    <div class="row item-line">
                                        <div class="col-28 name">客户名称:</div>
                                        <div class="col-72 value single-line-ellipsis" ng-bind="item.NAME1"></div>
                                    </div>
                                    <div class="row item-line" >
                                        <div class="col-40 name">最后更新时间:</div>
                                        <div class="col-60 value" ng-bind="item.CHANGED_AT | xbrWorksheetTime:'yyyy-MM-dd HH:mm:ss'"></div>
                                        <!--div class="col-60 value" ng-bind="item.CHANGED_AT | date:'yyyy-MM-dd HH:mm:ss'"></div-->
                                    </div>
                                </div>
                                <div class="right" >
                                    <div class="enter-detail-btn">
                                        <i class="ion-android-arrow-forward"></i>
                                    </div>
                                    <div class="status">
                                        <!--span class="name">状态:</span-->
                                        <span class="value" ng-bind="item.STAT_T" ng-class="{'stat-new':(item.STAT=='E0001'),
                                            'stat-sendedworker':(item.STAT=='E0002'),
                                            'stat-refused':(item.STAT=='E0003'),
                                            'stat-handing':(item.STAT=='E0004'),
                                            'stat-reported':(item.STAT=='E0005'),
                                            'stat-finished':(item.STAT=='E0006'),
                                            'stat-revisited':(item.STAT=='E0010'),
                                            'stat-audited':(item.STAT=='E0007'),
                                            'stat-returned':(item.STAT=='E0008'),
                                            'stat-cancled':(item.STAT=='E0009'),
                                            'stat-audited-out':(item.STAT=='E0011')}"></span>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <!--div class="loading-more" ng-if="config.hasMoreData && !config.isLoading" ng-click="loadMoreDatas()">
                            点击加载更多...
                        </div-->
                        <!--ion-infinite-scroll on-infinite="loadMore()" distance="1%">
                        </ion-infinite-scroll-->
                        <ion-infinite-scroll ng-if="config.hasMoreData && !config.isReloading" distance="1%" on-infinite="loadMoreDatas() " immediate-check="true"></ion-infinite-scroll>

                        <div class="has-more-data-no" ng-if="!config.hasMoreData && !config.isLoading && (config.loadingErrorMsg == null || config.loadingErrorMsg=='')">
                            无更多数据
                        </div>
                        <div class="request-error-msg has-more-data-no" ng-if="config.loadingErrorMsg && config.loadingErrorMsg!=''">
                            <span ng-bind="config.loadingErrorMsg"></span>
                        </div>
                        <div class="is-loading" ng-if="config.isLoading && !config.isReloading" style="text-align:center;margin-top:1rem;">
                            <ion-spinner icon="" class="spinner spinner-ios"></ion-spinner>
                        </div>
                    </ion-scroll>                            
                </div>
                <div canClickEnterListMode class="divs-wrapper-bg" ng-if="config.isSorteMode || config.isFilterMode" ng-click="clickEnterListMode($event);"></div>
        </div>

    </ion-content>
</ion-view>