<ion-view class="CarList">
    <div class="saleList">
        <ion-header-bar align-title="center" class="head pub-head ">
            <div class="row row-center">
                <a class="col col-20 text-left goBack" ng-click="goBack()"><i class="ion-chevron-left"></i></a>
                <div class="col col-60 text-center">车辆信息</div>
            </div>
        </ion-header-bar>
    </div>
    <ion-header-bar class="bar bar-subheader ">
        <div class="search1" ng-show="!searchFlag">
            <i class="icon ion-ios-search placeholder-icon"></i>
            <input type="text" placeholder="请输入车牌号or车工号or电池系统Barcode" ng-click="changePage()">
        </div>
        <div class="search2" ng-show="searchFlag" ng-class="{'searchFlag':'animated fadeOutLeft'}">
            <i class="icon ion-ios-search placeholder-icon"></i>
            <i class="icon ion-ios-close" ng-show="carInfo.length>0" ng-click="initSearch()"></i>
            <input id="searchId" type="search" placeholder="请输入车牌号or车工号or电池系统Barcode" ng-model="carInfo">
            <i class="button button-clear" ng-click="cancelSearch()">取消</i>
        </div>
    </ion-header-bar>

    <ion-content class="has-header search " ng-class="searchFlag?'animated fadeIn':''" ng-show="searchFlag" ng-click="changeSearch($event)">
        <div class="row row-center his-title">
            <i class="ion-android-time"></i>
            <div class="hisText">历史记录</div>
            <div class="horizon-line"></div>
        </div>
        <ion-list ng-if="!carInfo">
            <ion-item ng-click="search(x,$event)" ng-repeat="x in data">{{x}}</ion-item>
        </ion-list>
        <div class="content">
            <div class="" ng-if="carInfo">
                <a ng-click="goDetail(x.codeId)" class="row row-center rowType" ng-repeat="x in cars | filter:carInfo">
                        <div class="col col-6 col-center">
                            <img ng-src="img/car/Oval.png" class="pointImg">
                        </div>
                        <div class="col col-80 col-center colType">
                            <span><div ng-bind-html="x.SHORT_TEXT | highlight:carInfo"></div></span>
                        </div>
                        <div class="col col-8 col-center">
                            <img ng-src="img/car/Shape.png" class="shapeImg">
                        </div>
                        <div class="col col-2"></div>
                </a>
            </div>
        </div>

    </ion-content>
    <ion-content has-bouncing="true" ng-show="!searchFlag">
        <!--<img ng-src="img/car/oftenCar.png" class="textImg">-->
        <div class="Car_countentbasic">
            <div class="Car_countentbasicinfo">常用车辆</div>
            <div class="Car_countentbasicline"></div>
            <div class="Car_countentbasicclok"></div>
        </div>
        <div class="contentType animated" ng-repeat="car in cars|filter:carInfo" ng-click="goDetail(car.ZBAR_CODE)"  ng-class="{true:'fadeInLeftBig',false:'fadeInRightBig'}[$index%2 == 0]">
            <div class="row row-center rowType " >
                <div class="col col-6 col-center">
                   <img ng-src="img/car/Oval.png" class="pointImg">
                </div>
                <div class="col col-80 col-center colType">
                    <span>{{car.SHORT_TEXT}}</span>
                </div>
                <div class="col col-8 col-center">
                    <img ng-src="img/car/Shape.png" class="shapeImg">
                </div>
                <div class="col col-2"></div>
            </div>
        </div>
        <ion-infinite-scroll  distance="1%" on-infinite="carLoadMore()" ng-if="carisshow"></ion-infinite-scroll>
        <ion-infinite-scroll  distance="1%" on-infinite="carLoadMoreIm()" ng-if="carimisshow"></ion-infinite-scroll>
    </ion-content>
</ion-view>