@charset "UTF-8";
//车辆查询
.CarList {
  b, strong {
    //font-weight: 100;
  }

  .bar .title {
    position: absolute;
    right: 0;
    left: 0;
    z-index: 0;
    overflow: hidden;
    margin: 0 10px;
    min-width: 30px;
    height: 43px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 16px;
    //font-weight: 100;
    color: rgb(250, 250, 250);
  }
  .bar.bar-header .button + .title {
    text-align: center;
    line-height: 55px;
  }
  .bar {
    border-bottom: none;
    background-color: $crm-header-bar-bgcolor;
    background-size: 0;
    box-shadow: none;
  }
  .bar-subheader {
    height: 37px;
    display: block;
    padding: 0 2% 8px 2%;
    .search1 {
      .placeholder-icon {
        color: #aaa;
        position: absolute;
        z-index: 2;
        top: .3em;
        left: 1em;
      }
      input {
        display: block;
        padding-left: 2em;
        color: black;
        vertical-align: middle;
        font-size: 14px;
        height: 28px;
        width: 96%;
        position: fixed;
        border-radius: 5px;
      }
    }
    .search2 {
      .placeholder-icon {
        color: #aaa;
        position: absolute;
        z-index: 2;
        top: .3em;
        left: 1em;
      }
      input {
        display: block;
        padding-left: 2em;
        color: black;
        vertical-align: middle;
        font-size: 14px;
        height: 28px;
        width: 80%;
        position: fixed;
        border-radius: 5px;
      }
      .ion-ios-close {
        position: absolute;
        top: 5px;
        right: 5em;
        z-index: 2;
        color: #aaa;
      }
      .button-clear {
        position: relative;
        left: 86%;
        font-size: 16px;
        top: -2px;
        min-height: 30px;
        max-height: 30px;
      }
    }
  }
    .row + .row .row {
      padding-top: 0;
      height: 4em;
    }
    .Car_countentbasic {
      position: relative;
      font-size: 15px;
      color: $crm-header-bar-bgcolor;
      padding-bottom:1.5em;
      .Car_countentbasicinfo {
        position: absolute;
        top: 0px;
        left: 20px;
      }
      .Car_countentbasicline {
        position: absolute;
        top: 10px;
        left: 85px;
        width: 100%;
        height: 1px;
        background-color: $crm-header-bar-bgcolor;
      }
      .Car_countentbasicclok {
        position: absolute;
        top: 15px;
        margin-top: 2px;
        left: 0px;
        width: 55px;
        height: 15px;
        border: 1px solid #406FB3;
        border-top: none;
        border-left: none;
      }
    }
    .shapeImg {
      position: relative;
      height: 16px;
      top: .2em;
      left: 0.5em;
    }
    .contentType {
      .row {
        .col {
          padding: 0;
        }
      }
      position: relative;
      top: 1em;
      border-bottom: 1px solid rgba(43, 43, 43, 0.17);
    }
  //ion-infinite-scroll {
  //  height: 90%;
  //}
    .rowType {
      position: relative;
      left: 4%;
      padding: 1.2em 0;
      .pointImg {
        height: 0.7em;
      }
      .colType {
        padding-left: 0;
        span {
          font-size: 16px;
        }
      }
    }
    .search {
      .his-title {
        color: #BFBFBF;
      }
      .ion-android-time {
        margin-right: 5px;
      }
      .hisText {
        white-space: nowrap;
      }
      .horizon-line {
        background: #D8D8D8;
        width: 100%;
        height: 1px;
        margin-left: 5px;
      }
      ion-item {
        border-bottom: 1px solid #D8D8D8;
        min-height: 0;
        font-size: 14px;
        padding: 10px 16px;
      }
    }
    .content {
      .item {
        position: relative;
        display: block;
        margin: -1px;
        font-size: 14px;
        padding: 0;
        border-bottom: 1px solid rgba(0, 0, 0, 0.16);
      }
    }
  }

  //车辆详情列表
  .CarDetail {
    .row .col {
      padding: 0;
      margin: 0;
    }
    .absolute {
      position: absolute;
      z-index: 9;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
    }
    .top-back3 {
      margin-top: -1px;
      color: white;
      height: 3.28em;
      font-size: 16px;
      .title {
        padding-top: 20px;
        color: white;
        i {
          font-size: 25px;
          color: #c9ddf0;
          padding-left: 15px;
        }
      }
    }
    .top-back {
      background: url("../../img/car/headerBg.png") no-repeat;
      background-size: 100% 100%;
      color: white;
      font-size: 16px;
      height: 161px;
      .title {
        padding-top: 30px;
        color: white;
        i {
          font-size: 25px;
          color: #c9ddf0;
          padding-left: 15px;
        }
      }
    }
    .top-back2 {
      background: url("../../img/car/barBg1.png") no-repeat;
      background-size: 100% 100% !important;
      margin-top: -1px;
      color: white;
      height: 60px;
      font-size: 16px;
      .title {
        padding-top: 20px;
        color: white;
        i {
          font-size: 25px;
          color: #c9ddf0;
          padding-left: 15px;
        }
      }
    }

    .mainInfo {
      .row {
        .status {
          color: #9fca17;
        }
        .num {
          margin-left: 20px;
          color: #9f9d99;
        }
        .edit {
          position: fixed;
          right: 10px;
        }
      }
      i {
        color: #9fca17;
        margin-right: 5px;
        font-size: 12px;
        padding-top: 2px;
      }

    }
    .row1 {
      font-size: 16px;
      position: relative;
      left: 4%;
      color: white;
      padding-left: 0;
      .col {
        padding-left: 0;
        padding-right: 0;
      }
      .pointImg {
        height: 0.7em;
      }
      .colText {
        font-size: 16px;
      }
    }
    .row2 {
      font-size: 14px;
      position: relative;
      left: 4%;
      top: 0.5em;
      margin-top: 0;
      color: white;
      padding-left: 0;
    }
    .col-56 {
      font-size: 14px;
    }
    u {
      color: $crm-header-bar-bgcolor;
      font-size: 0.8em;
    }
    .col-76 {
      font-size: 14px;
    }
   ion-content{
     margin-top: 210px;
   }
    .contentType {
      position: relative;
    }
    .btType {
      padding: 0 0.5em 0 0.5em;
      height: 38px;
    }
    .Car_countentbasic2 {
      position: relative;
      font-size: 15px;
      color: $crm-header-bar-bgcolor;
      padding-bottom: 2em;
      .Car_countentbasicinfo {
        position: absolute;
        left: 20px;
      }
      .Car_countentbasicline {
        position: absolute;
        top: 10px;
        left: 85px;
        width: 100%;
        height: 1px;
        background-color: $crm-header-bar-bgcolor;
      }
      .Car_countentbasicclok {
        position: absolute;
        top: 15px;
        margin-top: 4px;
        left: 0px;
        width: 55px;
        height: 15px;
        border: 1px solid $crm-header-bar-bgcolor;
        border-top: none;
        border-left: none;
      }
    }
    .Car_countentbasic {
      position: relative;
      font-size: 15px;
      color: $crm-header-bar-bgcolor;
      margin-bottom: 2.5em;
      margin-top: 0.3em;
      //font-weight: 100;
      .Car_countentbasicinfo {
        position: absolute;
        left: 20px;
      }
      .Car_countentbasicline {
        position: absolute;
        top: 10px;
        left: 85px;
        width: 100%;
        height: 1px;
        background-color: $crm-header-bar-bgcolor;
      }
      .Car_countentbasicclok {
        position: absolute;
        top: 15px;
        margin-top: 4px;
        left: 0px;
        width: 55px;
        height: 15px;
        border: 1px solid $crm-header-bar-bgcolor;
        border-top: none;
        border-left: none;
      }
    }
    .Car_countentbasic1 {
      position: relative;
      font-size: 15px;
      color: $crm-header-bar-bgcolor;
      margin-bottom: 2.5em;
      margin-top: 0.3em;
      //font-weight: 100;
      .Car_countentbasicinfo {
        position: absolute;
        left: 20px;
      }
      .Car_countentbasicline {
        position: absolute;
        top: 10px;
        left: 100px;
        width: 100%;
        height: 1px;
        background-color: $crm-header-bar-bgcolor;
      }
      .Car_countentbasicclok {
        position: absolute;
        top: 15px;
        margin-top: 4px;
        left: 0px;
        width: 55px;
        height: 15px;
        border: 1px solid $crm-header-bar-bgcolor;
        border-top: none;
        border-left: none;
      }
    }
    .titleType {
      position: relative;
      padding-top: 5px;
      height: 2.1em;
      padding-left: 0;
      padding-right: 0;
    }
    .titleImg {
      height: 2.5em;
      width: 100%;
      padding-left: 0;
      padding-right: 0;
    }
    .rowType {
      position: relative;
      left: 4%;
      padding-top: 1em;
      padding-bottom: 1em;
      padding-right: 0;
      padding-left: 0;
      .col {
        padding: 0;
      }
      .col-40{
        font-size: 16px;
      }
    }
    .rowType1 {
      position: relative;
      left: 4%;
      padding-top: 1em;
      padding-bottom: 1em;
      padding-right: 0;
      padding-left: 0;
      .col {
        padding: 0;
      }
      .col-40{
        font-size: 16px;
      }
    }
    .lineType1 {
      border-bottom: 1px solid #ccc;
    }
    .colType {
      padding-top: 0;
      padding-bottom: 0;
      margin-top: 0;
      margin-bottom: 0;
    }
    .rowType2 {
      padding: 0;
      margin: 0;
      .col {
        padding: 0;
      }
    }
    .lastRow {
      padding-left: 0.9em;
      padding-top: 5px;
      border-left: 1px solid rgba(128, 128, 128, 0.54);
    }
  }
  $worksheetlist-selected-color: rgb(50, 89, 164); //#236CE6;
  .Maintenance {
    background-color: $crm-header-bar-bgcolor;

    ion-header-bar {
      background-color: $crm-header-bar-bgcolor;
      transition: left 0.2s ease-out 0s;
      left: 0;
      .left-back {
        @include display-flex;
        @include align-items(center);
        justify-content: center;
        font-size: 1.8rem;
        padding-left: 15px;
        color: white;
        position: absolute;
        top: 20px;
      }
      .left-back, .title, {
        transition: min-width .2s linear 0s, width .2s linear 0s, left .15s linear 0s;
      }
      .buttons.right {
        background-color: #3259A4;
        width: 2.5rem;
        overflow: hidden;
        display: inline-block;

      }
      .right-buttons-active {
        width: 100%;
        border: 1px solid red;
      }
      &.query-mode {
        .buttons.right {
          width: 96%;
          margin: auto;
          .button-clear.search {
            width: 1.8rem;
            min-width: 1.8rem;
            background-color: white;
            color: $crm-header-bar-bgcolor;
            border-radius: 10px 0px 0px 0px;
            i:before {
              font-size: 1.2rem;
            }
          }
          input {
            border-radius: 0px 0px 10px 0px;
          }
        }
        .left-back, .title {
          width: 0rem;
          min-width: 0px;
        }
        .left-back {
          overflow: hidden;
          margin: 0px;
          padding: 0px;
        }
        .title {
          overflow: hidden;
          margin: 0px;
          padding: 0px;
          left: 0 !important;
        }
      }
    }
    .bar {
      font-size: 16px;
    }
    .bar .title {
      position: absolute;
      top: 5px;
      right: 0;
      left: 0;
      z-index: 0;
      overflow: hidden;
      text-align: center;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: 16px;
      //font-weight: 100;
      line-height: 3.5em;
      color: white;
    }
    .bar-subheader {
      display: block;
      padding: 4px 2% 8px 2%;
      .search1 {
        .placeholder-icon {
          color: #aaa;
          position: absolute;
          z-index: 2;
          top: .5em;
          left: 1em;
        }
        input {
          display: block;
          padding-left: 2em;
          color: black;
          vertical-align: middle;
          font-size: 14px;
          height: 28px;
          width: 96%;
          position: fixed;
          border-radius: 5px;
        }
      }
      .search2 {
        .placeholder-icon {
          color: #aaa;
          position: absolute;
          z-index: 2;
          top: .8em;
          left: 1em;
        }
        input {
          display: block;
          padding-left: 2em;
          color: black;
          vertical-align: middle;
          font-size: 14px;
          height: 28px;
          width: 80%;
          position: fixed;
          border-radius: 5px;
        }
        .ion-ios-close {
          position: absolute;
          top: 13px;
          right: 5em;
          z-index: 2;
          color: #aaa;
        }
        .button-clear {
          position: relative;
          left: 86%;
          font-size: 16px;
          top: -2px;
          min-height: 30px;
          max-height: 30px;
        }
      }
    }
    ion-content {
      background-color: $crm-content-bgcolor;
      @include display-flex;
      @include flex-direction(column);
      //top: 70px;
    }

    .divLine {
      border-bottom: 1px solid rgba(128, 128, 128, 0.26);
      .rowContent {
        position: relative;
        padding-left: 0;
        left: 4%;
        .col {
          padding: 0;
        }
        .col-28 {
          span {
            font-size: 16px;
          }
        }
        .pointImg {
          height: 10px;
        }
        span {
          font-size: 14px;
          color: rgba(17, 17, 17, 0.86);
          //font-weight: 500;
        }
      }
      .buttonText {
        .span {
          left: 25%;
        }
      }
    }

    .search-box-wrapper {
      background-color: $crm-header-bar-bgcolor;
      .search-box {
        width: 94%;
        border: 1px solid #DAD7D7;
        margin: auto;
        border-radius: 5px;
        margin-top: .4rem;
        margin-bottom: .4rem;
        background-color: white;
        color: #969494;
      }
      i {
        width: 9%;
        display: inline-block;
        margin: auto;
        text-align: center;
        background-color: white;
        font-size: 1.2rem;
        vertical-align: middle;
      }
      input {
        display: inline-block;
        height: 2rem;
        line-height: 2rem;
        width: 87%;
      }
    }

    .divs-wrapper {
      position: relative;
      @include flex(1);
      overflow: hidden;
      &.show-model {
        //background-color: rgba(0, 0, 0, 0.14);
        .divs-wrapper-bg {
          background-color: rgba(2, 2, 2, 0.36);
        }
      }
      pointer-events: auto;
      .divs-wrapper-bg {
        position: absolute;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        pointer-events: auto;
        //background-color: rgba(2, 2, 2, 0.36);
        @include transition(background-color .4s linear 0s);
      }
      //为动画而生
      .tab-sort-content, .tab-filter-content {
        transition: transform .2s linear 0s;
        transform: translateY(-100%);
      }
      &.sort-from-click {
        .tab-sort-content {
          transform: translateY(0%);
        }
        .tab-filter-content {
          transition: transform 0s linear 0s;
          transform: translateX(100%);
        }
      }
      &.sort-from-filter {
        .tab-sort-content {
          transform: translateX(0%);
        }
        .tab-filter-content {
          transform: translateX(100%);
          .row{
            padding-left: 0;
          }
        }
      }
      &.filter-from-click {
        .tab-filter-content {
          transform: translateY(0%);
        }
        .tab-sort-content {
          transition: transform 0s linear 0s;
          transform: translateX(-100%);
        }
      }
      &.filter-from-sort {
        .tab-sort-content {
          transform: translateX(-100%);
        }
        .tab-filter-content {
          transform: translateX(0px);
        }
      }

      &.sort-click-gone {
        .tab-sort-content {
          transform: translateY(-100%);
        }
        .tab-filter-content {
          transition: transform 0s linear 0s;
          transform: translateY(-100%);
        }
      }
      &.filter-click-gone {
        .tab-sort-content {
          //transition: transform 0s linear 0s;
          transform: translateY(-100%);
        }
        .tab-filter-content {
          transform: translateY(-100%);
        }
      }

      &.filter-gone-bymodelclick {
        .tab-sort-content {
          transition: transform 0s linear 0s;
          transform: translateY(-100%);
        }
        .tab-filter-content {
          transform: translateY(-100%);
        }
      }
      &.sorte-gone-bymodelclick {
        .tab-sort-content {
          //transition: transform 0s linear 0s;
          transform: translateY(-100%);
        }
        .tab-filter-content {
          transition: transform 0s linear 0s;
          transform: translateY(-100%);
        }
      }
    }
    $divs-wrapper-z-index: 1;
    .worksheet-query-result {
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 0;
      background-color: white;
      .loading-more {
        height: 3rem;
        line-height: 3rem;
        text-align: center;
        color: #ADAAAA;
      }
      .list {
        padding-bottom: 0rem;
        margin-bottom: 0px;
      }
      .item.ng-enter {
        transition: 0.4s linear all;
        opacity: 0;
      }
      .item.ng-enter.ng-enter-active {
        opacity: 1;
      }
      .item {
        background-color: transparent;
        border-bottom: 1px solid #CCC9C9;
        padding: .3rem .6rem;
        @include display-flex;
        //@include flex-direction(column);
        .left {
          @include flex(75);
          .item-line {
            line-height: 2rem;
            height: 2rem;
            margin-top: 0px;
            padding: 0px;
            .name {

            }
            .value {
              color: #888282;
            }
          }
        }
        .right {
          @include flex(25);
          @include display-flex;
          @include flex-direction(column);
          @include justify-content(flex-end);
          .enter-detail-btn {
            @include flex(1);
            @include align-self(flex-end);
            text-align: right;
            padding-right: .8rem;
            width: 3rem;
            @include display-flex;
            @include align-items(center);
            @include justify-content(flex-end);
            i {
              font-size: 1.8rem;
              color: #A29F9F;
              margin-top: 1rem;
            }
          }
          .status {
            height: 2rem;
            line-height: 2rem;
            .name {

            }
            .value {
              font-size: 1rem;
              &.new {
                color: #3259A4;
              }
              &.handling {
                color: #6EB150;
              }
            }
          }
        }
      }
    }
    .xbr-model-div.show {
      min-height: 400px;
      background-color: rgba(6, 6, 6, 0.14);
    }

    .tab-buttons-line {
      background-color: white;
      //background-color: blue;
      @include display-flex;
      color: #969494;
      .tab-button-block {
        display: inline-block;
        height: 3em;
        line-height: 3em;
        text-align: center;
        @include flex(1);
        span {
          font-size: 16px;
        }
        img {
          color: #B7B6B6;
          display: inline-block;
          position: relative;
          height: 14px;
          left: .3rem;
          &:before {
            @include transition(transform 0.4s ease-out 0.0s);
          }
        }
        &.selected {
          //color: #ECB11B;
          color: $worksheetlist-selected-color;
          //border-bottom: 1px solid #ECB11B;
          i:before {
            //color: #ECB11B;
            color: $worksheetlist-selected-color;
            @include rotate(180deg);
          }
        }
        &.activited {
          //border-color: red;
          //background-color: red;
          //box-shadow: ;
        }
      }
    }
    .tab-buttons-line-border {
      display: none;
      //display: block;
      width: 50%;
      height: 1px;
      @include transition(transform 0.2s ease-out 0.0s);
      //transition: transform 0.2s linear 0.0s;
      &.left-sort {
        @include translate(0, 0);
        //background-color: #ECB11B;
        background-color: $worksheetlist-selected-color;
        //transform: translate(0px,0);
      }
      &.right-filter {
        @include translate(100%, 0);
        background-color: $worksheetlist-selected-color;
        //transform: translate(100%,0);
      }
    }
    .tab-buttons-line-border2 {
      height: 1px;
      width: 100%;
      display: inline-block;
      //position: relative;
      @include display-flex;
      .left {
        background-color: $crm-header-bar-bgcolor;
        @include flex(0);
        @include transition(flex 0.2s ease-out 0.0s);
        margin-right: 1px;
      }
      .center {
        width: 10px;
        height: 10px;
        background-color: white;
        position: relative;
        top: -5px;
        border-left: 1px solid red;
        border-top: 1px solid red;
        @include rotate(45deg);
        @include transition(border-color 0.2s ease-out 0.0s);
      }
      .right {
        background-color: rgba(98, 157, 3, 1);
        @include flex(4);
        margin-left: 1px;
      }
      &.left-sort {
        .left {
          @include flex(1);
        }
        .center {
          border-color: rgba(0, 49, 136, 1);
        }
        .right {
          @include flex(3);
          background: linear-gradient(90deg, rgba(0, 49, 136, 1) 0, rgba(98, 157, 3, 1) 100%);
          padding-left: 2.6rem;
        }
      }
      &.right-filter {
        .left {
          @include flex(3);
          //background: linear-gradient(90deg, rgba(0,49,136,1) 0, rgba(98,157,3,1) 100%);
          @include bg-linear-gradient(90deg, rgba(0, 49, 136, 1) 0, rgba(98, 157, 3, 1) 100%);
        }
        .center {
          border-color: rgba(98, 157, 3, 1);
        }
        .right {
          @include flex(1);
          padding-left: .3rem;
        }
      }
      &.noShowColor {
        //background-color: white;
        background: linear-gradient(90deg, rgba(0, 49, 136, 1) 0, rgba(98, 157, 3, 1) 100%);
        width: 100%;
        display: block;
        .left, .center, .right {
          background-color: white;
        }
        .center {
          display: none;
        }
      }
    }

    .tab-sort-content {
      max-height: 95%;
      width: 100%;
      display: block;
      margin-top: 0rem;
      position: absolute;
      left: 0px;
      top: 0px;
      z-index: $divs-wrapper-z-index;
      overflow: hidden;
      //background-color: rgba(2, 2, 2, 0.36);
      .sort-type-item {
        background-color: white;
        height: 2rem;
        line-height: 2rem;
        padding: 0px 0.8rem;
        span {
          border-bottom: 1px solid #D2D0D0;
          display: block;
          width: 100%;
          height: 100%;
        }
        &.time-desc {
        }
        &.time-asc {
        }
        &.impact-desc {
        }
        &.none {
          height: 1em;
          line-height: 3rem;
          text-align: center;
          font-size: 1rem;
          border-radius: 0px 0px 10px 10px;
        }
        &.selected {
          color: $worksheetlist-selected-color;
        }
      }
    }
    .tab-filter-content {
      display: block;
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      z-index: $divs-wrapper-z-index;
      margin-top: 0rem;
      background-color: white;
      border-radius: 0px 0px 10px 10px;
      overflow: hidden;
      ion-scroll {
        height: 100%;
      }
      .filter-title {
        height: 2rem;
        line-height: 2rem;
        font-size: 14px;
      }
      $filter-name-color: #828282;
      $filter-item-bg: rgba(223, 226, 228, 1);
      $filter-item-selected-bg: rgb(50, 89, 164);
      padding-left: .6rem;
      padding-right: .4rem;
      .filter-time {
        $filter-time-line-height: 3.5rem;
        @include display-flex;
        height: $filter-time-line-height;
        border-bottom: 1px solid #eee;
        padding-left: 0;
        .filter-time-title {
          @include flex(2);
          height: 100%;
          line-height: 3rem;

        }
        .filter-times-start-end {
          height: $filter-time-line-height;
          line-height: $filter-time-line-height;
          @include flex(8);
          .filter-time-center-line {
            display: inline-block;
            position: relative;
            border-bottom: 1px solid black;
            top: -0.2em;
          }
          .filter-start-time, .filter-end-time {
            display: inline-block;
            max-width: 8.5em;
            width: 8.5em;
            height: 2rem;
            line-height: 2rem;
            background-color: $filter-item-bg;
            text-align: center;
            color: $filter-name-color;
            padding-top: 0;
          }
          .filter-end-time {
          }
        }
      }
      .filter-worksheet-type {
        border-bottom: 1px solid #eee;
        padding-bottom: .6rem;
        .filter-worksheet-type-title {
        }
        .filter-types {
          height: 3rem;
          line-height: 3rem;
          .filter-type {
            display: inline-block;
            height: 2.5em;
            line-height: 2.5em;
            font-size: 12px;
            padding: 0 .4em;
            text-align: center;
            width: 140px;
            background-color: $filter-item-bg;
            color: $filter-name-color;
            &.selected {
              background-color: $filter-item-selected-bg;
              color: white;
            }
          }
        }

      }
      .filter-impact {
        border-bottom: 1px solid #eee;
        padding-bottom: .8rem;
        .filter-impact-title {
        }
        .filter-impacts {
          height: 2.5rem;
          line-height: 2.5rem;
          .filter-impact {
            width: 3rem;
            display: inline-block;
            font-size: 12px;
            line-height: 1.9rem;
            height: 2rem;
            background-color: $filter-item-bg;
            text-align: center;
            color: $filter-name-color;
            &.selected {
              background-color: $filter-item-selected-bg;
              color: white;
            }
            &.damage {
            }
            &.hight {
              margin-left: .4rem;
            }
            &.middle {
              margin-left: .4rem;
            }
            &.low {
              margin-left: .4rem;
            }
            &.none {
              margin-left: .4rem;
            }
          }
        }
      }
      .filter-action-buttons {
        height: 4rem;
        text-align: right;
        .filter-action-button {
          text-align: center;
          margin-top: .8rem;
          display: inline-block;
          background-color: white;
          margin-left: 2%;
          height: 2rem;
          line-height: 2rem;
          font-size: 1rem;
          min-width: 5rem;
          border: 1px solid $crm-header-bar-bgcolor;
          border-radius: 5px;
          color: $crm-header-bar-bgcolor;
          &.reset {
          }
          &.confirm {
          }
        }
      }
    }

    .tab-sort-content.ng-show {
    }

    .modal-wrapper {
      .show-more-modal-content {
        position: relative;
        min-width: 7rem;
        top: 48px;
        z-index: -2;
        display: inline-block !important;
        .top-line {
          width: 14px;
          height: 14px;
          background-color: white;
          transform: rotate(45deg);
          position: relative;
          left: 5.3rem;
          top: 0px;
        }
        .content-lines {
          background-color: white;
          padding: 0px .6rem .4rem .6rem;
          border-radius: 10px;
          position: relative;
          top: -7px;
        }
        .content-line {
          border-bottom: 1px solid #eee;
          color: #8E8B8B;
          text-align: center;
          padding: .4rem 0px;
          font-size: 1rem;
        }
      }
    }
  }

  .SpareList1 {
    b, strong {
      //font-weight: 100;
    }
    .bar .title {
      position: absolute;
      right: 0;
      left: 0;
      z-index: 0;
      overflow: hidden;
      margin: 0 10px;
      min-width: 30px;
      height: 43px;
      text-align: center;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: 16px;
      //font-weight: 100;
      color: rgb(250, 250, 250);
    }
    .bar.bar-header .button + .title {
      text-align: center;
      line-height: 55px;
    }
    .bar {
      border-bottom: none;
      background-color: $crm-header-bar-bgcolor;
      background-size: 0;
      box-shadow: none;
    }
    .bar-subheader {
      height: 43px;
      display: block;
      padding: 8px;
      .search1 {
        .placeholder-icon {
          color: #aaa;
          position: absolute;
          z-index: 2;
          top: .8em;
          left: 1em;
        }
        input {
          display: block;
          padding-left: 2em;
          color: black;
          vertical-align: middle;
          font-size: 14px;
          height: 28px;
          width: 95%;
          position: fixed;
          border-radius: 5px;
        }
      }
      .search2 {
        .placeholder-icon {
          color: #aaa;
          position: absolute;
          z-index: 2;
          top: .8em;
          left: 1em;
        }
        input {
          display: block;
          padding-left: 2em;
          color: black;
          vertical-align: middle;
          font-size: 14px;
          height: 28px;
          width: 80%;
          position: fixed;
          border-radius: 5px;
        }
        .ion-ios-close {
          position: absolute;
          top: 13px;
          right: 5em;
          z-index: 2;
          color: #aaa;
        }
        .button-clear {
          position: relative;
          left: 86%;
          font-size: 16px;
          top: -2px;
          min-height: 30px;
          max-height: 30px;
        }
      }
    }
    .divContent {
      position: relative;
      border-bottom: 1px solid rgba(128, 128, 128, 0.41);
      .row + .row {
        margin-top: -5px;
        padding-top: 5px;
      }
      img {
        height: 0.8em;
      }
      .col {
        padding: 0;
        span {
          font-size: 14px;
          color: gray;
        }
        .spareName {
          font-size: 15px;
        }
      }
      .col-51 {
        span {
          font-size: 13px;
        }
      }
      .col-44 {
        span {
          font-size: 13px;
        }
      }
      .row-center {
        b {
          //font-weight: 100;
          color: rgba(17, 17, 17, 0.71);
          font-size: 14px;
        }
      }
      .rowType {
        position: relative;
        .button-clear {
          left: 25%;
        }
      }
      .col-45 {
        text-align: center;
        padding: 0;
      }
    }
    .search{
      .his-title{
        color: #BFBFBF;
      }
      .ion-android-time{
        margin-right: 5px;
      }
      .hisText{
        white-space:nowrap;
      }
      .horizon-line{
        background: #D8D8D8;
        width: 100%;
        height: 1px;
        margin-left: 5px;
      }
      ion-item{
        border-bottom: 1px solid #D8D8D8;
        min-height: 0;
        font-size: 14px;
        padding: 10px 16px;
      }
    }
    .content{
      .item {
        position: relative;
        display: block;
        margin: -1px;
        font-size: 16px;
        padding: 0;
        //border-bottom: 1px solid rgba(0, 0, 0, 0.16);
      }
    }
  }

