<ion-view class="CarDetail">
    <div class="top-back3 absolute animated fadeIn" ng-class="!showTitle?'animated fadeOut':'animated fadeIn'" ng-show="showTitle">
        <div class="row row-center title" >
            <div class="col col-15" ng-click="goBack()"><i class="ion-chevron-left"></i></div>
            <div class="col col-69 text-center">车辆信息详情</div>
        </div>
    </div>
    <div class="top-back2 absolute top-back"  ng-show="titleStatus">
        <div class="row row-center title" >
            <div class="col col-15" ng-click="goBack()"><i class="ion-chevron-left"></i></div>
            <div class="col col-69 text-center">车辆信息详情</div>
        </div>
    </div>
    <ion-content has-bouncing="false" on-scroll="onScroll()">
        <div class="top-back">
            <div class="row row-center title " ng-class="TitleFlag?'animated fadeOut':'animated fadeIn'">
                <div class="col col-15" ng-click="goBack()"><i class="ion-chevron-left"></i></div>
                <div class="col col-69 text-center">车辆信息详情</div>
            </div>

            <div class="mainInfo">
                <div class="row row1 row-center" ng-class="titleFlag?'animated fadeOut':'animated fadeIn'">
                    <div class="col col-center col-5">
                        <img ng-src="img/car/Oval.png" class="pointImg">
                    </div>
                    <div class="col col-95 col-center colText" >
                        {{carInfo.describe}}
                    </div>
                </div>
                <div class="row row2 row-center" ng-class="qualityFlag?'animated fadeOut':'animated fadeIn'">
                    质保:&nbsp;&nbsp;{{carInfo.productionDate}}-{{carInfo.endDate}}</div>
                <div class="row row2 row-center" ng-class="projectFlag?'animated fadeOut':'animated fadeIn'">
                    {{projectName}}&nbsp;&nbsp;{{carInfo.projectName}}</div>
            </div>
        </div>


        <div class="contentType">
           <div class="row row-center rowBt">
               <div class="col col-40 col-center">
                   <img ng-src="img/car/maintenance.png" class="btType" ng-click="goSkip('maintenance')" >
               </div>
               <div class="col col-45 col-center">
                   <img ng-src="img/car/spare.png" class="btType" ng-click="goSkip('spare')">
               </div>
           </div>
            <div class="Car_countentbasic">
                <div class="Car_countentbasicinfo">基本信息</div>
                <div class="Car_countentbasicline"></div>
                <div class="Car_countentbasicclok"></div>
            </div>
            <!--<div class="row row-center titleType">-->
                <!--<img ng-src="img/car/baseInfo.png" class="titleImg">-->
            <!--</div>-->
            <div class="row row-center rowType">
                <div class="col col-center col-40">
                    <span>车辆安装点</span>
                </div>
                <div class="col col-center col-60">{{carInfo.point}}</div>
            </div>
            <div class="lineType1"></div>
            <div class="row row-center rowType">
                <div class="col col-center col-40">
                    <span>车辆料码</span>
                </div>
                <div class="col col-center col-56">{{carInfo.code}}</div>
            </div>
            <div class="lineType1"></div>
            <div class="row row-center rowType">
                <div class="col col-center col-20">
                    <span>车辆描述</span>
                </div>
                <div class="col col-center col-76">{{carInfo.describe}}</div>
            </div>
            <div class="lineType1"></div>
            <div class="row row-center rowType1">
                <div class="col col-center col-40 colType" >
                    <div class="row row-center rowType2" ><span>电池系统</span></div>
                    <div class="row row-center rowType2" ><span>BarCode</span></div>
                </div>
                <div class="col col-center col-56">{{carInfo.barCode}}</div>
            </div>
            <div class="lineType1"></div>
            <div class="row row-center rowType">
                <div class="col col-center col-40">
                    <span>车牌号码</span>
                </div>
                <div class="col col-center col-56">{{carInfo.carCode}}</div>
            </div>
            <div class="lineType1"></div>
            <div class="row row-center rowType">
                <div class="col col-center col-40">
                    <span>车工号</span>
                </div>
                <div class="col col-center col-56">{{carInfo.carNumber}}</div>
            </div>
            <div class="lineType1"></div>
            <div class="row row-center rowType">
                <div class="col col-center col-40">
                    <span>车辆型号</span>
                </div>
                <div class="col col-center col-56">{{carInfo.version}}</div>
            </div>
            <div class="lineType1"></div>
            <div class="row row-center rowType">
                <div class="col col-center col-40">
                    <span>CATL项目名称</span>
                </div>
                <div class="col col-center col-56">{{carInfo.projectName}}</div>
            </div>
            <div class="lineType1"></div>
            <div class="Car_countentbasic">
                <div class="Car_countentbasicinfo">质保信息</div>
                <div class="Car_countentbasicline"></div>
                <div class="Car_countentbasicclok"></div>
            </div>
            <div class="row row-center rowType">
                <div class="col col-center col-40">
                    <span>质保描述</span>
                </div>
                <div class="col col-center col-56">{{carInfo.quality}}</div>
            </div>
            <div class="lineType1"></div>
            <div class="row row-center rowType">
                <div class="col col-center col-40">
                    <span>质保开始日期</span>
                </div>
                <div class="col col-center col-56">{{carInfo.productionDate}}</div>
            </div>
            <div class="lineType1"></div>
            <div class="row row-center rowType">
                <div class="col col-center col-40">
                    <span>质保结束日期</span>
                </div>
                <div class="col col-center col-56">{{carInfo.endDate}}</div>
            </div>
            <div class="lineType1"></div>
            <div class="Car_countentbasic">
                <div class="Car_countentbasicinfo">客户信息</div>
                <div class="Car_countentbasicline"></div>
                <div class="Car_countentbasicclok"></div>
            </div>
            <div class="row row-center rowType">
                <div class="col col-center col-40">
                    <span>直接客户</span>
                </div>
                <div class="col col-center col-56">
                    <u>
                        {{carInfo.directCustomer}}
                    </u>
                </div>
            </div>
            <div class="lineType1"></div>
            <div class="row row-center rowType">
                <div class="col col-center col-40">
                    <span>终端客户</span>
                </div>
                <div class="col col-center col-56">
                    <u>{{carInfo.terminal}}</u>
                </div>
            </div>
            <div class="lineType1"></div>
            <div class="Car_countentbasic1">
                <div class="Car_countentbasicinfo">驾驶员信息</div>
                <div class="Car_countentbasicline"></div>
                <div class="Car_countentbasicclok"></div>
            </div>
            <div class="row row-center rowType">
                <div class="col col-center col-40">
                    <span>驾驶员</span>
                </div>
                <div class="col col-center col-56">{{carInfo.driver}}</div>
            </div>
            <div class="lineType1"></div>
            <div class="row row-center rowType" ng-click="carshowphone(carDetailval.phoneNumber)">
                <div class="col col-center col-40">
                    <span>驾驶员电话</span>
                </div>
                <div class="col col-center col-56" >{{carInfo.phoneNum}}</div>
            </div>
            <div class="lineType1"></div>
            <div class="Car_countentbasic">
                <div class="Car_countentbasicinfo">时间信息</div>
                <div class="Car_countentbasicline"></div>
                <div class="Car_countentbasicclok"></div>
            </div>
            <div class="row row-center rowType">
                <div class="col col-center col-40">
                    <span>出厂日期</span>
                </div>
                <div class="col col-center col-56">{{carInfo.productionDate}}</div>
            </div>
            <div class="lineType1"></div>
            <div class="row row-center rowType">
                <div class="col col-center col-40">
                    <span>购买日期</span>
                </div>
                <div class="col col-center col-56">{{carInfo.buyDate}}</div>
            </div>
            <div class="lineType1"></div>
            <div class="row row-center rowType">
                <div class="col col-center col-40">
                    <span>运营日起</span>
                </div>
                <div class="col col-center col-56">{{carInfo.operationDate}}</div>
            </div>
            <div class="lineType1"></div>
            <div class="Car_countentbasic">
                <div class="Car_countentbasicinfo">BMU版本</div>
                <div class="Car_countentbasicline"></div>
                <div class="Car_countentbasicclok"></div>
            </div>
            <div class="row row-center rowType">
                <div class="col col-center col-40">
                    <span>BMU硬件版本</span>
                </div>
                <div class="col col-center col-56">{{carInfo.driver}}</div>
            </div>
            <div class="lineType1"></div>
            <div class="row row-center rowType">
                <div class="col col-center col-40">
                    <span>BMU软件版本</span>
                </div>
                <div class="col col-center col-56">{{carInfo.phoneNum}}</div>
            </div>
            <div class="lineType1"></div>
            <div class="Car_countentbasic">
                <div class="Car_countentbasicinfo">CSC版本</div>
                <div class="Car_countentbasicline"></div>
                <div class="Car_countentbasicclok"></div>
            </div>
            <div class="row row-center rowType">
                <div class="col col-center col-40">
                    <span>CSC硬件版本</span>
                </div>
                <div class="col col-center col-56">{{carInfo.driver}}</div>
            </div>
            <div class="lineType1"></div>
            <div class="row row-center rowType">
                <div class="col col-center col-40">
                    <span>CSC软件版本</span>
                </div>
                <div class="col col-center col-56">{{carInfo.phoneNum}}</div>
            </div>
            <div class="lineType1"></div>
       </div>
    </ion-content>
</ion-view>                                                                                                                                