<ion-view class="CarDetail">
    <div class="top-back3 absolute fadeIn" ng-show="showTitle">
        <div class="row row-center title" >
            <div class="col col-15" ng-click="goBack()"><i class="ion-chevron-left"></i></div>
            <div class="col col-69 text-center">车辆详情</div>
        </div>
    </div>
    <div class=" absolute fadeIn top-back2" ng-class="!titleStatus?'fadeOut':''" ng-show="titleStatus">
        <div class="row row-center title" >
            <div class="col col-15" ng-click="goBack()"><i class="ion-chevron-left"></i></div>
            <div class="col col-69 text-center">车辆详情</div>
        </div>
    </div>
    <ion-content has-bouncing="false" on-scroll="onScroll()">
        <div class="top-back">
            <div class="row row-center title " ng-class="TitleFlag?'animated fadeOut':'animated fadeIn'">
                <div class="col col-15" ng-click="goBack()"><i class="ion-chevron-left"></i></div>
                <div class="col col-69 text-center">车辆详情</div>
            </div>

            <div class="mainInfo">
                <div class="row row1 row-center" ng-class="titleFlag?'animated fadeOut':'animated fadeIn'">
                    <div class="col col-center col-5">
                        <img ng-src="img/car/Oval.png" class="pointImg">
                    </div>
                    <div class="col col-95 col-center colText" >
                        {{carInfo.describe}}
                    </div>
                </div>
                <div class="row row2 row-center" ng-class="qualityFlag?'animated fadeOut':'animated fadeIn'">
                    质保:{{carInfo.productionDate}}-{{carInfo.endDate}}</div>
                <div class="row row2 row-center" ng-class="projectFlag?'animated fadeOut':'animated fadeIn'">
                    {{projectName}}{{carInfo.projectName}}</div>
            </div>

        </div>


        <div class="contentType">
           <div class="row row-center rowBt">
               <div class="col col-40 col-center">
                   <img ng-src="img/car/maintenance.png" class="btType" ng-click="goSkip('maintenance')" >
               </div>
               <div class="col col-45 col-center">
                   <img ng-src="img/car/spare.png" class="btType" ng-click="goSkip('spare')">
               </div>
           </div>
            <div class="borderLine">
                <div class="row row-center rowLine">
                    <div class="col col-18 col-center">
                        <span>基本信息</span>
                    </div>
                    <div class="col col-center col-82"></div>
                </div>
                <div class="row row-center">
                    <div class="col col-15"></div>
                </div>
            </div>
            <!--<div class="row row-center titleType">-->
                <!--<img ng-src="img/car/baseInfo.png" class="titleImg">-->
            <!--</div>-->
            <div class="row row-center rowType">
                <div class="col col-center col-40">
                    <b>车辆安装点</b>
                </div>
                <div class="col col-center col-60">{{carInfo.point}}</div>
            </div>
            <div class="lineType1"></div>
            <div class="row row-center rowType">
                <div class="col col-center col-40">
                    <b>车辆料码</b>
                </div>
                <div class="col col-center col-60">{{carInfo.code}}</div>
            </div>
            <div class="lineType1"></div>
            <div class="row row-center rowType">
                <div class="col col-center col-20">
                    <b>车辆描述</b>
                </div>
                <div class="col col-center col-80">{{carInfo.describe}}</div>
            </div>
            <div class="lineType1"></div>
            <div class="row row-center rowType1">
                <div class="col col-center col-40 colType" >
                    <div class="row row-center rowType2" ><b>电池系统</b></div>
                    <div class="row row-center rowType2" ><b>BarCode</b></div>
                </div>
                <div class="col col-center col-60">{{carInfo.barCode}}</div>
            </div>
            <div class="lineType1"></div>
            <div class="row row-center rowType">
                <div class="col col-center col-40">
                    <b>车牌号码</b>
                </div>
                <div class="col col-center col-60">{{carInfo.carCode}}</div>
            </div>
            <div class="lineType1"></div>
            <div class="row row-center rowType">
                <div class="col col-center col-40">
                    <b>车工号</b>
                </div>
                <div class="col col-center col-60">{{carInfo.carNumber}}</div>
            </div>
            <div class="lineType1"></div>
            <div class="row row-center rowType">
                <div class="col col-center col-40">
                    <b>车辆型号</b>
                </div>
                <div class="col col-center col-60">{{carInfo.version}}</div>
            </div>
            <div class="lineType1"></div>
            <div class="row row-center rowType">
                <div class="col col-center col-40">
                    <b>CATL项目名称</b>
                </div>
                <div class="col col-center col-60">{{carInfo.projectName}}</div>
            </div>
            <div class="lineType1"></div>
            <div class="borderLine">
                <div class="row row-center rowLine">
                    <div class="col col-18 col-center">
                        <span>质保信息</span>
                    </div>
                    <div class="col col-1"></div>
                    <div class="col col-center col-82"></div>
                </div>
                <div class="row row-center">
                    <div class="col col-15"></div>
                </div>
            </div>
            <div class="row row-center rowType">
                <div class="col col-center col-40">
                    <b>质保描述</b>
                </div>
                <div class="col col-center col-60">{{carInfo.quality}}</div>
            </div>
            <div class="lineType1"></div>
            <div class="row row-center rowType">
                <div class="col col-center col-40">
                    <b>质保开始日期</b>
                </div>
                <div class="col col-center col-60">{{carInfo.productionDate}}</div>
            </div>
            <div class="lineType1"></div>
            <div class="row row-center rowType">
                <div class="col col-center col-40">
                    <b>质保结束日期</b>
                </div>
                <div class="col col-center col-60">{{carInfo.endDate}}</div>
            </div>
            <div class="lineType1"></div>
            <div class="borderLine">
                <div class="row row-center rowLine">
                    <div class="col col-18 col-center">
                        <span>客户信息</span>
                    </div>
                    <div class="col col-1"></div>
                    <div class="col col-center col-82"></div>
                </div>
                <div class="row row-center">
                    <div class="col col-15"></div>
                </div>
            </div>
            <div class="row row-center rowType">
                <div class="col col-center col-40">
                    <b>直接客户</b>
                </div>
                <div class="col col-center col-60 ">
                    <u>
                        {{carInfo.directCustomer}}
                    </u>
                </div>
            </div>
            <div class="lineType1"></div>
            <div class="row row-center rowType">
                <div class="col col-center col-40">
                    <b>终端客户</b>
                </div>
                <div class="col col-center col-60 ">
                    <u>{{carInfo.terminal}}</u>
                </div>
            </div>
            <div class="lineType1"></div>
            <div class="borderLine">
                <div class="row row-center rowLine">
                    <div class="col col-23 col-center">
                        <span>驾驶员信息</span>
                    </div>
                    <div class="col col-center col-77"></div>
                </div>
                <div class="row row-center">
                    <div class="col col-15"></div>
                </div>
            </div>
            <div class="row row-center rowType">
                <div class="col col-center col-40">
                    <b>驾驶员</b>
                </div>
                <div class="col col-center col-60">{{carInfo.driver}}</div>
            </div>
            <div class="lineType1"></div>
            <div class="row row-center rowType">
                <div class="col col-center col-40">
                    <b>驾驶员电话</b>
                </div>
                <div class="col col-center col-60">{{carInfo.phoneNum}}</div>
            </div>
            <div class="lineType1"></div>
            <div class="borderLine">
                <div class="row row-center rowLine">
                    <div class="col col-18 col-center">
                        <span>时间信息</span>
                    </div>
                    <div class="col col-1"></div>
                    <div class="col col-center col-82"></div>
                </div>
                <div class="row row-center">
                    <div class="col col-15"></div>
                </div>
            </div>
            <div class="row row-center rowType">
                <div class="col col-center col-40">
                    <b>出厂日期</b>
                </div>
                <div class="col col-center col-60">{{carInfo.productionDate}}</div>
            </div>
            <div class="lineType1"></div>
            <div class="row row-center rowType">
                <div class="col col-center col-40">
                    <b>购买日期</b>
                </div>
                <div class="col col-center col-60">{{carInfo.buyDate}}</div>
            </div>
            <div class="lineType1"></div>
            <div class="row row-center rowType">
                <div class="col col-center col-40">
                    <b>运营日起</b>
                </div>
                <div class="col col-center col-60">{{carInfo.operationDate}}</div>
            </div>
            <div class="lineType1"></div>
            <div class="borderLine">
                <div class="row row-center rowLine">
                    <div class="col col-23 col-center">
                        <span>BMU版本</span>
                    </div>
                    <div class="col col-center col-77"></div>
                </div>
                <div class="row row-center">
                    <div class="col col-15"></div>
                </div>
            </div>
            <div class="row row-center rowType">
                <div class="col col-center col-40">
                    <b>BMU硬件版本</b>
                </div>
                <div class="col col-center col-60">{{carInfo.driver}}</div>
            </div>
            <div class="lineType1"></div>
            <div class="row row-center rowType">
                <div class="col col-center col-40">
                    <b>BMU软件版本</b>
                </div>
                <div class="col col-center col-60">{{carInfo.phoneNum}}</div>
            </div>
            <div class="lineType1"></div>
            <div class="borderLine">
                <div class="row row-center rowLine">
                    <div class="col col-18 col-center">
                        <span>CSC版本</span>
                    </div>
                    <div class="col col-1"></div>
                    <div class="col col-center col-82"></div>
                </div>
                <div class="row row-center">
                    <div class="col col-15"></div>
                </div>
            </div>
            <div class="row row-center rowType">
                <div class="col col-center col-40">
                    <b>CSC硬件版本</b>
                </div>
                <div class="col col-center col-60">{{carInfo.driver}}</div>
            </div>
            <div class="lineType1"></div>
            <div class="row row-center rowType">
                <div class="col col-center col-40">
                    <b>CSC软件版本</b>
                </div>
                <div class="col col-center col-60">{{carInfo.phoneNum}}</div>
            </div>
            <div class="lineType1"></div>
       </div>
    </ion-content>
</ion-view>