<ion-view class="CarDetail">
    <!--<div class="top-back3 absolute animated fadeIn" ng-class="!showTitle?'animated fadeOut':'animated fadeIn'" ng-show="showTitle">-->
        <!--<div class="row row-center title" >-->
            <!--<div class="col col-15" ng-click="goBack()"><i class="ion-chevron-left"></i></div>-->
            <!--<div class="col col-69 text-center">车辆信息详情</div>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="top-back2 absolute top-back"  ng-show="titleStatus">-->
        <!--<div class="row row-center title" >-->
            <!--<div class="col col-15" ng-click="goBack()"><i class="ion-chevron-left"></i></div>-->
            <!--<div class="col col-69 text-center">车辆信息详情</div>-->
        <!--</div>-->
    <!--</div>-->
        <div class="top-back">
            <div class="row row-center title " ng-class="TitleFlag?'animated fadeOut':'animated fadeIn'">
                <div class="col col-15" ng-click="back()"><i class="ion-chevron-left"></i></div>
                <div class="col col-69 text-center">车辆信息详情</div>
            </div>
            <div class="mainInfo">
                <div class="row row1 row-center" ng-class="titleFlag?'animated fadeOut':'animated fadeIn'">
                    <div class="col col-center col-5">
                        <img ng-src="img/car/Oval.png" class="pointImg">
                    </div>
                    <div class="col col-95 col-center colText" >
                        {{carInfo1.describe}}
                    </div>
                </div>
                <div class="row row2 row-center" ng-class="qualityFlag?'animated fadeOut':'animated fadeIn'">
                    质保:&nbsp;&nbsp;{{carInfo1.productionDate1}}</div>
                <div class="row row2 row-center" ng-class="projectFlag?'animated fadeOut':'animated fadeIn'">
                    {{projectName}}&nbsp;&nbsp;{{carInfo1.projectName}}</div>
            </div>
        </div>
        <div class="contentType">
            <div class="row row-center rowBt">
                <div class="col col-40 col-center">
                    <img ng-src="img/car/maintenance.png" class="btType" ng-click="goDetail(carInfo1.code1)" >
                </div>
                 <div class="col col-45 col-center">
                    <img ng-src="img/car/spare.png" class="btType" ng-click="goPage(carInfo1.code1)">
                </div>
            </div>
        </div>
    <ion-content has-bouncing="false">
            <div class="Car_countentbasic2">
                <div class="Car_countentbasicinfo">基本信息</div>
                <div class="Car_countentbasicline"></div>
                <div class="Car_countentbasicclok"></div>
            </div>

            <div class="row row-center rowType">
                <div class="col col-center col-40">
                    车辆安装点
                </div>
                <div class="col col-center col-60">{{carInfo1.point}}</div>
            </div>
            <div class="lineType1"></div>
            <div class="row row-center rowType">
                <div class="col col-center col-40">
                    车辆料码
                </div>
                <div class="col col-center col-56">{{carInfo1.code}}</div>
            </div>
            <div class="lineType1"></div>
            <div class="row row-center rowType">
                <div class="col col-center col-40">
                    车辆描述
                </div>
            </div>
        <textarea id="textarea" placeholder="请输入备注" style="border-bottom:1px solid #ddd;padding: 0 15px 15px 90px;font-size: 12px;width: 100%;background-color:white; padding: 0 15px 15px 50px;" ng-model="carInfo1.describe"></textarea>
        <div class="row row-center rowType1">
                <div class="col col-center col-40 colType" >
                    <div class="row row-center rowType2" >电池系统</div>
                    <div class="row row-center rowType2" >BarCode</div>
                </div>
                <div class="col col-center col-56">{{carInfo1.barCode}}</div>
            </div>
            <div class="lineType1"></div>
            <div class="row row-center rowType">
                <div class="col col-center col-40">
                    车牌号码
                </div>
                <div class="col col-center col-56">{{carInfo1.carCode}}</div>
            </div>
            <div class="lineType1"></div>
            <div class="row row-center rowType">
                <div class="col col-center col-40">
                    车工号
                </div>
                <div class="col col-center col-56">{{carInfo1.carNumber}}</div>
            </div>
            <div class="lineType1"></div>
            <div class="row row-center rowType">
                <div class="col col-center col-40">
                    车辆型号
                </div>
                <div class="col col-center col-56">{{carInfo1.version}}</div>
            </div>
            <div class="lineType1"></div>
            <div class="row row-center rowType">
                <div class="col col-center col-40">
                    CATL项目名称
                </div>
                <div class="col col-center col-56">{{carInfo1.projectName}}</div>
            </div>
            <div class="lineType1"></div>
            <div class="Car_countentbasic">
                <div class="Car_countentbasicinfo">质保信息</div>
                <div class="Car_countentbasicline"></div>
                <div class="Car_countentbasicclok"></div>
            </div>
            <div class="row row-center rowType">
                <div class="col col-center col-40">
                    质保描述
                </div>
                <div class="col col-center col-56">{{carInfo1.quality}}</div>
            </div>
            <div class="lineType1"></div>
            <div class="row row-center rowType">
                <div class="col col-center col-40">
                    质保开始日期
                </div>
                <div class="col col-center col-56">{{carInfo1.productionDate}}</div>
            </div>
            <div class="lineType1"></div>
            <div class="row row-center rowType">
                <div class="col col-center col-40">
                    质保结束日期
                </div>
                <div class="col col-center col-56">{{carInfo1.endDate}}</div>
            </div>
            <div class="lineType1"></div>
            <div class="Car_countentbasic">
                <div class="Car_countentbasicinfo">客户信息</div>
                <div class="Car_countentbasicline"></div>
                <div class="Car_countentbasicclok"></div>
            </div>
            <div class="row row-center rowType">
                <div class="col col-center col-40">
                    直接客户
                </div>
                <div class="col col-center col-56">
                    <u>
                        {{carInfo1.directCustomer}}
                    </u>
                </div>
            </div>
            <div class="lineType1"></div>
            <div class="row row-center rowType">
                <div class="col col-center col-40" ng-click="goDetail(carInfo1.terminalId)">
                    终端客户
                </div>
                <div class="col col-center col-56">
                    <u>{{carInfo1.terminal}}</u>
                </div>
            </div>
            <div class="lineType1"></div>
            <div class="Car_countentbasic1">
                <div class="Car_countentbasicinfo">驾驶员信息</div>
                <div class="Car_countentbasicline"></div>
                <div class="Car_countentbasicclok"></div>
            </div>
            <div class="row row-center rowType">
                <div class="col col-center col-40">
                    驾驶员
                </div>
                <div class="col col-center col-56">{{carInfo1.driver}}</div>
            </div>
            <div class="lineType1"></div>
            <div class="row row-center rowType">
                <div class="col col-center col-40">
                    驾驶员电话
                </div>
                <div class="col col-center col-56" ng-click="carshowphone(carInfo1.phoneNum)">{{carInfo1.phoneNum}}</div>
            </div>
            <div class="lineType1"></div>
            <div class="Car_countentbasic">
                <div class="Car_countentbasicinfo">时间信息</div>
                <div class="Car_countentbasicline"></div>
                <div class="Car_countentbasicclok"></div>
            </div>
            <div class="row row-center rowType">
                <div class="col col-center col-40">
                    出厂日期
                </div>
                <div class="col col-center col-56">{{carInfo1.productionDate}}</div>
            </div>
            <div class="lineType1"></div>
            <div class="row row-center rowType">
                <div class="col col-center col-40">
                    购买日期
                </div>
                <div class="col col-center col-56">{{carInfo1.buyDate}}</div>
            </div>
            <div class="lineType1"></div>
            <div class="row row-center rowType">
                <div class="col col-center col-40">
                    运营日期
                </div>
                <div class="col col-center col-56">{{carInfo1.operationDate}}</div>
            </div>
            <div class="lineType1"></div>
        <div class="row row-center rowType">
            <div class="col col-center col-40">
                更新日期
            </div>
            <div class="col col-center col-56">{{carInfo1.newDate}}</div>
        </div>
        <div class="lineType1"></div>
            <div class="Car_countentbasic">
                <div class="Car_countentbasicinfo">BMU版本</div>
                <div class="Car_countentbasicline"></div>
                <div class="Car_countentbasicclok"></div>
            </div>
            <div class="row row-center rowType">
                <div class="col col-center col-40">
                    BMU硬件版本
                </div>
                <div class="col col-center col-56">{{carInfo1.BMU_V1}}</div>
            </div>
            <div class="lineType1"></div>
            <div class="row row-center rowType">
                <div class="col col-center col-40">
                    BMU软件版本
                </div>
                <div class="col col-center col-56">{{carInfo1.BMU_V2}}</div>
            </div>
            <div class="lineType1"></div>
            <div class="Car_countentbasic">
                <div class="Car_countentbasicinfo">CSC版本</div>
                <div class="Car_countentbasicline"></div>
                <div class="Car_countentbasicclok"></div>
            </div>
            <div class="row row-center rowType">
                <div class="col col-center col-40">
                    CSC硬件版本
                </div>
                <div class="col col-center col-56">{{carInfo1.CSC_V1}}</div>
            </div>
            <div class="lineType1"></div>
            <div class="row row-center rowType">
                <div class="col col-center col-40">
                    CSC软件版本
                </div>
                <div class="col col-center col-56">{{carInfo1.SCS_V2}}</div>
            </div>
            <div class="lineType1"></div>
       </div>
    </ion-content>
</ion-view>                                                                                                                                