<ion-view class="Maintenance">
    <ion-header-bar class="bar">
        <a class="button  button-clear icon-left ion-ios-arrow-back backType" ng-click="goBack()"></a>
        <div class="title"><b>车辆维修记录列表</b></div>
    </ion-header-bar>
    <ion-content>
        <div class="row row-center rowType">
            <div class="col col-50 col-center colType" ng-click="changeSort()">
                <span class="sort">排序</span>
                <img ng-src="img/car/sort.png" class="sortType" ng-show="!showSort">
                <img ng-src="img/car/sortImg.png" class="sortType" ng-show="showSort">
                <div class="bgColor" ng-show="showSort">
                    <i class="ion-ios-arrow-up"></i>
                </div>
            </div>
            <div class="col col-50 col-center colType icon-right" ng-click="changeSelect()">
                <span class="select">筛选</span>
                <img ng-src="img/car/select.png" class="selectType" ng-show="!showSelect">
                <img ng-src="img/car/selectImg.png" class="selectType" ng-show="showSelect">
                <div class="bgColor1" ng-show="showSelect">
                    <i class="ion-ios-arrow-up"></i>
                </div>
            </div>
        </div>
        <div class="arrow-outer">
            <div class="arrow-shadow">
            </div>
        </div>
        <div class="lineImg"></div>
        <div class="divLine" ng-repeat="record in carInfo">
            <div class="row row-center rowContent">
                <div class="col col-center col-5">
                    <img ng-src="img/car/Oval.png" class="pointImg">
                </div>
                <div class="col col-95 col-center colType1">
                    <div class="row row-center">
                        <div class="col col-center col-28">
                            <b>工单类型</b>
                        </div>
                        <div class="col col-center col-72">
                            <span>{{record.listType}}</span>
                        </div>
                    </div>
                    <div class="row row-center">
                        <span>{{record.maintenanceDate}}</span>
                    </div>
                    <div class="row row-center">
                        <div class="col col-center col-28">
                            <b>工单描述</b>
                        </div>
                        <div class="col col-center col-72">
                            <span>{{record.maintenanceDescribe}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row row-center">
            <a class="button button-clear buttonText">
                <span>点击加载更多</span>
            </a>
        </div>
        <div class="myPro" ng-show="showSort">
            <ul class="ulType animated fadeInDown">
                <li class="liType " ng-class="{true:'color1',false:'color2'}[$index===selectRow]"  ng-repeat="list in List" ng-click="choice($index)">{{list}}</li>
            </ul>
            <div class="shadowDiv1" ng-click="shadowUp()"></div>
        </div>
        <div ng-show="showSelect">
            <div  class="selectContent animated fadeInDown" >
                <div class="row row-center row1">
                    <div class="col col-5"></div>
                    <div class="col col-20">
                        <span>日期区间</span>
                    </div>
                    <div class="col col-26 col-center">
                        <input type="date" placeholder="20150101" class="textDate">
                    </div>
                    <div class="col col-10 col-center">
                        <div class="line"></div>
                    </div>
                    <div class="col col-26 col-center">
                        <input type="date" placeholder="20150609" class="textDate">
                    </div>
                </div>
                <div class="lineType"></div>
                <div class="row row-center row2">
                    <div class="col col-5"></div>
                    <div class="col col-center titleType">
                        <b>工单类型</b>
                    </div>
                </div>
                <div class="row row-center row3">
                    <div class="col col-5"></div>
                    <div class="col col-center col-30" ng-click="clicked($index)" ng-repeat="list in List1">
                        <a class="button button-outline btType" ng-class="{true:'selected',false:'classColor'}[$index===selectedRow]" >{{list}}</a>
                   </div>
                </div>
                <div class="lineType"></div>
                <div class="row row-center row2">
                    <div class="col col-5"></div>
                    <div class="col col-center titleType">
                        <b>影响</b>
                    </div>
                </div>
                <div class="row row-center row4">
                    <div class="col col-5"></div>
                    <div class="col col-center col-18" ng-repeat="list in List2" ng-click="clicked1($index)">
                        <a class="button button-outline btType1" ng-class="{true:'selected',false:'classColor'}[$index===selectedRow1]">{{list}}</a>
                    </div>
                </div>
                <div class="lineType"></div>
                <div class="row">
                    <div class="col col-37"></div>
                    <div class="col col-25 ">
                        <a class="button button-outline button-light" ng-click="reset()">重置</a>
                    </div>
                    <div class="col col-8"></div>
                    <div class="col col-25 ">
                        <a class="button button-outline button-light">确认</a>
                    </div>
                </div>
                <div class="shadowDiv2" ng-click="shadowUp()"></div>
            </div>
        </div>
    </ion-content>
</ion-view>