<ion-view class="CarList">
    <ion-header-bar class="bar ">
        <a class="button  button-clear icon-left ion-ios-arrow-back backType" ng-click="goBack()"></a>
        <div class="title"><b>搜索页面</b></div>
    </ion-header-bar>
    <ion-header-bar class="bar bar-subheader ">
        <i class="icon ion-ios-search placeholder-icon"></i>
        <input type="text" placeholder="输入客户信息"ng-model="carInfo" ng-click="goSkip('search')">
    </ion-header-bar>
    <ion-content>
    </ion-content>
</ion-view>