<ion-view class="SpareList1">
    <ion-header-bar class="bar" align-title="center">
        <a class="button  button-clear ion-chevron-left" ng-click="goBack()"></a>
        <div class="title">车辆备件信息</div>
    </ion-header-bar>
    <ion-header-bar class="bar bar-subheader ">
        <i class="icon ion-ios-search placeholder-icon"></i>
        <input type="text" placeholder="请输入备件描述"ng-model="carInfo">
    </ion-header-bar>
    <ion-content has-bouncing="false">
        <div class="divContent" ng-repeat="spare in spareList">
            <div class="row row-center">
                <div class="col col-5">
                    <img ng-src="img/car/Oval.png">
                </div>
                <div class="col col-center">
                    <span class="spareName">{{spare.spareName}}</span>
                </div>
            </div>
            <div class="row row-center">
                <div class="col col-5"></div>
                <div class="col col-50 col-center">
                    <b>备件编码:</b>
                    <span>{{spare.spareNum}}</span>
                </div>
                <div class="col col-45 col-center">
                    <b>标准使用数量:</b>
                    <span>{{spare.count}}</span>
                </div>
            </div>
            <div class="row row-center">
                <div class="col col-5"></div>
                <div class="col col-50 col-center">
                    <b>质保:</b>
                    <span>{{spare.qualityTime}}</span>
                </div>
                <div class="col col-45 col-center">
                    <span>{{spare.qualityDate}}</span>
                </div>
            </div>
        </div>
        <div class="row row-center rowType">
            <a class="button button-clear buttonText" ng-click="loadMore()">
                <span>点击加载更多</span>
            </a>
        </div>
    </ion-content>
</ion-view>