<ion-view class="SpareList1">
    <div class="saleList">
        <ion-header-bar align-title="center" class="head pub-head ">
            <div class="row row-center">
                <a class="col col-20 text-left goBack" ng-click="goBack()"><i class="ion-chevron-left"></i></a>
                <div class="col col-60 text-center">车辆备件信息</div>
            </div>
        </ion-header-bar>
    </div>
    <ion-header-bar class="bar bar-subheader ">
        <div class="search1" ng-show="!searchFlag">
            <i class="icon ion-ios-search placeholder-icon"></i>
            <input  type="text" placeholder="请输入备件描述" ng-click="changePage()">
        </div>
        <div class="search2" ng-show="searchFlag" ng-class="{'searchFlag':'animated fadeOutLeft'}">
            <i class="icon ion-ios-search placeholder-icon"></i>
            <i class="icon ion-ios-close" ng-show="spareDesc.length>0" ng-click="initSearch()"></i>
            <input id="searchSpareId" type="text" placeholder="请输入备件描述" ng-model="spareDesc" ng-change="initLoad()">
            <i class="button button-clear" ng-click="cancelSearch()">取消</i>
        </div>
    </ion-header-bar>
    <ion-content class="has-header search " ng-show="searchFlag">
        <!--<div class="row row-center his-title" ng-if="!spareDesc">-->
            <!--<i class="ion-android-time"></i>-->
            <!--<div class="hisText">历史记录</div>-->
            <!--<div class="horizon-line"></div>-->
        <!--</div>-->
        <!--<ion-list ng-if="!spareDesc">-->
            <!--<ion-item ng-click="search(x,$event)" ng-repeat="x in data">{{x}}</ion-item>-->
        <!--</ion-list>-->
        <div class="divContent" ng-repeat="x in spareList1">
             <div class="row row-center ">
                <div class="col col-5">
                    <img ng-src="img/car/Oval.png">
                </div>
                <div class="col col-center">
                    <span class="spareName"><div ng-bind-html="x.spareName | highlight:spareDesc"></div>
                    </span>
                </div>
             </div>
            <div class="row row-center">
                <div class="col col-5"></div>
                <div class="col col-50 col-center">
                    备件编码:
                    <span>{{x.spareNum}}</span>
                </div>
                <div class="col col-45 col-center">
                    标准使用数量:
                    <span>{{x.count}}</span>
                </div>
            </div>
            <div class="row row-center">
                <div class="col col-5"></div>
                <div class="col col-51 col-center">
                    质保:
                    <span>{{x.qualityTime}}</span>
                </div>
                <div class="col col-44 col-center">
                    <span>{{x.qualityDate}}</span>
                </div>
            </div>
        </div>
        <div class="row row-center rowType" style="text-align: center">
            <div class="col col-100 col-center">
                <span ng-click="spare1()" ng-show="buttonShow">点击加载更多</span>
                <span ng-hide="buttonShow">无更多数据显示</span>
            </div>
        </div>
    </ion-content>
    <ion-content has-bouncing="false"  ng-show="!searchFlag">
        <div class="divContent" ng-repeat="spare in spareList">
            <div class="row row-center">
                <div class="col col-5">
                    <img ng-src="img/car/Oval.png">
                </div>
                <div class="col col-center">
                    <span class="spareName">{{spare.spareName}}</span>
                </div>
            </div>
            <div class="row row-center">
                <div class="col col-5"></div>
                <div class="col col-50 col-center">
                    备件编码:
                    <span>{{spare.spareNum}}</span>
                </div>
                <div class="col col-45 col-center">
                    标准使用数量:
                    <span>{{spare.count}}</span>
                </div>
            </div>
            <div class="row row-center">
                <div class="col col-5"></div>
                <div class="col col-51 col-center">
                    质保:
                    <span>{{spare.qualityTime}}</span>
                </div>
                <div class="col col-44 col-center">
                    <span>{{spare.qualityDate}}</span>
                </div>
            </div>
        </div>
        <div class="row row-center rowType" style="text-align: center">
            <div class="col col-100 col-center">
                <span ng-click="spare()" ng-show="buttonShow1">点击加载更多</span>
                <span ng-hide="buttonShow1">无更多数据显示</span>
            </div>
        </div>
    </ion-content>
</ion-view>