<ion-view ng-init="tabs.name='main'">
    <div ng-include="'src/main/main.html'" ng-if="tabs.name=='main'" ng-controller="MainCtrl"></div>
    <div ng-include="'src/applications/applications.html'" ng-if="tabs.name=='app'" ng-controller="AppCtrl"></div>
    <div ng-include="'src/applications/applications.html'" ng-if="tabs.name=='mainww'"></div>
    <div ng-include="'src/applications/applications.html'" ng-if="tabs.name=='mawein'"></div>
    <div class="bar bar-footer">
        <div class="tabs tabs-icon-top">
            <a class="tab-item" ng-click="tabs.name = 'main'"><i class="icon ion-home"></i>
                Home
            </a>
            <a class="tab-item" ng-click="tabs.name = 'app'"><i class="icon ion-star"></i>
                Favorites
            </a>
            <a class="tab-item" ui-sref="test"><i class="icon ion-gear-a"></i>
                Settings
            </a>
            <a class="tab-item" ui-sref="userQuery"><i class="icon ion-gear-a"></i>
                Settings
            </a>
        </div>
    </div>
</ion-view>
