<ion-view class="myTab">
    <div ng-include="'src/main/main.html'" ng-show="tabs[0].isActive" ng-controller="MainCtrl"></div>
    <div ng-include="'src/applications/applications.html'" ng-if="tabs[1].isActive" ng-controller="AppCtrl"></div>
    <div ng-include="'src/contacts/contactQuery.html'" ng-show="tabs[2].isActive" ng-controller="contactQueryCtrl"></div>
    <div ng-include="'src/applications/applications.html'" ng-show="tabs[3].isActive"></div>
    <div class="bar bar-footer">
        <div class="tabs tabs-icon-top">
            <div class="tab-item ink" ng-repeat="tab in tabs" ng-click="clickTab(tab)"
                 ng-class="tab.isActive?'backColor-on':'backColor-off'">
                <i class="icon main-on" ng-class="tab.isActive?tab.onClass:tab.offClass"></i>
                {{tab.name}}
            </div>
        </div>
    </div>
</ion-view>
