<ion-content class="apps has-footer" ng-class="isAndroid?'':'animate-fade-slide-in'" has-bouncing="false" scrollbar-y="false">
    <!--<ion-slide-box>-->
        <!--<ion-slide>-->
            <ion-list>
                <div class="row row-wrap">
                    <ion-item class="col-33" ng-repeat="img in imgs1">
                        <img ng-click="go(img)" ng-src="{{img.url}}">
                    </ion-item>
                </div>
            </ion-list>
        <!--</ion-slide>-->
    <!--</ion-slide-box>-->
    <img class="cancel" src="img/apps/cancel.png" ng-click="returnToMain()">
</ion-content>