<ion-view class="relationship_list">
        <div class="employeecustomer_head">
            <div class="employeecustomer_headtitle">
                <div style="width:40px;height:40px;position: absolute;top: 5px;left: 5px;" ng-click="goBack()">
                    <i class="icon ion-ios-arrow-back publicheadtitlei"></i>
                </div>
                <span class="employeecustomer_headtitlespan" style="padding-left:40px">王雨薇</span>
                <img class="employeecustomer_headtitleimg" src="img/employee/increase@2x.png"/>
            </div>
        </div>
    <ion-content style="margin-top:50px">
        <ion-list>
            <ion-item class="employee_customerlist" style="border-bottom: 1px solid #ddd;margin-top:1px;" ng-repeat="x in contact_relationship" on-swipe-right="RelaotinHidd()">
                <div class="row">
                    <div class="col col-6" style="text-align: left;margin-top:1px;margin-left:8px">
                        <div class="contact_query_listcicle" ng-class="{contact_query_listcicleA: !$odd, contact_query_listcicleB: !$even}"></div>
                    </div>
                    <div class="col col-20" style="text-align:left;margin-top:1px">
                        <span style="vertical-align: middle">{{x.name}}</span>
                    </div>
                    <div class="col col-74" style="text-align:center;">
                        <span style="vertical-align: middle">{{x.role}}</span>
                    </div>
                </div>
                <ion-option-button style="width:30px;text-align: center" class="button-assertive">
                    <i class="icon ion-ios-trash-outline" style="font-size: 50px;"></i>
                </ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>


