.relationship_list{
  .contact_query_listcicle{
    width:14px;
    height:14px;
    vertical-align: middle;
    display: inline-block;
    border-radius:50%;
  }
  .contact_query_listcicleA{
    border: 2px solid #9EC92A;
  }
  .contact_query_listcicleB{
    border: 2px solid #008CCF;
  }
  .item-content{
    padding: 0;
  }
  .item-options .button{
    padding:10px 10px 10px 16px;
    margin-top:1px;
    //height:52px;
  }
  .button .icon:before{
    font-size:35px;
  }
}
