<ion-view canClickEnterListMode id="ws-baogong-create-view" class="ws-baogong-view"  align-title="center">
	
    <div class="saleList">
        <ion-header-bar align-title="center" class="head pub-head">
            <div class="row row-center" style="padding-left: 0px;padding-right: 0px;">
                <a class="col col-15 text-left goBack" ng-click="goBack()">取消</a><!--i class="ion-chevron-left"></i-->
                <div class="col col-68 text-center">创建报工单</div>
                <div class="col col-15" ng-click="createBaoWS();"><span>确定</span></div>
            </div>
        </ion-header-bar>
    </div>
    
    <ion-content id="ws-baogong-create-content"  class="has-header" scroll="false" has-bouncing="false">
        <div class="basic-info commment-info-lines">
                <div class="crm-line-title word-2">
                    <div class="title-top">
                        <span >基本信息</span>
                        <span class="line"></span>
                    </div>
                    <span class="title-bottom"></span>
                </div>
                <div class="row">
                    <div class="col-40">报工单类型:</div>
                    <div class="col-60" ng-bind="datas.defaultDetail.TYPE_DESC"></div>
                </div>
                <div class="row row-input">
                    <div class="col-40">简单描述:</div>
                    <div class="col-60">
                        <input type="text" ng-model="datas.defaultDetail.BAO_DESCRIPTION">
                    </div>
                </div>
                <div class="" style="margin-right:0px;margin-top:.2rem;margin-left: 1rem;">
                    <div class="" style="margin-right:0px;">备注&nbsp;:</div>
                    <div>
                        <textarea id="textarea_bao_beizhu" placeholder="请添加备注" style="width: 100%; padding: 15px; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(214, 211, 206); color: rgb(160, 160, 159); resize: none; height: 63px;" ng-model="datas.defaultDetail.BAO_BEIZHU" class="ng-pristine ng-valid ng-touched"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-40">状态:</div>
                    <div class="col-60" ng-bind="datas.defaultDetail.STATU_DESC" ng-class="{
                                            'stat-new':(datas.defaultDetail.STATU=='E0001'),
                                            'stat-sendedworker':(datas.defaultDetail.STATU=='E0002'),
                                            'stat-refused':(datas.defaultDetail.STATU=='E0003'),
                                            'stat-handing':(datas.defaultDetail.STATU=='E0004'),
                                            'stat-reported':(datas.defaultDetail.STATU=='E0005'),
                                            'stat-finished':(datas.defaultDetail.STATU=='E0006'),
                                            'stat-revisited':(datas.defaultDetail.STATU=='E0010'),
                                            'stat-audited':(datas.defaultDetail.STATU=='E0007'),
                                            'stat-returned':(datas.defaultDetail.STATU=='E0008'),
                                            'stat-cancled':(datas.defaultDetail.STATU=='E0009'),
                                            'stat-audited-out':(datas.defaultDetail.STATU=='E0011')}"></div>
                </div>
                <div class="row">
                    <div class="col-40">服务工单:</div>
                    <div class="col-60" ng-bind="datas.defaultDetail.DESCRIPTION"></div>
                </div>
                <div class="row">
                    <div class="col-40">外服人员:</div>
                    <div class="col-60" ng-bind="datas.defaultDetail.WAIFU_EMP.NAME1"></div>
                </div>
            </div>
    </ion-content>
    
</ion-view>