<ion-view view-title="Login" align-title="left" >
    <ion-content class="login" style="background: url(img/login/login_bg@3x.png) center; background-size: cover;">
        <div class="login_bg">
            <img src="img/login/bg_logo.png" style=" width:240px;height:55px;">
        </div>
        <form  ng-submit="login()" style="position: relative">
            <img class="login_contentimg login_contentuserimg" src="img/login/user@2x.png" alt=""/>
            <input class="login_content login_contentuser" id="username" type="text" placeholder="请输入用户名" ng-model="loginData.username">

            <img class="login_contentimg login_contentpassimg" src="img/login/lock@2x.png" style="" alt=""/>
            <input class="login_content login_contentpass" id="password" type="password" placeholder="请输入密码" ng-model="loginData.password">

            <img ng-if="logindeleteimgflag" id="cls" class="login_contentdeleimg" src="img/login/delete@2x.png" ng-click="deletepass()" alt=""/>
        <!--</form>-->
        <div class="login_radiosele" ng-click="loginradioSele()">
            <img ng-show="loginradioimgflag" class="login_radioseleimg"src="img/login/remuseroutline@2x.png" alt=""/>
            <img ng-show="!loginradioimgflag" class="login_radioseleimg"src="img/login/remuserfill@2x.png" alt=""/>
            <span class="login_radioselerem">记住密码</span>
        </div>
        <div>
            <button class="login_button">登陆</button>
        </div>
        </form>
    </ion-content>
</ion-view>

