<ion-view canClickEnterListMode id="signin-view" class="" align-title="center">
    <div class="saleList">
        <ion-header-bar align-title="center" class="head pub-head">
            <div class="row row-center" style="padding-left: 0px;padding-right: 0px;">
                <a class="col col-15 text-left goBack" ng-click="goBack()">
                    取消
                </a>
                <div class="col col-70 text-center">新建签到</div>
                <div class="col col-15" ng-click="saveNewSingin();">保存</div>
            </div>
        </ion-header-bar>
    </div>
    <ion-content id="xbr-signin-list-content"  class="has-header" style="" scroll="false" has-bouncing="false">
        
        新建签到

    </ion-content>
</ion-view>