<ion-view class="saleActDetail">
    <div class="top-back absolute animated fadeIn" style="height: 75px;background: none"
         ng-class="!TitleFlag?'fadeOut':''" ng-show="TitleFlag">
        <div class="row row-center title">
            <div class="col col-15" ng-click="goBack()"><i class="ion-chevron-left"></i></div>
            <div class="col col-70 text-center">活动详情
                <div style="font-size: 10px">{{details.title}}</div>
            </div>
            <div class="col col-15 text-right" ng-click="openFollow()">后续</div>
        </div>
    </div>
    <div class="top-back absolute top-back2" ng-show="showTitleStatus">
        <div class="row row-center title" style="padding-bottom: 0">
            <div class="col col-15" ng-click="goBack()"><i class="ion-chevron-left"></i></div>
            <div class="col col-70 text-center">活动详情
                <div style="font-size: 10px">{{details.title}}</div>
            </div>
            <div class="col col-15 text-right" ng-click="openFollow()">后续</div>
        </div>
        <div class="selector">
            <div class="detail" ng-class="{checked:select}" ng-click="changeStatus(true)">详细信息</div>
            <div class="relative" ng-class="{checked:!select}" ng-click="changeStatus(false)">相关方</div>
        </div>
    </div>
    <ion-content class="has-footer" has-bouncing="false" on-scroll="onScroll()" scrollbar-y="false">
        <div id="saleTopBackId" class="top-back">
            <div class="row row-center title" ng-class="TitleFlag?'animated fadeOut':'animated fadeIn'">
                <div class="col col-15" ng-click="goBack()"><i class="ion-chevron-left"></i></div>
                <div class="col col-70 text-center">活动详情</div>
                <div class="col col-15 text-right" ng-click="openFollow()">后续</div>
            </div>
            <div class="mainInfo">
                <div class="row row-center" ng-class="TitleFlag?'animated fadeOut':'animated fadeIn'">
                    <!--<i class="ion-android-radio-button-off"></i>-->
                    <img class="title_oval" src="img/saleDetail/title_oval.png">
                    <!--<div>郑州金龙客车(福州)客户拜访</div>-->
                    <input type="text" ng-model="details.title"  ng-readonly="!isEdit" ng-class="{'border-bottom-white':isEdit}">
                </div>
                <div class="row row-center" ng-class="customerFlag?'animated fadeOut':'animated fadeIn'">
                    <div class="col col-16">客户:</div><input type="text" ng-model="details.customer" ng-readonly="!isEdit" ng-class="{'border-bottom-white':isEdit}">
                </div>
                <div class="row row-center" ng-class="placeFlag?'animated fadeOut':'animated fadeIn'">
                    <div class="col col-16">地点:</div>
                    <input type="text" ng-model="details.place" ng-readonly="!isEdit" ng-class="{'border-bottom-white':isEdit}">
                </div>
                <div class="row row-center" ng-class="{'animated fadeOut':typeFlag,'animated fadeIn':!typeFlag}">
                    <div class="col col-16">类型:</div>
                    <input type="text" ng-model="details.type" style="border: none;" readonly>
                </div>
                <div class="row row-center" ng-class="statusFlag?'animated fadeOut':'animated fadeIn'">
                    <div>状态:</div>
                    <select ng-class="{'border-bottom-white':isEdit}" ng-model="mySelect.status" ng-disabled="!isEdit"
                            ng-options="x as x.value for x in statusArr" style="{{'color:'+mySelect.status.color}}">{{mySelect.status}}</select>
                    <div class="num">{{'NO.'+details.saleNum}}</div>
                    <div class="edit" ng-click="edit()"><img src="img/saleDetail/edit.png" ng-if="!isEdit">{{editText}}</div>
                </div>
            </div>
            <div class="selector">
                <div class="detail" ng-class="{checked:select}" ng-click="changeStatus(true)">详细信息</div>
                <div class="relative" ng-class="{checked:!select}" ng-click="changeStatus(false)">相关方</div>
            </div>
        </div>

        <div class="content" id="saleContentId">
            <!--详细信息-->
            <div ng-show="select">
                <div class="row">
                    <div class="col-15">注释:</div>
                    <textarea rows="3" ng-readonly="!isEdit">{{details.annotation}}</textarea>
                </div>
                <div class="row" style="padding-right: 0;">
                    <div class="row row-center">
                        <div class="col">
                            <div class="row">
                                <div class="col-30 text-left">开始时间:</div>
                                <div class="text col-70 startTime" ng-click="selectTime('start')">{{details.de_startTime}}
                                    <i class="ion-arrow-down-b"></i></div>
                            </div>
                            <div class="row endTime">
                                <div class="col-30 text-left">结束时间:</div>
                                <div class="text col-70" ng-click="selectTime('end')">{{details.de_endTime}}
                                    <i class="ion-arrow-down-b"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" ng-click="openRefer()">
                    <div class="row row-center">
                        <div class="col col-85 col-center">
                            <div class="row">
                                <div class="col-30 text-left">参考:</div>
                                <div class="text col-70 underline">{{details.refer}}</div>
                            </div>
                        </div>
                        <div class="col col-15 text-right rewrite"><img src="img/saleDetail/Shape.png"></div>
                    </div>
                </div>
                <div class="progress">
                    <div class="row">进展:</div>
                    <div class="obj own-animated zoomInRight" ng-repeat="x in details.progressArr">
                        <div class="row row-center">
                            <img class="oval" src="img/saleDetail/oval.png">

                            <div class="triAngle">
                                <div class="text">{{x.content}}</div>
                            </div>
                        </div>
                        <div class="row row-center timeRow">
                            <div class="time">{{x.time}}</div>
                            <div class="hr-line"></div>
                        </div>
                    </div>
                </div>

            </div>
            <!--相关方-->
            <div id="relativeId" class="relative" ng-show="!select">
                <div class="row" ng-repeat="x in details.relations" on-hold="showActionSheet(x)">
                    <div class="col">{{x.name}}&nbsp;&nbsp;{{x.sex}}</div>
                    <div class="col text-center position">{{x.position}}</div>
                </div>
                <div class="row row-center add" ng-if="isEdit"><div class="col" ng-click="openRelations()"><i class="ion-ios-plus-outline"></i>添加相关方</div></div>
            </div>
        </div>
    </ion-content>
    <div class="bar bar-footer content">
        <div class="submit">
            <div class="row row-center">
                <div class="col col-82 no-padding">
                    <div class="input"><input type="text" ng-model="input.progress"/></div>
                </div>
                <div class="col col-18 no-padding" ng-click="submit()">
                    <button>提交</button>
                </div>
            </div>
        </div>
    </div>
</ion-view>
