<ion-view class="saleList">
    <!--<div class="bar header"><button ng-click="goBack()">返回</button></div>-->
    <ion-header-bar align-title="center" class="head">
        <div class="row row-center" ng-if="!searchFlag">
            <a class="col col-15 text-center" ng-click="goBack()"><i class="ion-chevron-left"></i></a>
            <div class="col col-70 text-center">销售活动列表</div>
            <div class="col col-15 text-center"><i class="ion-search"></i></div>
        </div>
        <div class="row row-center" ng-if="searchFlag">
            <div class="col col-80">
                <i class="icon ion-ios-search placeholder-icon"></i>
                <input type="text" placeholder="请输入活动关键字">
            </div>
            <div class="col col-20 text-center cancel">取消</div>
        </div>
    </ion-header-bar>

    <ion-content class="has-header">
        <div class="content" ng-if="!searchFlag">
            <div class="list">
                <a ui-sref="saleActDetail" class="item">
                    <div class="row row-center">
                        <img class="title_oval" src="img/saleDetail/title_oval.png">
                        <div class="title">福州龙福汽车交流活动</div>
                        <div class="col text-right"><img class="shape" src="img/saleDetail/Shape.png"></div>
                    </div>
                    <div class="row row-center sub-title">
                        <div class="startText">开始日期:&nbsp;&nbsp;</div>
                        <div class="startDate">2016-3-9</div>
                        <div class="type">类型:&nbsp;&nbsp;</div>
                        <div class="typeValue">业务交流</div>
                        <div class="col status">处理中</div>
                    </div>
                </a>
            </div>
        </div>

        <div class="search" ng-if="searchFlag">
            <div class="row row-center his-title">
                <i class="ion-android-time"></i>
                <div class="hisText">历史记录</div>
                <div class="horizon-line"></div>
            </div>
        </div>
    </ion-content>
</ion-view>
