<ion-view class="customerContacts_Query">
    <div class="saleList">
        <ion-header-bar align-title="center" class="head pub-head">
            <div class="row row-center">
                <a class="col col-15 text-left goBack" ng-click="goBack()"><i class="ion-chevron-left"></i></a>
                <div class="col col-70 text-center">联系人</div>
                <div class="col col-20" style="text-align: center">
                    <i class="icon ion-more" style="font-size: 30px;" ng-click="customerContactsopenpopv()"></i>
                </div>

            </div>
        </ion-header-bar>
    </div>
    <ion-content>
        <ion-list>
            <ion-item class="employee_customerlist" style="border-bottom: 1px solid #ddd;margin-top:1px;padding-bottom:1px" ng-repeat="x in customerContacts_query_list" ng-click="customercontactsgoDetail(x)">
                <div class="row">
                    <div class="col col-6" style="text-align: left;margin-top:1px;margin-left:8px">
                        <div class="customerContacts_query_listcicle"></div>
                    </div>
                    <div class="col col-40" style="text-align:center;margin-top:1px">
                        <span style="vertical-align: middle">{{x.NAME_LAST}}</span>
                    </div>
                </div>
                <ion-option-button style="width:30px;text-align: center" class="button-assertive">
                    <i class="icon ion-ios-trash-outline" style="font-size: 50px;"></i>
                </ion-option-button>
            </ion-item>
        </ion-list>
        <ion-infinite-scroll on-infinite="customercontactLoadmore()" ng-if="customercontactisshow"></ion-infinite-scroll>
    </ion-content>
</ion-view>


