<style>
    .relate_selec {
        text-align: center;
        font-size:14px;
        position: relative;
        float: right;
        top:60px;
        left:0;
        margin-right:5px;
        z-index: 10;
        display: block;
        margin-top: 12px;
        margin-left:0;
        height: 100px;
        width: 180px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 1px 3px rgba(0,0,0,.4);
        opacity: 0;
    }
    .platform-ios .relate_seleciosh{
        top:80px;
    }
    .customer_up {
        width: 20px;
        position: absolute;
        right: 8px;
        top: -9px;
    }
</style>
<ion-popover-view class="relate_selec relate_seleciosh"  style="left: 0;margin-top: 0px;background-color: white">
    <img src="img/customer/sanjiao.png" class="customer_up customer_seleciosr"></img>
    <ion-content style="border-radius:10px">
        <div ng-repeat="types in related_types track by $index" ng-click="relatedqueryType(types)" style="height:41px">
            <ion-item style="padding:10px;border:none;color: #9B9B9B;font-size:14px;background-color:white;margin:0">
                {{types}}
            </ion-item>
            <div style="width:80%;height: 1px;background-color: #9B9B9B;margin-left:10%"></div>
        </div>
    </ion-content>
</ion-popover-view>'