 //#worksheet-baogong-list-view{
 .ws-baogong-view-public{
 	.left-back{
 		font-size: 2rem;
 		@include display-flex;
 		@include align-items(center);
 		@include justify-content(center);
 		width: 2rem;
 	} 
 	.baogong-list{ 
		.baogong-item{
			display: block;
			width: 100%;
			padding: .6rem .8rem;
			border-bottom: 1px solid rgb(202,202,202);
			.title-top{
				display: block;
				width: 100%;				
				span{
					margin-left: .4rem;
					font-size: 1rem;
				}
			}
			.title-icon{
				display: inline-block;
				height: 12px;
				width: 12px;
				border: 2px solid rgb(154,199,54);
				border-radius: 12px;
			}
			.desc{
				@include display-flex;
				width: 100%;
				color: rgb(202,202,202);
				font-size: .8rem;
				span{
					margin-left: .4rem;
				}
			}
		}
		&.edit-price-mode{
            .baogong-item{
                @include display-flex;
                // @include align-items(center);
                // @include justify-content(center);
                height: 6.4rem;
                .left-outer{
                	@include flex(3);
	                .top-from-left{
						height: 2rem;
					    font-size: 1rem;
					    line-height: 2rem;
					    font-weight: bolder;
					    @include single-line-ellipsis;
	                }
	                .center-from-left{
						height: 1.5rem;
    					line-height: 1.5rem;
    					color: #A29D9D;
    					@include single-line-ellipsis;
	                }
	                .bottom-from-left{
	                	height: 1.5rem;
    					line-height: 1.5rem;
    					color: #A29D9D;
    					@include single-line-ellipsis;
	                }
	            }
	            .right-outer{
	            	//@include flex(2);
	            	width: 10rem;
    				min-width: 10rem;
	                .top-from-right{
						height: 2.5rem;
    					line-height: 2.5rem;
    					.right-inner{
    						position: absolute;
    						display: inline-block;
    					}
    					.left-inner{
    						display: inline-block;
    					}
	                }
	                .bottom-from-right{
	                	height: 2.5rem;
    					line-height: 2.5rem;
	                }
	                .item-toggle{
	                	top: 0px;
					    right: 0px;
					    left: 0px;
					    position: inherit;
	                }
	            }
            }
        }
	}
	.xbr-my-ion-toggle{
		padding-top: 3px;
	    min-width: 1rem;
	    width: 1rem;
	    overflow: hidden;
	    border: 0px;
	    display: inline-block;
	    padding-bottom: 0px;
	    padding-left: 5px;
	    padding-right: 40px;
	    position: relative;
    	top: .6rem;
	}
	.baogong-btns-col{
		width: 9rem;
	    font-size: .9rem;
	    margin-top: -4px;
	    @include display-flex;
	    @include flex-direction(column);
		@include justify-content(space-between);
		@include align-items(center);
	}
	.price-edit-box{
		@include display-flex;
		@include justify-content(center);
		@include align-items(center);
        height: 2rem;
        width: 6rem;
        .left, .right{
            width: 1.5rem;
            min-width: 1.5rem;
    		text-align: center;
    		font-size: 1.3rem;
    		color: #2B60AB;
        }
        .center{
            //@include flex(1);
            input{
            	width: 5rem;
    			text-align: center;
            }
        }
    }
 }