<ion-view  id="worksheet-baogong-list-view" class="ws-baogong-view-public" align-title="center">
    <div class="saleList">
        <ion-header-bar align-title="center" class="head pub-head">
            <div class="row row-center">
                <a class="col col-15 text-left goBack" ng-click="goBack()" ng-if="!config.isEditPrice && !config.isEditDetail">
                    <i class="ion-chevron-left"></i>
                </a>
                <a class="col col-15 text-left goBack" ng-click="editCancel()" ng-if="config.isEditPrice || config.isEditDetail">
                    <span>取消</span>
                </a>
                <div class="col col-60 text-center" ng-bind="config.title"></div>
                <div class="col col-15 add" ng-if="!config.isBaoWS"><span></span></div>
                <div class="col col-15 add" ng-click="editOk();" ng-if="config.isEditPrice || config.isEditDetail">
                    <span>确定</span>
                </div>
                <div class="baogong-btns-col" ng-if="config.isBaoWS && !config.isEditPrice && !config.isEditDetail">
                    <span ng-click="enterDetailEditMode();" ng-if="canShowEditBtns();">重新维护</span>
                    <span ng-click="enterPriceEditMode();" ng-if="canShowEditBtns();">维护价格</span>
                </div>
            </div>
        </ion-header-bar>
    </div>
    <ion-content scroll="true" has-bouncing="false"> 
            <style>
                .baogong-list .bu-shou-fen{
                    color: red;
                    min-width: 4rem;
                }
                .baogong-list .shou-fen{
                    color: green;
                    min-width: 4rem;
                }
            </style>
            <div class="no-datas-tip" style="font-size:.8rem;height:3rem;line-height:3rem;text-align:center;color:#A79E9E;" ng-if="config.noDatas">
                <span ng-bind="config.currentTip"></span>
            </div>
            
            <div class="baogong-list" ng-if="!config.isEditPrice && !config.isEditDetail">
                <div class="baogong-item price-edit" ng-class="{'animated flipInX':itemAnimatedShow}" ng-init="itemAnimatedShow=true" ng-repeat="item in datas.baogongDatas">
                    <div class="title-top">
                        <div class="title-icon"></div>
                        <span ng-bind="item.DESCRIPTION"></span>
                    </div>
                    <div class="desc">
                        <div class="col-50">
                            产品编码:<span ng-bind="item.ORDERED_PROD"></span>
                        </div>
                        <div class="col-15">
                            <span ng-bind="item.ACIND_DESCR_20" ng-class="{'shou-fen':(item.AC_INDICATOR=='D2'),'bu-shou-fen':(item.AC_INDICATOR=='D1')}"></span>
                        </div>
                        
                        <div class="col-35">
                            数量: <span ng-bind="item.QUANTITY"></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="baogong-list edit-price-mode" ng-if="config.isEditPrice && config.isBaoWS">
                <div class="baogong-item" ng-class="{'animated flipInX':itemAnimatedShow}" ng-init="itemAnimatedShow=true" ng-repeat="item in datas.baogongDatas">
                    <div class="left-outer">
                        <div class="top-from-left">
                            <div class="title-icon"></div>
                            <span ng-bind="item.DESCRIPTION"></span>
                        </div>
                        <div class="center-from-left">
                            产品编码:<span ng-bind="item.ORDERED_PROD"></span>
                        </div>
                        <div class="bottom-from-left">
                            标准价格:<span ng-bind="item.XBR_ZPR1"></span>
                            客户折扣:<span ng-bind="item.XBR_ZPD2"></span>
                        </div>
                    </div>
                    <div class="right-outer">
                        <div class="top-from-right">
                            <div class="left-inner">数量<span ng-bind="item.QUANTITY"></span></div>
                            <div class="right-inner">
                                收费
                                <label class="toggle xbr-toggle-2 toggle-calm disable-user-behavior">
                                    <input type="checkbox" ng-model="item.AC_INDICATOR_XBR" ng-true-value="'D2'" ng-false-value="'D1'" class="ng-pristine ng-untouched ng-valid">
                                    <div class="track">
                                        <div class="handle"></div>
                                    </div>
                                </label>
                                <!--ion-toggle class="xbr-my-ion-toggle" ng-model="item.AC_INDICATOR" toggle-class="toggle-calm" ng-true-value="D1" ng-false-value="D2" style="padding-left: 6px;padding-top: 3px;"></ion-toggle-->
                            </div>
                        </div>
                        <div class="bottom-from-right">
                            <div class="price-edit-box">
                                <div class="left" ng-click="detailLowerOne(item);">
                                    <i class="ion-ios-minus-outline"></i>
                                </div>
                                <div class="center">
                                    <input type="number" ng-model="item.XBR_NEW">
                                </div>
                                <div class="right" ng-click="detailAddOne(item);">
                                    <i class="ion-ios-plus-outline"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>         
            </div>
            
            <div class="baogong-list edit-detail-mode" ng-if="config.isEditDetail && config.isBaoWS">
                <div class="baogong-item" ng-class="{'animated flipInX':itemAnimatedShow}" ng-init="itemAnimatedShow=true" ng-repeat="item in datas.baogongDatas">
                    <div class="title-top">
                        <div class="title-icon"></div>
                        <span ng-bind="item.DESCRIPTION"></span>
                    </div>
                    <div class="desc">
                        <div class="col-65">
                            <div>产品编码:<span ng-bind="item.ORDERED_PROD"></span></div>
                            <div>申请数量:<span ng-bind="item.QUANTITY"></span></div>
                        </div>
                        <div class="col-35">
                            <div class="price-edit-box">
                                <div class="left" ng-click="detailLowerOne(item);">
                                    <i class="ion-ios-minus-outline"></i>
                                </div>
                                <div class="center">
                                    <input type="number" ng-model="item.QUANTITY_XBR">
                                </div>
                                <div class="right" ng-click="detailAddOne(item);">
                                    <i class="ion-ios-plus-outline"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>    
            </div>
            
    </ion-content>

</ion-view>