#worksheet_relatedPart{

  ion-header-bar{
    font-size: 16px;
    font-weight:bold ;
    background-color: $crm-subject-blue;
    .rowTitle{
      margin-right: 0px;
      margin-left: 0px;
    }
  }
  ion-content{
    //background-color: $crm-content-bgcolor;
    @include display-flex;
    @include flex-direction(column);

  }
  .deleteButt{
    background-color:#EA0000;width: 60%;margin-left: 20%;border-radius: 10px;color:white;font-weight: bold;font-size: 17px;
  }
  .relatedPart_list{
    font-size: 16px;
    color: #4A4A4A;
    .relatedPart_listcicle{
      width:14px;
      height:14px;
      vertical-align: middle;
      display: inline-block;
      border-radius:50%;
    }
    .relatedPart_listcicleA{
      border: 2px solid #9EC92A;
    }
    .relatedPart_listcicleB{
      border: 2px solid #008CCF;
    }
    .relatedPart_listimg{
      vertical-align: baseline;
      width:14px;
      height:14px;
    }
    .relatedPart_listfor{
      width:20px;
      height:18px;
      vertical-align: middle;
    }
  }

  .relatedPart_listline{
    width: 100%;
    height: 1px;
    background-color: #D2D2D2;
  }
}