#worksheet_faultInfos{

  ion-header-bar{
    background-color: $crm-subject-blue;
    .rowTitle{
      margin-right: 0px;
      margin-left: 0px;
    }
  }
  ion-content{
    //background-color: $crm-content-bgcolor;
    @include display-flex;
    @include flex-direction(column);
    .active{

    }
    .inactive{

    }
  }
  .contentAll{
    position: relative;
    top: 4em;
  }
  .itemContent{
    background-color: white;
    margin-top: 1px;
    margin-bottom: 1px;
    padding: 6px 10px 4px 10px;
    height: 46px;
    line-height: 30px;
    font-size: 1.0rem;
    border-bottom: 1px solid #D6D3CE;
  }
  .itemContentS{
    background-color: white;
    margin-top: 1px;
    margin-bottom: 1px;
    padding: 6px 10px 4px 10px;
    height: 30px;
    line-height: 30px;
    font-size: 1.0rem;
  }

  .itemContentT{
    background-color: white;
    margin-top: 1px;
    margin-bottom: 1px;
    padding: 6px 10px 4px 10px;
    height: 80px;
    line-height: 30px;
    font-size: 1.0rem;
    border-bottom: 1px solid #D6D3CE;
  }
  .labelInput{
    padding: 0 0 0 0;
  }
  .textareaCss{
    width: 100%;
    height: 60px;
  }

.fontColor{
  color: #A0A09F
}

  .selectC {
    border: solid 0px white;
    width: 100%;
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
    background-color: white;
    //background: url("../../img/worksheetReported/sanjiao.png") no-repeat scroll right center transparent;
    position:relative;left:0px;top:-2px;font-size:15px;line-height:24px;border:0px;color:#909993;
    padding-right: 14px;
  }
  .box{border:0px solid #C0C0C0;
    width:100%;
    height:100%;
    clip:rect(0px,181px,18px,0px);
    overflow:hidden;}
  .box2{border:0px solid #F4F4F4;
    width:100%;
    height:100%;
    clip:rect(0px,179px,16px,0px);
    overflow:hidden;}



  .Car_countentbasic{
    position: relative;
    font-size:15px;
    color:#406FB3;
    top:1.0em;
    font-weight: 600;
    .Car_countentbasicinfo{
      position: absolute;
      top:0px;
      left: 20px;
    }
    .Car_countentbasicline{
      position: absolute;
      top:10px;
      left: 85px;
      width: 100%;
      height:1px;
      background-color: #406FB3;
    }
    .Car_countentbasicclok{
      position: absolute;
      top:15px;
      margin-top: 2px;
      left:0px;
      width:55px;
      height:15px;
      border: 1px solid #406FB3;
      border-top: none;
      border-left: none;
    }
  }
}