
<ion-view  id="worksheet_faultInfos"  align-title="center">
    <ion-header-bar align-title="center" class="bar-positive" >
        <div class="row row-center title rowTitle">
            <div class="col col-15 text-left"  ng-click="goBack()"><i class="ion-chevron-left" style="font-size:1.8rem;position: relative;top:5px"></i></div>
            <div class="col col-70 text-center">故障信息维护
            </div>
            <div class="col col-15 text-right" ng-click="keep()">保存</div>
        </div>
    </ion-header-bar>
    <ion-content>
        <div class="Car_countentbasic">
            <div class="Car_countentbasicinfo">故障信息</div>
            <div class="Car_countentbasicline"></div>
            <div class="Car_countentbasicclok"></div>
        </div>
        <div class="contentAll">
            <div class="row itemContent row-center">
                <div class="col-38 col-center">故障发生场景：</div>
                <div class="col-62 col-center">
                    <select class="selectC" ng-model="config.scenarioItem"  ng-options="impact.SCENARIO as impact.DESCRIPTION for impact in scenario">
                        <option selected value="">--请选择--</option>
                    </select>
                </div>
            </div>

            <div class="row itemContent row-center">
                <div class="col-38 col-center">责任方：</div>
                <div class="col-62 col-center">
                    <select class="selectC" ng-model="config.responseItem" ng-options="impact.RESPONSE as impact.DESCRIPTION for impact in response">
                        <option selected value="">--请选择--</option>
                    </select>
                </div>
            </div>

            <div class="row itemContent row-center">
                <div class="col-38 col-center">故障分类：</div>
            <div class="col-62 col-center">
                <select class="selectC" ng-model="config.defectItem" ng-options="impact.DEFECT as impact.DESCRIPTION for impact in defect">
                    <option selected value="">--请选择--</option>
                </select>
            </div>
            </div>

            <div class="row itemContent row-center">
                <div class="col-38 col-center">部件分类：</div>
                <div class="col-62 col-center">
                    <select ng-change="buJianFeiLenChanged();" class="selectC" ng-model="config.currentChanPinLeiXing" ng-options="cplx as cplx.COMP_TYPE for cplx in datas.chanPinLeiXingS">
                    </select>
                </div>
            </div>
            <div class="row itemContent row-center">
                <div class="col-38 col-center">部件：</div>
                <div class="col-62 col-center">
                    <select ng-change="buJianChanged();" class="selectC" ng-model="config.currentGuZhangBuJian" ng-options="gzbj as gzbj.COMPONENT for gzbj in datas.guZhangBuJianS">
                    </select>
                </div>
            </div>
            <div class="row itemContent row-center">
                <div class="col-38 col-center">故障原因：</div>
                <div class="col-62 col-center">
                    <select ng-model="config.currentGuZhangMingCheng" class="selectC" ng-options="gzmc as gzmc.REASON for gzmc in datas.guZhangMingChengS">
                    </select>
                </div>
            </div>
            <div class="row itemContentS row-center">
                <div class="col-38 ">注释：</div>
            </div>
            <div class="row itemContentT ">
                <div class="col col-center">
                    <textarea type="text"placeholder="请输入值" class="textareaCss" ng-model="otherInfos.remark" style="background-color: white;color: #A0A09F"></textarea>
                </div>
            </div>
            <div class="row itemContentS row-center">
                <div class="col-38 ">处理结果：</div>
            </div>
            <div class="row itemContentT ">
                <div class="col col-center">
                    <textarea type="text"placeholder="请输入读取描述" class="textareaCss" ng-model="otherInfos.result" style="background-color: white;color: #A0A09F;width: 100%"></textarea>
                </div>
            </div>
            </div>
    </ion-content>
</ion-view>