
<ion-view  id="worksheet_faultInfos"  align-title="center">
    <ion-header-bar align-title="center" class="bar-positive" >
        <div class="row row-center title rowTitle">
            <div class="col col-15 text-left"  ng-click="goBack()">取消</div>
            <div class="col col-70 text-center">故障信息
            </div>
            <div class="col col-15 text-right" ng-click="edit()">编辑</div>
        </div>
    </ion-header-bar>
    <ion-content>
        <div class="Car_countentbasic">
            <div class="Car_countentbasicinfo">故障信息</div>
            <div class="Car_countentbasicline"></div>
            <div class="Car_countentbasicclok"></div>
        </div>
        <div class="contentAll">
            <div class="row itemContent row-center">
                <div class="col-38 col-center">故障发生场景：</div>
                <div class="col-62 col-center fontColor" >
                    {{faulInfos.SCENARIO_DESC}}
                </div>
            </div>

            <div class="row itemContent row-center">
                <div class="col-38 col-center">责任方：</div>
                <div class="col-62 col-center fontColor">
                    {{faulInfos.RESPONSE_DESC}}
                </div>
            </div>

            <div class="row itemContent row-center">
                <div class="col-38 col-center">故障分类：</div>
            <div class="col-62 col-center fontColor">
                {{faulInfos.DEFECT_DESC}}
            </div>
            </div>

            <div class="row itemContent row-center">
                <div class="col-38 col-center">部件分类：</div>
                <div class="col-62 col-center fontColor">
                    {{faulInfos.COMP_TYPE}}
                </div>
            </div>
            <div class="row itemContent row-center">
                <div class="col-38 col-center">部件：</div>
                <div class="col-62 col-center fontColor">
                    {{faulInfos.COMPONENT}}
                </div>
            </div>
            <div class="row itemContent row-center">
                <div class="col-38 col-center">故障原因：</div>
                <div class="col-62 col-center fontColor">
                   {{faulInfos.REASON}}
                </div>
            </div>
            <div class="row itemContentT ">
                <div class="col-38 ">注释：</div>
                <div class="col-62 col-center fontColor">
                    <textarea type="text"placeholder=""  ng-model="otherInfos.remark" class="textareaCss" readonly style="background-color: white;color: #A0A09F"></textarea>
                </div>
            </div>
            <div class="row itemContentT ">
                <div class="col-38 ">处理结果：</div>
                <div class="col-62 col-center fontColor">
                    <textarea type="text" placeholder="" ng-model="otherInfos.result" class="textareaCss" readonly style="background-color: white;color: #A0A09F"></textarea>
                </div>
            </div>
            </div>
    </ion-content>
</ion-view>