
<ion-view  id="worksheet_faultInfos"  align-title="center">
    <ion-header-bar align-title="center" class="bar-positive" >
        <div class="row row-center title rowTitle">
            <div class="col col-15 text-left"  ng-click="goBack()">取消</div>
            <div class="col col-70 text-center">故障信息维护
            </div>
            <div class="col col-15 text-right" ng-click="keep()">保存</div>
        </div>
    </ion-header-bar>
    <ion-content>
        <div class="Car_countentbasic">
            <div class="Car_countentbasicinfo">故障信息</div>
            <div class="Car_countentbasicline"></div>
            <div class="Car_countentbasicclok"></div>
        </div>
        <div class="contentAll">
            <div class="row itemContent row-center">
                <div class="col-38 col-center">故障发生场景：</div>
                <div class="col-62 col-center">
                    <select class="selectC">
                         <option selected>未装车</option>
                    </select>
                </div>
            </div>

            <div class="row itemContent row-center">
                <div class="col-38 col-center">责任方：</div>
                <div class="col-62 col-center">
                    <select class="selectC">
                        <option selected>user</option>
                    </select>
                </div>
            </div>

            <div class="row itemContent row-center">
                <div class="col-38 col-center">故障分类：</div>
            <div class="col-62 col-center">
                <select class="selectC">
                    <option selected>安全</option>
                </select>
            </div>
            </div>

            <div class="row itemContent row-center">
                <div class="col-38 col-center">部件分类：</div>
                <div class="col-62 col-center">
                    <select class="selectC">
                         <option selected>高压盒</option>
                    </select>
                </div>
            </div>
            <div class="row itemContent row-center">
                <div class="col-38 col-center">部件：</div>
                <div class="col-62 col-center">
                    <select class="selectC">
                        <option selected>主副继电器</option>
                    </select>
                </div>
            </div>
            <div class="row itemContent row-center">
                <div class="col-38 col-center">故障原因：</div>
                <div class="col-62 col-center">
                    <select class="selectC">
                        <option selected>工艺问题</option>
                    </select>
                </div>
            </div>
            <div class="row itemContentT ">
                <div class="col-38 ">注释：</div>
                <div class="col-62 col-center">
                    <textarea type="text"placeholder="请输入值" class="textareaCss"></textarea>
                </div>
            </div>
            <div class="row itemContentT ">
                <div class="col-38 ">处理结果：</div>
                <div class="col-62 col-center">
                    <textarea type="text"placeholder="请输入读取描述" class="textareaCss"></textarea>
                </div>
            </div>
            </div>
    </ion-content>
</ion-view>