<ion-view class="customer_Query">

    <div class="saleList">
        <ion-header-bar align-title="center" class="head pub-head">
            <div class="row row-center">
                <a class="col col-15 text-left goBack" ng-click="goBack()"><i class="ion-chevron-left"></i></a>
                <div class="col col-70 text-center">客户</div>
                <div class="col col-20 add" ng-click="customerPopover($event)" style="text-align: left">筛选</div>
            </div>
        </ion-header-bar>
        <form ng-submit="employeecustomerQuery()">
            <div class="pub-subhead bar bar-subheader">
                <div class="employeequery_headquery">
                    <i class="ion-ios-search employeequery_headqueryimg"></i>
                    <input type="search" class="employeequery_headqueryinput" ng-model="employeefiledvalue" ng-change="changev()" placeholder="请输入客户关键字"/>
                </div>
            </div>
        </form>
        <div class="employee_detail_countentbasic" style="margin-top: 93px;">
            <div class="employee_detail_countentbasicinfo">{{customerqueryTypeunit}}</div>
            <div class="employee_detail_countentbasicline" ng-class="employbasiclineflag?'employee_detail_countentbasiclinea':'employee_detail_countentbasiclineb'"></div>
            <div class="employee_detail_countentbasicclok" ng-class="employbasiclineflag?'employee_detail_countentbasiclocka':'employee_detail_countentbasiclockb'"></div>
        </div>
    </div>
    <ion-content style="margin-top:88px">
            <div ng-repeat="x in customerQuery_list" ng-click="customergodeatil(x)">
                <div class="item customer_Querylists">
                    <span>{{x.customername}}</span>
                    <img class="customer_Querylistsimg" src="img/employee/Shape@2x.png"></img>
                </div>
                <div class="employee_query_listline"></div>
            </div>
    </ion-content>
</ion-view>


