<ion-view class="customer_detail">
    <ion-slide-box on-slide-changed="slideChanged(index)" auto-play="false" show-pager="true" does-continue="false" acrtive-slide="activeSlide" ng-click="MyCtl()">
        <ion-slide>
            <div class="customer_backtopb" style="z-index:-1;padding-top:20px;height:156px">
                <div class="customer_detailtitle">
                    <div style="width:40px;height:40px;position: absolute;top: 20px;left: 5px;" ng-click="CustomergoBack()">
                        <i class="icon ion-ios-arrow-back publicheadtitlei" style="margin-top:0"></i>
                    </div>
                    <span class="customerdeatil_headtitlespan">客户详细信息</span>
                </div>
                <div class="customer_detailcontent">
                    <div class="customer_detailcontentname">
                        <div class="customer_detailcontentcicle"></div><span ng-bind="customerdetails.NAME_ORG1"></span>
                    </div>
                    <div class="customer_detailcontentaddress" style="max-width: 90%;overflow:hidden;white-space: nowrap;text-overflow: ellipsis;">
                        地址:<span ng-bind="customerdetails.NAME_CO" ng-if="customerDetailnameco"></span><span ng-bind="customerdetails.STR_SUPPL1" ng-if="customerDetailstrret"></span>
                        <span ng-bind="customerdetails.STR_SUPPL2" ng-if="customerDetailstrreth"></span><span ng-bind="customerdetails.STREET"></span>
                    </div>
                    <div class="customer_detailcontentphone" ng-click="customershowphone(customerdetails.MOB_NUMBER)">
                        <i class="icon ion-ios-telephone-outline customer_detailcontentphonei"></i>
                        <span style="margin-left: 4px;" ng-bind="customerdetails.MOB_NUMBER"></span>
                    </div>
                    <div class="customer_detailcontentphonespan" style="right:0">
                        NO:<span style=" margin-left: 10px;" ng-bind="customerdetails.PARTNER_ID"></span>
                    </div>
                </div>
            </div>
        </ion-slide>
        <ion-slide>
            <div class="customer_backtopb" style="z-index:-1;padding-top:20px;height:156px">
                <div class="customer_detailtitle">
                    <div style="width:40px;height:40px;position: absolute;top: 20px;left: 5px;" ng-click="CustomergoBack()">
                        <i class="icon ion-ios-arrow-back publicheadtitlei" style="margin-top:0"></i>
                    </div>
                    <span class="customerdeatil_headtitlespan">客户详细信息</span>
                </div>
                <div class="customer_detailcontent">
                    <div class="customer_detailcontentname">
                        名称2:<span ng-bind="customerdetails.NAME_ORG2"></span>
                    </div>
                    <div class="customer_detailcontentaddress">
                        名称3:<span ng-bind="customerdetails.NAME_ORG3"></span>
                    </div>
                    <div class="customer_detailcontentphone">
                        名称4:<span ng-bind="customerdetails.NAME_ORG4"></span>
                    </div>
                    <!--<div class="customer_detailcontentphone" style="top:54px" ng-if="customerDetailsearcho">-->
                        <!--搜索项:<span ng-bind="customerdetails.BU_SORT1"></span>-->
                    <!--</div>-->
                    <!--<div class="customer_detailcontentphone" style="top:72px" ng-if="customerDetailsearcht">-->
                        <!--搜索项2:<span ng-bind="customerdetails.BU_SORT2"></span>-->
                    <!--</div>-->
                </div>
            </div>
        </ion-slide>
    </ion-slide-box>
    <div class="item item-list-detail" style="padding: 0px 3px;border: none;margin-top: 5px;">
        <ion-scroll direction="x" scrollbar-x="false">
                    <span style="position: relative;margin-right:55px;" ng-repeat="lists in customer_detailstypes"  ng-click="gocustomerLists(lists)" >
                        <img class="customer_detail_countentbu image-list-thumb" ng-src="{{lists.imgurl}}" alt=""/>
                        <span class="customer_detail_countentimgbase">
                            {{lists.typemane}}
                        </span>
                    </span>
        </ion-scroll>
    </div>
    <div class="customer_detail_countentbasic">
        <div class="customer_detail_countentbasicinfo">基本信息</div>
        <div class="customer_detail_countentbasicline"></div>
        <div class="customer_detail_countentbasicclok"></div>
    </div>
    <ion-content style="margin-top:235px">
        <div class="customer_detail_countentlist">
            <div class="row" style="padding:5px 5px">
                <div class="col col-40" style="margin-left: 7px;">
                    注释
                </div>
                <div class="col col-60" style="color:#AEA3A3">
                    <span ng-bind="customerdetails.TDLINE"></span>
                </div>
            </div>
            <div class="employee_query_listline">
            </div>
            <div class="row" style="padding:5px 5px">
                <div class="col col-40" style="margin-left: 7px;">
                    角色
                </div>
                <div class="col col-60" style="color:#AEA3A3">
                    <span ng-bind="customerDroletype"></span>
                </div>
            </div>
            <div class="employee_query_listline">
            </div>
            <div class="row" style="padding:5px 5px" ng-if="customerDetailplayway">
                <div class="col col-40" style="margin-left: 7px;">
                    付款方式
                </div>
                <div class="col col-60" style="color:#AEA3A3">
                    <span ng-bind="customerdetails.ZZZLSCH"></span>
                </div>
            </div>
            <div class="employee_query_listline" ng-if="customerDetailplayway">
            </div>
            <div class="row" style="padding:5px 5px" ng-if="customerDetailplaydate">
                <div class="col col-40" style="margin-left: 7px;">
                    付款日历
                </div>
                <div class="col col-60" style="color:#AEA3A3">
                    <span ng-bind="customerdetails.ZZPAY_CLD"></span>
                </div>
            </div>
            <div class="employee_query_listline" ng-if="customerDetailplaydate">
            </div>
            <div class="row" style="padding:5px 5px" ng-if="customerDetailcheckdate">
                <div class="col col-40" style="margin-left: 7px;">
                    验收周期(天)
                </div>
                <div class="col col-60" style="color:#AEA3A3">
                    <span ng-bind="customerdetails.ZZACCEPTPERIOD"></span>
                </div>
            </div>
            <div class="employee_query_listline" ng-if="customerDetailcheckdate">
            </div>
            <div class="row" style="padding:5px 5px" ng-if="customerDetailwillcheckdate">
                <div class="col col-40" style="margin-left: 7px;">
                    预验收周期(天)
                </div>
                <div class="col col-60" style="color:#AEA3A3">
                    <span ng-bind="customerdetails.ZZACCEPTPERIOD2"></span>
                </div>
            </div>
            <div class="employee_query_listline" ng-if="customerDetailwillcheckdate">
            </div>

            <div class="row" style="padding:5px 5px" ng-if="customerDetailZzlyone">
                <div class="col col-40" style="margin-left: 7px;">
                    领域
                </div>
                <div class="col col-60" style="color:#AEA3A3">
                    <span ng-bind="customerdetails.ZZLY"></span>
                </div>
            </div>
            <div class="employee_query_listline" ng-if="customerDetailZzlyone">
            </div>
            <div class="row" style="padding:5px 5px" ng-if="customerDetailContains">
                <div class="col col-40" style="margin-left: 7px;">
                    份额
                </div>
                <div class="col col-60" style="color:#AEA3A3">
                    <span ng-bind="customerdetails.ZZKHMXFE"></span>
                </div>
            </div>
            <div class="employee_query_listline" ng-if="customerDetailContains">
            </div>
            <div class="row" style="padding:5px 5px" ng-if="customerDetailPrice">
                <div class="col col-40" style="margin-left: 7px;">
                    价格
                </div>
                <div class="col col-60" style="color:#AEA3A3">
                    <span ng-bind="customerdetails.ZZKHMXJG"></span>
                </div>
            </div>
            <div class="employee_query_listline" ng-if="customerDetailPrice">
            </div>

            <div class="row" style="padding:5px 5px" ng-if="customerDetailZzlytwo">
                <div class="col col-40" style="margin-left: 7px;">
                    领域
                </div>
                <div class="col col-60" style="color:#AEA3A3">
                    <span ng-bind="customerdetails.ZZLY02"></span>
                </div>
            </div>
            <div class="employee_query_listline" ng-if="customerDetailZzlytwo">
            </div>
            <div class="row" style="padding:5px 5px" ng-if="customerDetailAdvatage">
                <div class="col col-40" style="margin-left: 7px;">
                    长项
                </div>
                <div class="col col-60" style="color:#AEA3A3">
                    <span ng-bind="customerdetails.ZZKHMXCX"></span>
                </div>
            </div>
            <div class="employee_query_listline" ng-if="customerDetailAdvatage">
            </div>
            <div class="row" style="padding:5px 5px" ng-if="customerDetailEvent">
                <div class="col col-40" style="margin-left: 7px;">
                    项目
                </div>
                <div class="col col-60" style="color:#AEA3A3">
                    <span ng-bind="customerdetails.ZZKHMXXM"></span>
                </div>
            </div>
            <div class="employee_query_listline" ng-if="customerDetailEvent">
            </div>

            <div class="row" style="padding:5px 5px" ng-click="customerdeatil_querynumber(customerdetails)">
                <div class="col col-40">
                    <img src="img/employee/ephone@2x.png" style="width:18px;height:15px;float: left;margin-top:2px;margin-left:8px;margin-right: 5px"/>
                    电话/分机
                </div>
                <div class="col col-60" style="color:#4A90E2;margin-left: 7px;">
                    <span ng-bind="customerdetails.TEL_NUMBER"></span>-<span ng-bind="customerdetails.TEL_EXTENS"></span>
                </div>
            </div>
            <div class="employee_query_listline"></div>
            <div class="row" style="padding:5px 5px" ng-click="customershowphone(customerdetails.MOB_NUMBER)" ng-if="customerDetailmobilenum">
                <div class="col col-40">
                    <img src="img/employee/ephone@2x.png" style="width:18px;height:15px;float: left;margin-top:2px;margin-left:8px;margin-right: 5px"/>
                    移动电话
                </div>
                <div class="col col-60" style="color:#4A90E2;margin-left: 7px;">
                    <span ng-bind="customerdetails.MOB_NUMBER"></span>
                </div>
            </div>
            <div class="employee_query_listline" ng-if="customerDetailmobilenum"></div>

            <div class="row" style="padding:5px 5px" ng-click="employeeshowphone(userdetailval.phoneNumber)">
                <div class="col col-40">
                    <img src="img/customer/customerchuanz2x.png" class="customer_detail_countentlistimg"/>
                    传真/分机
                </div>
                <div class="col col-60" style="color:#AEA3A3;margin-left: 7px;">
                    <span ng-bind="customerdetails.FAX_NUMBER"></span>-<span ng-bind="customerdetails.FAX_EXTENS"></span>
                </div>
            </div>
            <div class="employee_query_listline">
            </div>
            <div class="row" style="padding:5px 5px" ng-click="customermailcopyvalue(customerdetails.SMTP_ADDR)">
                <div class="col col-40">
                    <img src="img/customer/mailimg@2x.png" class="customer_detail_countentlistimg"/>
                    电子邮件
                </div>
                <div class="col col-60" style="color:#4A90E2;margin-left: 10px;">
                    <span ng-bind="customerdetails.SMTP_ADDR"></span>
                </div>
            </div>
            <div class="employee_query_listline">
            </div>
            <div class="row" style="padding:5px 5px" ng-click="customeropenbrser(customerdetails.URI_SRCH)">
                <div class="col col-40">
                    <img src="img/customer/customerwangz@2x.png" class="customer_detail_countentlistimg"/>
                    网站
                </div>
                <div class="col col-60" style="color:#4A90E2;margin-left: 10px;">
                    <span ng-bind="customerdetails.URI_SRCH"></span>
                </div>
            </div>
            <div class="employee_query_listline">
            </div>
            <div class="row" style="padding:5px 5px">
                <div class="col col-40" style="margin-left: 7px;">
                    负责员工
                </div>
                <div class="col col-60" style="color:#AEA3A3">
                    <span ng-bind="customerdetails.PARTNER_AUTO_COMPLETE"></span><span style="padding-left: 1em" ng-bind="customerdetails.PARTNER_NO"></span>
                </div>
            </div>
            <div class="employee_query_listline">
            </div>
            <!--<div class="row" style="padding:5px 5px">
                <div class="col col-40" style="margin-left: 7px;">
                    员工标识
                </div>
                <div class="col col-60" style="color:#AEA3A3">
                    <span ng-bind="customerdetails.PARTNER_NO"></span>
                </div>
            </div>
            <div class="employee_query_listline">
            </div>-->
            <div class="row" style="padding:5px 5px" ng-if="customerDetailcontrary">
                <div class="col col-40" style="margin-left: 7px;">
                    国家
                </div>
                <div class="col col-60" style="color:#AEA3A3">
                    <span ng-bind="customerdetails.LANDX"></span>
                </div>
            </div>
            <div class="employee_query_listline" ng-if="customerDetailcontrary">
            </div>
            <div class="row" style="padding:5px 5px">
                <div class="col col-40" style="margin-left: 7px;">
                    省份
                </div>
                <div class="col col-60" style="color:#AEA3A3">
                    <span ng-bind="customerdetails.BEZEI"></span>
                </div>
            </div>
            <div class="employee_query_listline">
            </div>
            <div class="row" style="padding:5px 5px">
                <div class="col col-40" style="margin-left: 7px;">
                    城市
                </div>
                <div class="col col-60" style="color:#AEA3A3">
                    <span ng-bind="customerdetails.CITY1"></span>
                </div>
            </div>
            <div class="employee_query_listline">
            </div>
            <div class="row" style="padding:5px 5px">
                <div class="col col-40" style="margin-left: 7px;">
                    地址
                </div>
                <div class="col col-60" style="color:#AEA3A3">
                    <span ng-bind="customerdetails.NAME_CO" ng-if="customerDetailnameco"></span><span ng-bind="customerdetails.STR_SUPPL1" ng-if="customerDetailstrret"></span>
                    <span ng-bind="customerdetails.STR_SUPPL2" ng-if="customerDetailstrreth"></span><span ng-bind="customerdetails.STREET"></span>
                </div>
            </div>
            <div class="employee_query_listline">
            </div>
            <!--<div class="row" style="padding:5px 5px">
                <div class="col col-40" style="margin-left: 7px;">
                    门牌号
                </div>
                <div class="col col-60" style="color:#AEA3A3">
                    <span ng-bind="customerdetails.HOUSE_NUM1"></span>
                </div>
            </div>
            <div class="employee_query_listline">
            </div>-->
            <div class="row" style="padding:5px 5px">
                <div class="col col-40" style="margin-left: 7px;">
                    邮编
                </div>
                <div class="col col-60" style="color:#AEA3A3">
                    <span ng-bind="customerdetails.POST_CODE1"></span>
                </div>
            </div>
            <div class="employee_query_listline">
            </div>

            <div class="row" style="padding:5px 5px">
                <div class="col col-40" style="margin-left: 7px;">
                    语言
                </div>
                <div class="col col-60" style="color:#AEA3A3">
                    <span ng-bind="customerdetails.SPTXT"></span>
                </div>
            </div>
            <div class="employee_query_listline">
            </div>
        </div>
    </ion-content>
    <ion-footer-bar ng-if="customerdetails.ZEDIT_FLAG=='Y'" style="height:60px;background: transparent;">
        <div class="customercontentbutton" ng-click="CustomerDeatilEditvalue()">
            编辑
        </div>
    </ion-footer-bar>
</ion-view>