<ion-view class="customer_Query">

    <div class="saleList">
        <ion-header-bar align-title="center" class="head pub-head" style="height:88px">
            <div class="row">
                <a class="col col-15 text-left goBack" ng-click="goBack()"><i class="ion-chevron-left"></i></a>
                <div class="col col-70 text-center">客户</div>
                <div class="col col-20 add" ng-click="customerPopover($event)" style="text-align: left">筛选</div>
            </div>
        </ion-header-bar>
            <div class="pub-subhead bar bar-subheader">
                <div class="employeequery_headquery">
                    <i class="ion-ios-search employeequery_headqueryimg"></i>
                    <input id="customerinputvalueid" class="employeequery_headqueryinput" type="text" ng-model="customer.customerfiledvalue" placeholder="请输入客户关键字">
                    <i id="customerqueryinput" class="icon ion-ios-close-empty contactqueryinputdelete" ng-click="customeriputDeletevalue()"></i>
                </div>
            </div>
        <div ng-if="customer_queryflag" class="employee_detail_countentbasic androidcustomertop iostop">
            <div class="employee_detail_countentbasicinfo">{{customerqueryTypeunit}}</div>
            <div class="employee_detail_countentbasicline" ng-class="employbasiclineflag?'employee_detail_countentbasiclinea':'employee_detail_countentbasiclineb'"></div>
            <div class="employee_detail_countentbasicclok" ng-class="employbasiclineflag?'employee_detail_countentbasiclocka':'employee_detail_countentbasiclockb'"></div>
        </div>
    </div>
    <ion-content ng-class="customer_queryflag?'customercontenttopt':'customercontenttopf'">
        <!--显示常用联系人-->
        <div ng-if="!customer_queryflag" ng-repeat="x in usuallycustomerQuery_list" ng-click="customergodeatil(x)">
            <div class="item customer_Querylists">
                <span>{{x.NAME_ORG1}}</span>
                <img class="customer_Querylistsimg" src="img/employee/Shape@2x.png"></img>
            </div>
            <div class="employee_query_listline"></div>
        </div>

        <!--搜索历史-->
        <div ng-if="!customer_queryflag" class="employee_query_historys">
            <div class="employee_query_historysspan">
                搜索历史
            </div>
            <div class="employee_query_historylist" ng-repeat="list in customer_query_historylists" ng-click="CustomerHisGetvalue(list)">
                {{list.name}}
            </div>
            <div class="employee_query_historyclear" ng-click="CustomerClearhis()">
                清楚历史记录
            </div>
        </div>
            <div ng-if="customer_queryflag" ng-repeat="x in customerQuery_list" ng-click="customergodeatil(x)">
                <div class="item customer_Querylists">
                    <span>{{x.NAME_ORG1}}</span>
                    <img class="customer_Querylistsimg" src="img/employee/Shape@2x.png"></img>
                </div>
                <div class="employee_query_listline"></div>
            </div>
        <ion-infinite-scroll on-infinite="customerLoadmore()" ng-if="customerisshow"></ion-infinite-scroll>
    </ion-content>
</ion-view>


