<ion-popover-view class="createSaleActPop saleDetailPop own-animated slideInUp"
                  style="animation-duration:.4s;margin-top: 50%;" ng-class="salesGroup.length>1?'saleActLongHeight':'saleActShortHeight'">
    <div class="myHeader">
        <div class="headerText">请选择</div>
    </div>
    <ion-content has-bouncing="false" scroll="false">
        <div class="row row-center">
            <div>活动类型</div>
            <div class="select">
                <select ng-model="pop.type" ng-options="x as x.text for x in createPopTypes">{{pop.type}}</select>
            </div>
        </div>
        <div class="row row-center" ng-if="salesGroup.length>1">
            <div>销售办公室</div>
            <div class="select">
                <select ng-model="pop.saleOffice" ng-options="x as x.text for x in salesGroup">{{pop.text}}</select>
            </div>
        </div>
        <button ng-click="showCreateModal()" class="save">完成</button>
        <div>
            <button ng-click="createPop.hide()" class="cancel">取消</button>
        </div>
    </ion-content>
</ion-popover-view>