<ion-modal-view class="referModal">
    <div class="saleList">
        <ion-header-bar class="head" no-tap-scroll="true">
            <div class="row row-center">
                <div class="text-center selections" ng-click="changeReferMoreflag()">
                    {{selectPopText}}<img class="chanceImg" src="img/saleList/oval.png">
                </div>
                <div class="col input">
                    <div class="row row-center no-padding">
                        <i class="ion-ios-search"></i>
                        <input id="referSearchId" type="search" ng-model="input.search" placeholder="请输入活动关键字">
                        <i class="ion-ios-close" ng-if="input.search" ng-click="initSearch()"></i>
                    </div>
                </div>
                <div class="col col-15 text-center cancel" ng-click="referModal.hide()">取消</div>
            </div>
        </ion-header-bar>
    </div>
    <div class="addRelationsModal">
        <ion-content class="content has-header">
            <div ng-class="referMoreflag?'own-backDrop-on':'own-backDrop-off'" ng-click="changeReferMoreflag()"></div>
            <div class="selectionsDown pushDown-animated refer-selectionsDown"
                 ng-class="{'slideOutUp':!referMoreflag&&isDropShow,'fadeInDown':referMoreflag}"
                 ng-show="referMoreflag">
                <ion-list>
                    <ion-item ng-repeat="x in chancePopArr" ng-class="{'selected':selectPopText==x.text}" ng-click="selectPop(x)">{{x.text}}</ion-item>
                </ion-list>
            </div>
            <ion-list>
                <ion-item class="selectItem" ng-repeat="x in referArr | filter:input.search" ng-click="selectModal(x)">
                    <span ng-bind-html="x.text | highlight:input.search"></span> <img ng-if="!x.flag" class="selectImg" src="img/saleList/blank.png">
                    <img ng-if="x.flag" class="selectImg" src="img/saleList/selected.png">
                </ion-item>
            </ion-list>
        </ion-content>
    </div>
</ion-modal-view>