<ion-view  class="worksheetReportedMaintain"  align-title="center">
    <ion-header-bar align-title="center" class="bar  bar-header disable-user-behavior" >
        <div class="row row-center title rowTitle">
            <div class="col col-15 text-left fontColor" ng-click="$ionicGoBack();">取消</div>
            <div class="col col-70 text-center fontColor">报工单信息维护
            </div>
            <div class="col col-15 text-right fontColor" ng-click="comfirm">确定</div>
        </div>
    </ion-header-bar>
    <ion-content>
        <div class="rowList" ng-repeat="info  in listInfos">
            <div class="row row-center">
                <div class="col col-7 col-center">
                    <div class="pic"></div>
                </div>
                <div class="col col-center">
                    {{info.name}}
                </div>
            </div>
            <div class="row row-center">
                    <div class="col detailColor">产品编码：{{info.code}}</div>
            </div>
            <div class="row row-center">
                <div class="col col-50 col-center detailColor">
                    数量：{{info.num}}
                </div>
                <div class="col col-50 text-right">
                    <i class="ion-ios-minus-outline iStyle" ng-click="reduce(info)"></i>
                    <input type="number" class="inputSmall"  ng-model="info.num" ng-blur="ngBlur()">
                    <i class="ion-ios-plus-outline iStyle" ng-click="add(info)"></i>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>