<ion-view  id="worksheetReportCreate"  align-title="center">
    <ion-header-bar align-title="center" class="bar bar-positive bar-header disable-user-behavior" >
        <div class="row row-center title rowTitle">
            <div class="col col-15 text-left" ng-click="$ionicGoBack();">取消</div>
            <div class="col col-70 text-center">创建报工单
            </div>
            <div class="col col-15 text-right" ui-sref="worksheetReportedInfosList">创建</div>
        </div>
    </ion-header-bar>
    <ion-content>
        <div class="Car_countentbasic">
            <div class="Car_countentbasicinfo">基本信息</div>
            <div class="Car_countentbasicline"></div>
            <div class="Car_countentbasicclok"></div>
        </div>
        <div class="contentAll">
            <div class="row itemContent row-center">
                <div class="col-42 col-center">报工单类型：</div>
                <div class="col-58 col-center"  style="color:#A8A49F">{{}}</div>
            </div>
            <div class="row itemContent row-center">
                <div class="col-42 col-center">报工单单号：</div>
                <div class="col-58 fontColor col-center">{{}}</div>
            </div>

            <div class="row row-center itemContent">
                <div class="col-42 col-center">简单描述：</div>
                <div class="col-58  col-center"><input type="text" class="fontColor" ng-model="worksheetReport.worksheetDes"></div>
            </div>
            <div class="row itemContentT ">
                <div class="col-25 ">注释：</div>
                <div class="col-75 col-center">
                    <textarea type="text"placeholder="请输入值" class="textareaCss fontColor" ng-model="worksheetReport.remark"></textarea>
                </div>
            </div>
            <div class="row itemContent row-center">
                <div class="col-42 col-center">状态：</div>
                <div class="col-58 col-center">
                    <select class="selectC">
                        <option selected>未处理</option>
                    </select>
                </div>
            </div>
            <div class="row row-center itemContent">
                <div class="col-42 col-center">影响：</div>
                <div class="col-58 fontColor col-center">
                    <select class="selectC">
                        <option selected>灾难</option>
                    </select>
                </div>
            </div>

            <div class="row row-center itemContent">
                <div class="col-42 col-center">外服人员：</div>
                <div class="col-48 fontColor col-center">王伟</div>
                <div><img class="relatedPart_listfor" src="img/employee/Shape@2x.png">
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>