<ion-view class="customerChance_Query">
    <div class="saleList">
        <ion-header-bar align-title="center" class="head pub-head">
            <div class="row row-center">
                <a class="col col-15 text-left goBack" ng-click="goBack()"><i class="ion-chevron-left"></i></a>
                <div class="col col-70 text-center">机会</div>
                <div class="col col-20 add" ng-click="customerChancePopover()" style="text-align: left">筛选</div>
            </div>
        </ion-header-bar>
    </div>
    <ion-content>
        <div class="row">
            <div class="col col-60">
                <div class="customerChance_contentheadbu">福州龙福汽车有限责任公司</div>
            </div>
            <div class="col col-40" style="padding-left:0;">
                <div class="customerChance_contentheadbusty">
                    关系建立<img src="img/customer/customerdel@2x.png" class="customerChance_contentheaddel"></img>
                </div>
            </div>
        </div>

        <div class="customerChance_query_list">
            <div class="row" style="padding:5px 5px">
                <div class="col col-6" style="margin-left:5px">
                    <div class="customerkey_query_listcicle"></div>
                </div>
                <div class="col col-94" style="text-align: left">
                    <span style="vertical-align: middle">贵GU-1233I3MSKJJEJE</span>
                </div>
            </div>
            <div class="row">
                <div class="col col-40" style="text-align: left;padding-left:10px">
                    潜在客户:&nbsp;<span style="color:#D2D2D2">BYD</span>
                </div>
                <div class="col col-60" style="text-align: right">
                    销售段:&nbsp;<span style="color:#D2D2D2">关系建立阶段</span>
                </div>
            </div>
            <div class="employee_query_listline">
            </div>
        </div>
    </ion-content>
</ion-view>


