<ion-view  id="worksheet-dealhistory-list-view" class="ws-dealhistory-list-public"  align-title="center">
    <!--ion-header-bar align-title="center" class="bar-positive">
		<div class="left-back" ng-click="$ionicGoBack();">
			<i class="ion-ios-arrow-back"></i>
		</div>
		<div class="title">交易历史列表</div>
	</ion-header-bar-->
    <div class="saleList">
        <ion-header-bar align-title="center" class="head pub-head">
            <div class="row row-center">
                <a class="col col-15 text-left goBack" ng-click="goBack()"><i class="ion-chevron-left"></i></a>
                <div class="col col-70 text-center">交易历史列表</div>
                <div class="col col-15 add"></div>
            </div> 
        </ion-header-bar>
        <!--div class="pub-subhead bar bar-subheader">
            <div class="row row-center no-padding" ng-click="changeSearch()">
                <i class="ion-ios-search"></i>请输入活动关键字
            </div>
        </div-->
    </div>
    <ion-content on-refresh="" has-bouncing="false">
            
            <div class="deal-h-list">
                <a class="deal-h-item animated flipInX" ng-repeat="item in datas.history" ng-click="enterDetail(item);">
                    <div class="left"><span></span></div>
                    <div class="center-text">
                        <div class="h-info-line">
                            工单类型: <span class="color-eee" ng-bind="item.TYPE_DESC"></span>
                        </div>
                        <div class="h-info-line times-line color-eee">
                            <span ng-bind-html="(item.START_DATE)+' '+(item.START_TIME) +' - '+ (item.END_DATE)+' '+(item.END_TIME)"></span>
                        </div>
                        <div class="h-info-line desc-line">
                            单据描述: 
                            <span class="color-eee" ng-bind="item.DESCRIPTION"></span> 
                            <span><i class="color-eee ion-android-arrow-forward"></i></span>
                        </div>
                    </div>
                </a>
            </div>
            
            <div class="deal-h-list-no-data" style="height: 3rem;line-height: 3rem;text-align: center;color: #ADAAAA;" ng-if="datas.history.length <= 0">
                暂无交易历史
            </div>
            
    </ion-content>
            
</ion-view>