<ion-view class="customerActivity_Query">

    <div class="saleList">
        <ion-header-bar align-title="center" class="head pub-head">
            <div class="row row-center">
                <a class="col col-15 text-left goBack" ng-click="goBack()"><i class="ion-chevron-left"></i></a>
                <div class="col col-70 text-center">活动</div>
                <div class="col col-15 add">
                    <img src="img/employee/increase@2x.png" ng-click="customerActivityPopoveropen()"/>
                </div>
            </div>
        </ion-header-bar>
        <form ng-submit="employeecustomerQuery()">
            <div class="pub-subhead bar bar-subheader">
                <div class="employeequery_headquery">
                    <i class="ion-ios-search employeequery_headqueryimg"></i>
                    <input type="search" class="employeequery_headqueryinput" ng-model="employeefiledvalue" ng-change="employeecustomerQuery()" placeholder="请输入活动描述"/>
                </div>
            </div>
        </form>
    </div>
    <!--<ion-header-bar style="height:88px">-->
        <!--<div class="employeecustomer_head">-->
            <!--<div class="employeecustomer_headtitle">-->
                <!--<div style="width:40px;height:40px;position: absolute;top: 5px;left: 5px;" ng-click="goBack()">-->
                    <!--<i class="icon ion-ios-arrow-back publicheadtitlei"></i>-->
                <!--</div>-->
                <!--<span class="employeecustomer_headtitlespan" style="padding-left:40px">活动</span>-->
                <!--<img class="customeractivity_headtitleimg" src="img/employee/increase@2x.png" ng-click="customerActivityPopoveropen()"/>-->
            <!--</div>-->
            <!--<form ng-submit="employeecustomerQuery()">-->
                <!--<div class="employeecustomer_headquery">-->
                    <!--<input class="employeecustomer_headqueryinput" placeholder="请输入活动描述" type="text"/>-->
                    <!--<i class="ion-ios-search employeecustomer_headqueryimg"></i>-->
                <!--</div>-->
            <!--</form>-->
        <!--</div>-->
        <!--</ion-header-bar>-->
    <ion-content style="margin-top:44px">
        <div class="customerChance_query_list">
            <div class="row" style="padding:5px 5px">
                <div class="col col-100" style="text-align: left;padding-left: 10px;">
                    <span style="vertical-align: middle">贵GU-1233I3MSKJJEJE</span>
                </div>
            </div>
            <div class="row" style="font-size:12px">
                <div class="col col-45" style="text-align: left;padding-left:10px;">
                    开始日期:&nbsp;<span style="color:#D2D2D2">2016.03.09</span>
                </div>
                <div class="col col-30" style="font-size:12px">
                    类型:&nbsp;<span style="color:#D2D2D2">业务交流</span>
                </div>
                <div class="col col-30" style="text-align: left">
                    状态:&nbsp;<span style="color:#E24A76;font-size:14px">未处理</span>
                </div>
            </div>
            <div class="employee_query_listline">
            </div>
        </div>
    </ion-content>
</ion-view>


