#worksheet_sparePart{
  .backColor{
      background-color: white
  }
  .backHead{
    //$crm-subject-blue;
  }
  .textInfo{
    width: 25%;
    font-size: 16px;
    color: white;
    height: 27px;
    line-height: 27px;
    white-space:nowrap;
  }
  ion-content{
    //background-color: $crm-content-bgcolor;
    @include display-flex;
    @include flex-direction(column);
  }
  $diy:#92CB3A !default;
  //$diyS:white !default;
  $checkbox-off-border-diy:$diy !default;
  $checkbox-on-border-diy:$diy !default;
  .checkbox-diy{
    @include checkbox-style($checkbox-off-border-diy, $checkbox-on-border-diy, $checkbox-off-border-diy);
  }
  
  .left{
    //@include display-flex;
    //@include align-items(center);
    //width: 3.5rem;
    //text-align: center;
    label{
      border-width: 0px;
    }
    i.checkbox-icon{
      &:before{
        background-color: transparent;
        border-color: rgb(141,193,31);
        border: 2px solid rgb(141,193,31);
      }
      &:after{
        border-width: 3px;
        border-color: rgb(141,193,31);
        border-color: #8dc11f;
        width: 16px;
        height: 10px;
        top: 26%;
        left: 20%;
      }
    }
  }
  .line{
    width: 95%;
    margin: 0;
  }
  .inputSmall{
    background-color: #ECF0F0;
    width: 50%;
    height: 18px;
    margin:auto;
    //margin-top: 10px;
    border-radius:5px;
    display: inline-block;
    text-align: center;
  }
  .iStyle{
    display: inline-block;
    font-size: 20px;
    vertical-align: middle;
    color: #276DAC;
  }
  .selectC {
    /*Chrome和Firefox里面的边框是不一样的，所以复写了一下*/
    border: solid 0px white;

    /*很关键：将默认的select选择框样式清除*/
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
    width: 100%;
    /*在选择框的最右侧中间显示小箭头图片*/
    background: url("http://ourjs.github.io/static/2015/arrow.png") no-repeat scroll right center transparent;
    position:relative;left:0px;top:-2px;font-size:15px;line-height:24px;border:0px;color:#909993;
    /*为下拉小箭头留出一点位置，避免被文字覆盖*/
    padding-right: 14px;
  }
}


#worksheet_spareSelect{
  .saleListNew {
    .pub-head{
      background: $crm-subject-blue;
      color: white;
      padding-top: 5px;
      i{
        font-size: 25px;
      }
      .goBack{
        padding-left: 10px;
      }
      .add{
        text-align: right;
        padding-right: 10px;
        img{
          width: 25px;
          padding-top: 4px;
        }
      }
    }
    .pub-subhead{
      background: $crm-subject-blue;
      box-shadow: none;
      top:44px;
      padding:8px;
      display: flex;
      .row{
        background: white;
        border-radius: 5px;
        color: #A0A09F;
        font-size: 14px;
        i{
          font-size: 18px;
          padding: 0 10px;
        }
      }
    }
  }

  ion-header-bar{
    background-color: $crm-subject-blue;
    .rowTitle{
      margin-right: 0px;
      margin-left: 0px;
    }
    .left-back{
      font-size: 1.8rem;
      margin-left:-15px
    }
  }
  .backColor{
    background-color: white
  }
  .textInfo{
    width: 25%;
    font-size: 16px;
    color: white;
    height: 27px;
    line-height: 27px;
  }
  ion-content{
    //background-color: $crm-content-bgcolor;
    @include display-flex;
    @include flex-direction(column);

  }
  .itemAdd{
    padding: 5px 15px 1px 15px;
  }
  .itemDetail{
    border-bottom: 1px solid #D6D3CE;padding: 5px 0px 5px 0px
  }
  .line{
    margin: 5px 0 0 0;
  }
  .little{
    font-size: 10px;
  }
  .colorInfo{
    color: #3259A4;
  }
  .numDetail{
    padding: 5px 0 5px 5px
  }
  .pic{
    height: 14px;width: 14px;border-radius: 7px;border: 2px solid #92CB3A;
  }
  .selectC {
    border: solid 0px white;
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
    background: url("img/customer/sanjiao.png") no-repeat scroll right center transparent;
    position:relative;left:0px;top:-2px;font-size:15px;line-height:24px;border:0px;color:#909993;
    padding-right: 14px;
  }
}