
<ion-view  id="worksheet_sparePart"  align-title="center">
        <div class="saleList">
            <ion-header-bar align-title="center" class="head pub-head">
                <div class="row row-center">
                    <a class="col col-15 text-left goBack" ng-click="goUpdate()"><i class="ion-chevron-left"></i></a>
                    <div class="col col-70 text-center">备件申请选择
                    </div>
                    <div class="col col-15 text-right" ng-click="goDetailList()">暂存</div>
                </div>
            </ion-header-bar>
            <div class="pub-subhead bar bar-subheader">
                <div class="row row-center" style="width: 70%" ng-click="changeSearch()">
                    <i class="ion-ios-search"></i>请输入备件描述
                </div>
                <div class="textInfo text-right row-center" style="width: 30%" ng-click="selectInfos()">传输至SAP</div>
            </div>
        </div>
    </ion-header-bar>
    <ion-content class="" style="margin-top: 46px" scroll="false" has-bouncing="false" >
        <div class="list" style="background-color: white;margin-bottom: 0px">
            <div class="item" style="height: 65px">
                <h2 style="color: #276DAC">请选择</h2>
                <p>
                    <select class="selectC" ng-click="selectDetail(info)" ng-model="selectWarehouse">
                        <option selected value="" ng-repeat="wareHouseitem in wareHouse">{{wareHouseitem.ZZSTORAGE_DESC}}</option>
                    </select>
                </p>
            </div>
            <div align="center"><hr color="#276DAC" class="line" size="2"></div>
            </div>
            <!--<div class="list" style="background-color: white;overflow-y:scroll">-->
                <!--<div class="row" style="height: 65px;border-bottom: 1px solid #D6D3CE;margin-top: 0px;padding-bottom: 0px" ng-repeat="i in infos">-->
                    <!--<ion-checkbox  class="checkbox-balanced left" style="padding: 5px 0px 5px 0px;margin-left: -15px" >-->
                    <!--<div class="col-73" style="margin-left: 47px;margin-top: 5px">-->
                        <!--<h2>{{i.name}}</h2>-->
                        <!--<p style="font-size: 10px;margin-top: 5px">-->
                            <!--备件编码：{{i.code}}   标准使用数量：{{i.num}}-->
                        <!--</p>-->
                    <!--</div>-->
                    <!--</ion-checkbox>-->
                    <!--<div class="co col-27" style="margin:auto;text-align: center">-->
                        <!--<i class="ion-ios-minus-outline iStyle" ng-click="reduce(i)"></i>-->
                        <!--<input type="text" class="inputSmall"  ng-model="i.selectNum" ng-blur="ngBlur()">-->
                        <!--<i class="ion-ios-plus-outline iStyle" ng-click="add(i)"></i>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        </div>
        <ul class="list" style="overflow-y:scroll;padding: 0">
            <div class="row row-center" style="border-bottom: 1px solid #D6D3CE;margin: 0;padding:0" ng-repeat="i in infos">
                <div class="col col-center col-75" style="padding:5px 0 5px 0">
                <li class="item item-checkbox" style="padding:0px 0px 0px 43px;" >
                    <label class="checkbox checkbox-diy" style="padding:7px 0 7px 0">
                        <input type="checkbox" name="selectSparePart" value="{{i}}">
                    </label>

                            <div class="list">
                            <h2>{{i.SHORT_TEXT}}</h2>
                            <p style="font-size: 10px;margin-top: 5px">
                                备件编码：{{i.PRODUCT_ID}}   标准使用数量：{{i.AMOUNT}}
                            </p>
                            </div>
                        </div>
                </li>
                <div class="col-25 col-center" style="margin:auto;">
                    <i class="ion-ios-minus-outline iStyle" ng-click="reduce(i)"></i>
                    <input type="text" class="inputSmall"  ng-model="i.APPLY_NUM" ng-blur="ngBlur()">
                    <i class="ion-ios-plus-outline iStyle" ng-click="add(i)"></i>
                </div>
            </div>
            <div class="row row-center" style="height: 48px;font-size: 16px;text-align: center;" ng-if="goMore" ng-click="goLoadMore()">
                <div class="col col-center">点击加载更多...</div>
            </div>
            <div class="is-loading"  style="text-align:center;margin-top:1rem;" ng-if="goLoad">
                <ion-spinner icon="" class="spinner spinner-ios"></ion-spinner>
            </div>
            <div class="row row-center" style="height: 48px;font-size: 16px;text-align: center;" ng-if="goNo">
                <div class="col col-center">没有更多内容...</div>
            </div>
        </ul>
    </ion-content>
</ion-view>